html, body, div, span, applet,
object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup,
menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%; }

a, a:hover,
a:visited,
a:focus,
a:active {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  cursor: pointer;
  text-decoration: none; }

img {
  vertical-align: top; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clierfix::after {
  content: '';
  clear: both;
  display: block; }

a, a > span {
  position: relative;
  text-decoration: none;
  width: 100%;
  height: 100%;
  max-width: 30ex; }
  a:before, a:after, a > span:before, a > span:after {
    content: '';
    position: absolute;
    transition: transform .5s ease; }

.content {
  background: url("../img/bg_girl.jpg") center top no-repeat;
  background-size: cover;
  min-width: 768px;
  max-width: 1920px;
  height: 100vh;
  position: relative; }
  .content .media-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 86%;
    height: 41%;
    margin: auto;
    background-color: #f0e0e0;
    text-align: center;
    -webkit-transform: skewX(-12deg);
    -moz-transform: skewX(-12deg);
    -ms-transform: skewX(-12deg);
    -o-transform: skewX(-12deg);
    transform: skewX(-12deg); }
    .content .media-block .media-block__item {
      position: relative;
      float: left;
      width: 49%;
      height: 100%;
      background-size: cover;
      font: 38px arial,sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      color: #7e7e7e; }
      .content .media-block .media-block__item:hover {
        color: #efe70e; }
    .content .media-block .left {
      background: url("../img/men_inactive.jpg") center center no-repeat; }
      .content .media-block .left:hover {
        background: url("../img/men_active.jpg") center center no-repeat; }
    .content .media-block .right {
      background: url("../img/girl_inactive.jpg") center center no-repeat; }
      .content .media-block .right:hover {
        background: url("../img/girl_active.jpg") center center no-repeat; }

.animated-effect {
  display: inline-block;
  overflow: hidden; }
  .animated-effect:before, .animated-effect:after {
    right: 0;
    bottom: 0;
    background: #bfb80b; }
  .animated-effect:before {
    width: 100%;
    height: 10px;
    transform: translateX(100%); }
  .animated-effect:after {
    width: 10px;
    height: 100%;
    transform: translateY(-100%); }
  .animated-effect > span {
    display: block; }
    .animated-effect > span:before, .animated-effect > span:after {
      left: 0;
      top: 0;
      background: #bfb80b; }
    .animated-effect > span:before {
      width: 100%;
      height: 10px;
      transform: translateX(-100%); }
    .animated-effect > span:after {
      width: 10px;
      height: 100%;
      transform: translateY(100%); }
    .animated-effect > span p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .animated-effect:hover:before, .animated-effect:hover:after, .animated-effect:hover > span:before, .animated-effect:hover > span:after {
    transform: translate(0, 0); }

/*# sourceMappingURL=main.css.map */
