$fontArial:   "Arial";
$fontUbuntuM: "Ubuntu Medium";
$fontUbuntuL: "Ubuntu Light";
$fontUbuntuC: "Ubuntu Condensed Regular";
$fontAmesome:  "FontAwesome";


$colorGrey: #8a8a8a;

$colorBackgroundFooter: #35383c;

$colorlightGrey: #e8e8e8;

$colorDarkbrown: #2a2d32;

$colorBrow: #35383c;

$colorBlue: #248cec;

$colorGolg: #f4b60d;

$colorWhite: #ffffff;

$colorNews: #f7f7f7;

$colorBlack: #000;

$borderBlack: 1px solid black;

$maxwidth: 1160px;
