@charset "UTF-8";

@font-face {
    font-family: 'OpenSansHebrew';
    src: url('../fonts/opensanshebrew-regular.eot');
    src: url('../fonts/opensanshebrew-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-regular.woff') format('woff'),
         url('../fonts/opensanshebrew-regular.ttf') format('truetype'),
         url('../fonts/opensanshebrew-regular.svg#open_sans_hebrewregular') format('svg');
    font-weight: 400;
    font-style: normal;
      font-display: swap;
}
@font-face {
    font-family: 'OpenSansHebrew';
    src: url('../fonts/opensanshebrew-italic.eot');
    src: url('../fonts/opensanshebrew-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-italic.woff2') format('woff2'),
         url('../fonts/opensanshebrew-italic.woff') format('woff'),
         url('../fonts/opensanshebrew-italic.ttf') format('truetype'),
         url('../fonts/opensanshebrew-italic.svg#open_sans_hebrewitalic') format('svg');
    font-weight: 400;
    font-style: italic;
      font-display: swap;
}
@font-face {
    font-family: 'OpenSansHebrew';
    src: url('../fonts/opensanshebrew-bold.eot');
    src: url('../fonts/opensanshebrew-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-bold.woff') format('woff'),
         url('../fonts/opensanshebrew-bold.ttf') format('truetype'),
         url('../fonts/opensanshebrew-bold.svg#open_sans_hebrewbold') format('svg');
    font-weight: 700;
    font-style: normal;
      font-display: swap;
}
@font-face {
    font-family: 'OpenSansHebrew';
    src: url('../fonts/opensanshebrew-bolditalic.eot');
    src: url('../fonts/opensanshebrew-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-bolditalic.woff2') format('woff2'),
         url('../fonts/opensanshebrew-bolditalic.woff') format('woff'),
         url('../fonts/opensanshebrew-bolditalic.ttf') format('truetype'),
         url('../fonts/opensanshebrew-bolditalic.svg#open_sans_hebrewbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
      font-display: swap;
}
@font-face {
    font-family: 'OpenSansHebrew';
    src: url('../fonts/opensanshebrew-extrabold.eot');
    src: url('../fonts/opensanshebrew-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-extrabold.woff2') format('woff2'),
         url('../fonts/opensanshebrew-extrabold.woff') format('woff'),
         url('../fonts/opensanshebrew-extrabold.ttf') format('truetype'),
         url('../fonts/opensanshebrew-extrabold.svg#open_sans_hebrewextra_bold') format('svg');
    font-weight: 900;
    font-style: normal;
      font-display: swap;
}
@font-face {
    font-family: 'OpenSansHebrew';
    src: url('../fonts/opensanshebrew-extrabolditalic.eot');
    src: url('../fonts/opensanshebrew-extrabolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-extrabolditalic.woff2') format('woff2'),
         url('../fonts/opensanshebrew-extrabolditalic.woff') format('woff'),
         url('../fonts/opensanshebrew-extrabolditalic.ttf') format('truetype'),
         url('../fonts/opensanshebrew-extrabolditalic.svg#open_sans_hebrewXBdIt') format('svg');
    font-weight: 900;
    font-style: italic;
      font-display: swap;
}
@font-face {
    font-family: 'OpenSansHebrew';
    src: url('../fonts/opensanshebrew-light.eot');
    src: url('../fonts/opensanshebrew-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-light.woff2') format('woff2'),
         url('../fonts/opensanshebrew-light.woff') format('woff'),
         url('../fonts/opensanshebrew-light.ttf') format('truetype'),
         url('../fonts/opensanshebrew-light.svg#open_sans_hebrewlight') format('svg');
    font-weight: 200;
    font-style: normal;
      font-display: swap;
}
@font-face {
    font-family: 'OpenSansHebrew';
    src: url('../fonts/opensanshebrew-lightitalic.eot');
    src: url('../fonts/opensanshebrew-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-lightitalic.woff2') format('woff2'),
         url('../fonts/opensanshebrew-lightitalic.woff') format('woff'),
         url('../fonts/opensanshebrew-lightitalic.ttf') format('truetype'),
         url('../fonts/opensanshebrew-lightitalic.svg#open_sans_hebrewlight_italic') format('svg');
    font-weight: 200;
    font-style: italic;
      font-display: swap;
}


@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/fa-brands-400.eot");
  src: url("../fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-brands-400.woff") format("woff"), url("../fonts/fa-brands-400.ttf") format("truetype"), url("../fonts/fa-brands-400.svg#fontawesome") format("svg"); }
.fab {
  font-family: 'Font Awesome 5 Brands'; }

.fa,
.far,
.fas {
  font-family: 'Font Awesome 5 Free'; }

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-display: auto;
  src: url("../fonts/fa-regular-400.eot");
  src: url("../fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.ttf") format("truetype"), url("../fonts/fa-regular-400.svg#fontawesome") format("svg"); }
.far {
  font-weight: 400; }

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  font-display: auto;
  src: url("../fonts/fa-solid-900.eot");
  src: url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.ttf") format("truetype"), url("../fonts/fa-solid-900.svg#fontawesome") format("svg"); }
.fa,
.fas {
  font-weight: 900; }

.fa,
.fab,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-facebook-f::before {
    content: "\f39e";
}
.fa-twitter::before {
    content: "\f099";
}
.fa-instagram::before {
    content: "\f16d";
}
.fa-rss::before {
    content: "\f09e";
}
.fa-sitemap::before {
    content: "\f0e8";
}
.fa-angle-up::before {
    content: "\f106";
}
.fa.fa-calendar::before {
    content: "\f073";
}
.fa-vk:before {
  content: "\f189"; }
  .fa-youtube:before {
    content: "\f167"; }
    .fa-telegram-plane:before {
  content: "\f3fe"; }
