$fontMain: 'OpenSansHebrew', 'Helvetica', sans-serif;
$primary-color: #B1B0B8;
$primary-color-text: #555;
$primary-color-link: #000;
$primary-color-link-hover: #1955a5;
$primary-color-title: #121212;
$color-btn: #61CE70;
$color-btn-hover: #477E4E;


// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: transporent;
$nav-font-color: #B1AFAF;
$link-hover-color: #2581DC;

@charset "UTF-8";

@font-face {
    font-family: 'OpenSansHebrew';
    src: url('../fonts/opensanshebrew-regular.eot');
    src: url('../fonts/opensanshebrew-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-regular.woff') format('woff'),
         url('../fonts/opensanshebrew-regular.ttf') format('truetype'),
         url('../fonts/opensanshebrew-regular.svg#open_sans_hebrewregular') format('svg');
    font-weight: 400;
    font-style: normal;
      font-display: swap;
}
@font-face {
    font-family: 'OpenSansHebrew';
    src: url('../fonts/opensanshebrew-italic.eot');
    src: url('../fonts/opensanshebrew-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-italic.woff2') format('woff2'),
         url('../fonts/opensanshebrew-italic.woff') format('woff'),
         url('../fonts/opensanshebrew-italic.ttf') format('truetype'),
         url('../fonts/opensanshebrew-italic.svg#open_sans_hebrewitalic') format('svg');
    font-weight: 400;
    font-style: italic;
      font-display: swap;
}
@font-face {
    font-family: 'OpenSansHebrew';
    src: url('../fonts/opensanshebrew-bold.eot');
    src: url('../fonts/opensanshebrew-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-bold.woff') format('woff'),
         url('../fonts/opensanshebrew-bold.ttf') format('truetype'),
         url('../fonts/opensanshebrew-bold.svg#open_sans_hebrewbold') format('svg');
    font-weight: 700;
    font-style: normal;
      font-display: swap;
}
@font-face {
    font-family: 'OpenSansHebrew';
    src: url('../fonts/opensanshebrew-bolditalic.eot');
    src: url('../fonts/opensanshebrew-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-bolditalic.woff2') format('woff2'),
         url('../fonts/opensanshebrew-bolditalic.woff') format('woff'),
         url('../fonts/opensanshebrew-bolditalic.ttf') format('truetype'),
         url('../fonts/opensanshebrew-bolditalic.svg#open_sans_hebrewbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
      font-display: swap;
}
@font-face {
    font-family: 'OpenSansHebrew';
    src: url('../fonts/opensanshebrew-extrabold.eot');
    src: url('../fonts/opensanshebrew-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-extrabold.woff2') format('woff2'),
         url('../fonts/opensanshebrew-extrabold.woff') format('woff'),
         url('../fonts/opensanshebrew-extrabold.ttf') format('truetype'),
         url('../fonts/opensanshebrew-extrabold.svg#open_sans_hebrewextra_bold') format('svg');
    font-weight: 900;
    font-style: normal;
      font-display: swap;
}
@font-face {
    font-family: 'OpenSansHebrew';
    src: url('../fonts/opensanshebrew-extrabolditalic.eot');
    src: url('../fonts/opensanshebrew-extrabolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-extrabolditalic.woff2') format('woff2'),
         url('../fonts/opensanshebrew-extrabolditalic.woff') format('woff'),
         url('../fonts/opensanshebrew-extrabolditalic.ttf') format('truetype'),
         url('../fonts/opensanshebrew-extrabolditalic.svg#open_sans_hebrewXBdIt') format('svg');
    font-weight: 900;
    font-style: italic;
      font-display: swap;
}
@font-face {
    font-family: 'OpenSansHebrew';
    src: url('../fonts/opensanshebrew-light.eot');
    src: url('../fonts/opensanshebrew-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-light.woff2') format('woff2'),
         url('../fonts/opensanshebrew-light.woff') format('woff'),
         url('../fonts/opensanshebrew-light.ttf') format('truetype'),
         url('../fonts/opensanshebrew-light.svg#open_sans_hebrewlight') format('svg');
    font-weight: 200;
    font-style: normal;
      font-display: swap;
}
@font-face {
    font-family: 'OpenSansHebrew';
    src: url('../fonts/opensanshebrew-lightitalic.eot');
    src: url('../fonts/opensanshebrew-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-lightitalic.woff2') format('woff2'),
         url('../fonts/opensanshebrew-lightitalic.woff') format('woff'),
         url('../fonts/opensanshebrew-lightitalic.ttf') format('truetype'),
         url('../fonts/opensanshebrew-lightitalic.svg#open_sans_hebrewlight_italic') format('svg');
    font-weight: 200;
    font-style: italic;
      font-display: swap;
}


@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/fa-brands-400.eot");
  src: url("../fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-brands-400.woff") format("woff"), url("../fonts/fa-brands-400.ttf") format("truetype"), url("../fonts/fa-brands-400.svg#fontawesome") format("svg"); }
.fab {
  font-family: 'Font Awesome 5 Brands'; }

.fa,
.far,
.fas {
  font-family: 'Font Awesome 5 Free'; }

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-display: auto;
  src: url("../fonts/fa-regular-400.eot");
  src: url("../fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.ttf") format("truetype"), url("../fonts/fa-regular-400.svg#fontawesome") format("svg"); }
.far {
  font-weight: 400; }

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  font-display: auto;
  src: url("../fonts/fa-solid-900.eot");
  src: url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.ttf") format("truetype"), url("../fonts/fa-solid-900.svg#fontawesome") format("svg"); }
.fa,
.fas {
  font-weight: 900; }

.fa,
.fab,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-facebook-f::before {
    content: "\f39e";
}
.fa-twitter::before {
    content: "\f099";
}
.fa-instagram::before {
    content: "\f16d";
}
.fa-rss::before {
    content: "\f09e";
}
.fa-sitemap::before {
    content: "\f0e8";
}
.fa-angle-up::before {
    content: "\f106";
}
.fa.fa-calendar::before {
    content: "\f073";
}
.fa-vk:before {
  content: "\f189"; }
  .fa-youtube:before {
    content: "\f167"; }
    .fa-telegram-plane:before {
  content: "\f3fe"; }

@mixin transitionL($time) {
  cursor: pointer;
  transition: background $time linear, color $time linear, border $time linear, max-height $time linear;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
*, ::after, ::before {
	box-sizing: border-box;
}
body {
	font-family: $fontMain;
	background-color: $primary-color;
	color: $primary-color-text;
	line-height: 1.4;
	letter-spacing: -1px;
	margin: 0;
	padding: 0;
}
h1, h2 {
  font-weight: bold;
  text-align: center;
}
a {
  @include transitionL(200ms);
	color: $primary-color-link;
	&:hover {
		color: $primary-color-link-hover;
	}
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover, a {
	text-decoration: none!important;
}
p {
	text-align: justify;
}

html {
  font-size: 16px;
}
h1, h2, h3, h5 {
  color: $primary-color-title;
}
.col-1 {
  flex-basis: 8.3333%;
}
.col-2 {
  flex-basis: 16.6667%;
}
.col-9 {
  flex-basis: 75%;
}
.col-10 {
  flex-basis: 83.3333%;
}
.wrapper {
  padding-left: 4.21053vw;
  padding-right: 4.21053vw;
}
#toTop {
	position: fixed;
	bottom: 50px;
	right: 1%;
	display: none;
	color: #FFFFFF;
	width: 55px;
	text-align: center;
	height: 55px;
	border-radius: 4px;
	cursor: pointer;
	-webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;
	-o-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
	background: #285f8f;
  font-size: 2rem;
	padding-top: 1px;
	box-shadow: 1px 5px 9px -1px rgba(0, 0, 0, 0.75);
	z-index: 9999;
  i {
    font-size: 31px;
  }
}

#toTop .fa.fa-angle-up {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 900;
}

#toTopHover {
	width: 50px;
	height: 50px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}

.box {
  padding-top: 1.51515vw;
  padding-bottom: 5.0505vw;
}
.box__title {
  font-size: 4.5rem;
  color: #fff;
text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.38), 2px 2px 2px #6f6e6b;
  text-transform: uppercase;
  padding-bottom: 3.2828vw;
}
.brn-wrapper {
  display: flex;
  justify-content: center;
}
.btn {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px #494949;
  border-radius: 60px;
  font-weight: bold;
  font-size: 1.5rem;
  color: #505050;
  line-height: 2;
  text-align: center;
  padding: 1.0416vw 4.1666vw;
  transition: box-shadow .4s ease,transform .4s ease;
  &:focus, &:hover {
    cursor: pointer;
    box-shadow: 0 30px 15px -22px rgba(0,0,0,0.5),0 30px 15px -22px rgba(0,0,0,0.5);
    transform: scale(.9);
    color: #505050;
  }
}
.container {
  margin-left: 10.51053vw;
  margin-right: 10.51053vw;
}
.mobile {
  display: none;
}
/*----------------menu----------------------------*/
.box-header {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  height: 4vw;
  background: rgba(40, 95, 143, .5);
  transition: 0.5s all ease-out;

  &:hover {
    background:rgba(40, 95, 143, 1);
}
}
// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  z-index: 99999;

  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 45px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
      z-index: 99999;
    }
    &:before {
      transform: rotate(45deg);
      background: $nav-font-color;
    }
    &:after {
      transform: rotate(-45deg);
      background: $nav-font-color;
    }
  }
}

.primary-menu {
  display: flex;
  justify-content: space-between;
  height: 100%;
  li {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative;
    &:after {
      position: absolute;
      height: 90%;
      width: 1px;
      background: #578ab7;
      content: "";
      right: 0;
      top: 50%;
      transform: translateY(-50%);
   }

    a {
      font-weight: 300;
      font-size: 1.25rem;
      letter-spacing: -1px;
      line-height: 1;
      padding: 0 0.26041vw;
      text-transform: uppercase;
      color: #fff;
      -webkit-transition: .5s all ease-out;
      -moz-transition: .5s all ease-out;
      transition: .5s all ease-out;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  li.active {
      background: rgba(0, 0, 0, .3);
  }
}
/*-----------------slider-----------------*/
.box-slider {
  position: relative;
}
.box-logo {
  position: absolute;
  top: 5.7291vw;
  left: 5%;
  width: 12%;
  z-index: 0;
}
.box-slider__images {
  width: 100%;
  height: auto;
}
.logo {
  border: 1px solid #eee;
  width: 100%;
  height: auto;
}
.box-slider__text {
  position: absolute;
  opacity: 1;
  top: 7.8958vw;
  left: 50%;
  transform: translateX(-50%);
  width: 64%;
  height: auto;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 20px #505050;
  z-index: 0;
  letter-spacing: -1px;

  span {
     font-family: arial;
     display: block;
     width: 100%;

     &:last-child {
        font-size: 1.9rem;
        line-height: 1.5;
     }
 }
}
/*--------------------brends--------------------*/
.box-brends {
  padding-top: 2.6041vw;
}
.car-brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.brands__item {
    width: calc(100%/8);
    padding: 0.5208vw;
}
.site-link {
  padding: 1.0417vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
height: 10.4166vw;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 9px;

  transition: box-shadow .4s ease,transform .4s ease;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

  &:hover {
    box-shadow: 1px 3px 8px 0 #caafaf;
  }
  &::before {
      content: '';
      position: absolute;
      border: #e1e1e1 solid 4px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: top, right, bottom, left;
      transition-property: top, right, bottom, left;
      border-radius: 9px;
  }
    &:hover::before, &:focus::before, &:active::before {
      top: -6px;
      right: -6px;
      bottom: -6px;
      left: -6px;
  }
  .title {
    font-size: 1rem;
    position: absolute;
    bottom: 1.0417vw;
  }
}
.photo img {
    width: 100%;
    padding-bottom: 1.2rem;
}
/*------box-request------------------*/
.box-request {
  background: url(../images-tmpl/bg-car.png) no-repeat left 0 bottom 0;
  background-size: contain;
  padding-top: 10.4166vw;
  position: relative;
}
.box-request__inner {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.box-request--absolute {
   position: absolute;
   color: #fff;
   font-size: 3.125rem;
   text-transform: uppercase;
   font-weight: bold;
   text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.38), 2px 2px 2px #6f6e6b;
   left: 0;
   top: 5.208vw;
   width: 100%;
   text-align: center;
}
.request {
  width: 45%;
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.7338rem;
    line-height: 1.5;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 1.5625vw;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.38), 2px 2px 2px #6f6e6b;
  }
  .btn {
    padding: 1.0416vw;
}
}
.request input, .request textarea {
    font-size: 1.875rem;
    line-height: 1.5;
    padding: 0.625vw 1.25vw;
    width: 100%;
    resize: vertical;
    font-family: $fontMain;
    outline: none;
    font-weight: 400;
    text-align: left;
    color: rgba(0,0,0,.45);
    box-shadow: none;
    background: #F4F4F4;
    border: 1px solid #B0B0B0;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px 10px #C4C4C4;
    border-radius: 20px;
    margin-bottom: 20px;
    letter-spacing: -1px;
}
.request textarea {
  min-height: 13.385vw;
}
.btn-request {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-request span {
  width: 45%;
  color: #747474;
  font-size: 1.125rem;
}
.btn-request a.btn {
    width: 51%;
}
/*----------box process---------*/
.box-process {
    padding-top: 5.2083vw;
}
.process {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10.4167vw;
  padding-bottom: 2.6042vw;
  position: relative;
}
.process-item {
    display: flex;
    position: relative;
    justify-content: center;
    h4 {
      position: absolute;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.5;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      display: flex;
      width: 20.8333vw;
      height: 7.03125vw;
      justify-content: center;
    }
}
.process-item--long {
  width: 20%;
  &:nth-child(odd) {
    top: -5.2083vw;
    h4 {
      top: -7.8125vw;
      align-items: end;
    }
  }
  &:nth-child(even) {
    bottom: -5.2083vw;
    h4 {
      bottom: -7.8125vw;
      align-items: flex-start;
    }
  }
  &:nth-child(1)::before, &:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 10.4167vw;
    transform: translateY(-50%) rotate(30deg);
    width: 100%;
    height: 0.36458vw;
    background: #1B4A8A;
  }

  &:nth-child(2)::before, &:nth-child(4)::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 10.4167vw;
    transform: translateY(-50%) rotate(-30deg);
    width: 100%;
    height: 0.36458vw;
    background: #1B4A8A;
  }
  &:nth-child(5)::before {
    content: '';
    position: absolute;
    bottom: -13.8020vw;
    left: -14.5833vw;
    transform: translateY(100%) rotate(-81deg);
    width: 240%;
    height: 0.36458vw;
    background: #1B4A8A;
  }
}
.process-item--shot {
  width: 25%;
  margin-top: 20.8333vw;
  &:nth-child(6) {
    top: -5.2083vw;
    justify-content: flex-end;
    h4 {
      bottom: -7.8125vw;
      align-items: flex-start;

    }
    &:before  {
      content: '';
      position: absolute;
      top: 100%;
      left: 10.4167vw;
      transform: translateY(-50%) rotate(30deg);
      width: 100%;
      height: 0.36458vw;
      background: #1B4A8A;
    }
  }
  &:nth-child(7) {
    bottom: -5.2083vw;
    h4 {
      top: -7.8125vw;
      align-items: end;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0%;
      left: 10.4167vw;
      transform: translateY(-50%) rotate(-30deg);
      width: 100%;
      height: 0.36458vw;
      background: #1B4A8A;
    }
  }
  &:nth-child(8)  {
     top: -5.2083vw;
     h4 {
       bottom: -7.8125vw;
       align-items: flex-start;
      }
      &:before  {
         content: '';
         position: absolute;
         top: 100%;
         left: 10.4167vw;
         transform: translateY(-50%) rotate(30deg);
         width: 100%;
         height: 0.36458vw;
         background: #1B4A8A;
       }
   }
 &:nth-child(9) {
     bottom: -5.2083vw;
     justify-content: flex-start;
    h4 {
      bottom: -7.8125vw;
      align-items: flex-start;
    }
  }

}
.process-item--last {
    width: 100%;
    margin-top: 15.625vw;
    h4 {
      right: 18.2292vw;
    }
    &:before {
      content: '';
      position: absolute;
      top: -7.2917vw;
      left: 14vw;
      transform: translatey(100%) rotate(50deg);
      width: 42%;
      height: 0.36458vw;
      background: #1B4A8A;
      z-index: 0;
    }
}


.process__inner {
    border: 5px solid #1B4A8A;
    background: #fff;
    border-radius: 50%;
    width: 11.1458vw;
    height: 11.1458vw;
    transition: box-shadow .4s ease,transform .4s ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      border: #e1e1e1 solid 4px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: top, right, bottom, left;
      transition-property: top, right, bottom, left;
      border-radius: 50%;
    }
    img {
      width: 60%;
      height: auto;
      max-height: 75%;
    }
}
.process__inner:hover:before, .process__inner:focus:before, .process__inner:active:before {
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}
/*--------box-reviews-----*/
.slick-track {
   display: flex;
   align-items: stretch;
}
.reviews-slider {
  padding-bottom: 1.5625vw;
}
  .reviews-slider__item {
    padding: 1.0416vw;
    align-items: stretch!important;
    display: flex!important;
    height: auto;
}

.reviews-slider__inner {
    position: relative;
    padding: 1.0416vw;
    background: #FBFBFB;
    border-radius: 27px;
    overflow: hidden;
}

.bg-dack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(204,204,204,0.6);
}
.reviews-slider__item.slick-center .bg-dack {
  opacity: 0;
}
.reviews__content {
  font-size: 1.125rem;
  line-height: 1.5;
  color: #000;
  margin-top: 1.0416vw;

}
.reviews__title {
    display: flex;
}
.title__img {
  width: 25%;
}
.reviews-slider .slick-slide img {
  width: 100%;
  max-width: 80px;
}

.reviews__title .title__content img {
    width: 100%;
    max-width: 150px;
}
.title__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(75% - 5px);
    margin-left: 5px;
}
.title__content h4 {
    font-size: 1.70rem;
    color: #000;
}
.reviews-slider .slick-arrow {
  position: absolute;
bottom: -45px;
  z-index: 99;
}
.reviews-slider .slide-arrow_prev {
    left: 30%;
}
.reviews-slider .slide-arrow_next {
  right: 30%;
}
.reviews-slider .slick-dots {
  z-index: 0;
}
.reviews-slider .slick-dots li button {
  width: 18px;
  height: 18px;
  background: #D1D1D1;
  border-radius: 3px;
}
.reviews-slider .slick-dots li button::before {
  font-size: 0;
}
.reviews-slider .slick-dots .slick-active button {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px 5px #FFFFFF;
}
/*-------------partnery-----------*/
.partnery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.partnery-item {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    border: 3px solid #1B4A8A;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px #FFFFFF;
    border-radius: 65px;
    position: relative;
    height: 6.7708vw;
    margin: 1.041vw;
}
.partnery-item--long {
  width: calc(100%/3 - 2.0833vw);
}
.partnery-item--shot {
  width: calc(100%/4 - 2.0833vw);
}

.partnery-item img {
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-height: 95%;
  max-width: 95%;
}
/*------about us--------------------*/
.aboutus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3.125vw;
  position: relative;
}
.bg {
  position: absolute;
  background: url(../images-tmpl/bg.png) repeat-x bottom center;
  width: 88%;
  height: 100%;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}
.aboutus-item {
  width: 25%;
  display: flex;
  position: relative;

  span {
       position: absolute;
       top: 11.4583vw;
       font-weight: 500;
       font-size: 1.5rem;
       line-height: 1.5;
       text-align: center;
       text-transform: uppercase;
       color: #000000;
       display: flex;
       width: 90%;
       height: auto;
   }
}

.aboutus-item:nth-child(2) {
  justify-content: flex-start;

  span {
     text-align: left;
 }
}
.aboutus-item:nth-child(3), .aboutus-item:nth-child(4) {
  justify-content: center;

  span {
     text-align: center;
 }
}
.aboutus-item:last-child {
  justify-content: flex-end;

  span {
     text-align: right;
 }
}
.aboutus-item__inner {
  border: 5px solid #1B4A8A;
  background: #fff;
  border-radius: 50%;
  width: 11.1458vw;
  height: 11.1458vw;
  transition: box-shadow .4s ease,transform .4s ease;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    border: #e1e1e1 solid 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
    border-radius: 50%;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 60%;
}
}
.aboutus-item__inner:hover:before, .aboutus-item__inner:focus:before, .aboutus-item__inner:active:before {
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}
/*------box-faq-----------*/
.acor-container {
  margin-top: 0;
  margin-bottom: 3.125vw;
}
.acor-container .acor-body {
    width: calc(100% - 100px);
    margin: 0 auto;
    height: 0;
    color: rgba(0, 0, 0, 0);
    background-color: transporent;
    line-height: 1.3;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-family: Verdana, sans-serif;
    font-size: 1.25rem;
}
.acor-container .acor-body p {
    margin: 0 0 10px;
}
.acor-container label {
    cursor: pointer;
    display: block;
    padding: 2.0833vw 1.0417vw 2.0833vw 3.125vw;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    font-size: 1.8rem;
    text-align: center;
    margin: 0 0 15px;
    transition: color .35s;
    border: 2px solid #285f8f;
    color: #000;
    background: #fff;
    border-radius: 60px;
    position: relative;
    font-weight: 300;
}

.acor-container input{
    display: none;
}
.acor-container .expand-icon {
  position: absolute;
  top: calc(50% - 1.484375vw);
  left: 2.6042vw;
  width: 2.96875vw;
  height: 2.96875vw;
  transition: opacity .3s ease,box-shadow .3s ease,transform .3s ease;
}
.expand-icon svg {
    width: 100%;
    height: 100%;
}
.acor-container input:checked + label .expand-icon {
	transform: rotate(45deg);
}
.acor-container input:checked + label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}
.acor-container input:checked + label + .acor-body {
    height: auto;
    margin-top: -15px;
    color: #000;
    padding: 2.0833vw 1.0417vw 2.0833vw 3.125vw;
}
.faq-btn-wrapper {
  margin-top: 2vw;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.box-faq__btn  {
  color: #fff;
  font-size: 2rem;
  position: relative;
  &:hover {
    color: #eee;
  }
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    content: "";
  }
}

/*------box advantage---------------------*/
.collective {
    display: flex;
    flex-wrap: wrap;
}
.collective-item {
  width: calc(100%/3);
  padding: 2.2727vw;
  &:nth-child(-n+3) {
    border-bottom: 2px solid #1B4A8A;
  }
  &:nth-child(2),   &:nth-child(5) {
    border-left: 2px solid #1B4A8A;
    border-right:   2px solid #1B4A8A;
  }
}
.collective-inner  {
  position: relative;
  img {
    position: absolute;
    width: auto;
    height: 3.5353vw;
    top: 0;
    left: 0;
  }
  span {
    color: #fff;
    font-size: 1.625rem;
    line-height: 1.5;
  }
}

.collective__title {
  font-size: 2.1875rem;
  text-transform: uppercase;
  padding-left: 5.0505vw;
  padding-bottom: 1.0101vw;
}
/*---------box-map--------------------*/
.box-map {
  height: 480px;
  padding-bottom: 50px;
  overflow: hidden;
}
/*------------footer----------------------*/
.box-footer {
  background: #212226;
  padding-top: 60px;
  padding-bottom: 100px;
  color: #fff;
}
.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-item {
  font-size: 1.3125rem;
  line-height: 2;
  display: flex;
  flex-direction: column;
}
.social {
  justify-content: flex-end;
  display: flex;
  margin-bottom: 10px;
}
.social li {
    padding: 0 10px;
}
.social li a {
    color: #fff;
    display: block;
    width: 30px;
    height: 30px;
    padding: 2px;
    line-height: 40px;
    text-align: center;
}
.social li i {
    font-size: 1.875rem;
}
.box-footer a {
  font-size: 1.3125rem;
  line-height: 2;
  color: #fff;
  &:hover {
    color: #eee;
  }
}
.f-kontakt {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.f-kontakt a:not(:last-child) {
  margin-right: 20px;
}
/*----------end footer---------------------*/
/*------------------modal---------------------------*/
.modal,
.overlay {
 position:fixed;
 left:-9999px
}
.overlay {
 top:0;
 z-index:0;
 opacity:0;
 filter:alpha(opacity=80);
 background:#000;
 transition:opacity .5s
}
.overlay.open {
 right:0;
 bottom:0;
 opacity:.8;
 z-index:999
}
.modal,
.modal.open {
 transform:translate(-50%,-50%)
}
.modal {
 top:50%;
 background: #B1B0B8;
 color:#fff;
 width:100%;
 z-index:9999;
 max-width:500px;
 text-align:center;
 box-shadow:0 0 10px rgba(0,0,0,.21);
 overflow:auto;
 font-size: 1rem;
 padding: 30px 20px;
 opacity:0;
 transition:transform .3s ease-out,opacity .3s;
 border-radius: 7px;
}
.modal.open {
 left:50%;
 z-index:1000;
 opacity:1
}
.modal .block-form {
 float:none;
 display:inline-block;
}
.modal .form-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.5338rem;
  line-height: 1.3;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.38), 2px 2px 2px #6f6e6b;
}
.modal .form-title span {
font-size: 1.6338rem;
 color:#fff;
 text-align: center;
 padding-bottom: 10px;
}
.modal .checkbox {
 padding-left:70px;
 text-align:left;
 display:inline-block
}
.modal  textarea {
 height:100px
}
.form-modal p {
 text-align:center;
 line-height:1.5;
 margin-bottom:10px;
 color: #747474;
 font-size: 1.125rem;
}
.close {
 position:absolute;
 top:15px;
 right:15px;
 width:20px;
 height:20px
}
.close:hover {
 opacity:1
}
.close:after,
.close:before {
 position:absolute;
 right:50%;
 top:50%;
 content:' ';
 height:20px;
 width:3px;
 background-color:#fff;
 margin:-10px 0 0;
 border-radius:5px
}
.close:before {
 transform:rotate(45deg)
}
.close:after {
 transform:rotate(-45deg)
}
p.custom-control-label {
    margin-top: 30px;
}
.modal  input, .modal textarea {
  font-size: 1.25rem;
  line-height: 1;
  padding: 0.625vw 1.25vw;
  width: 100%;
  resize: vertical;
  font-family: "OpenSansHebrew", "Helvetica", sans-serif;
  outline: none;
  font-weight: 400;
  text-align: left;
  color: rgba(0, 0, 0, 0.45);
  box-shadow: none;
  background: #F4F4F4;
  border: 1px solid #B0B0B0;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px 10px #C4C4C4;
  border-radius: 20px;
  margin-bottom: 20px;
}
.form-row input[type=submit] {
 width:auto;
 padding:13px 60px;
 float:none;
 cursor:pointer;
 background:#f4931f;
 color:#fff;
 font-size:130%;
 border:2px solid #fff;
 border-radius:5px
}
.modal  input[type=submit]:hover {
 background:#f4931f;
 color:#fff
}
.modal[type=checkbox] {
 display:none
}
.checkbox {
 width:100%;
 padding-left:33px;
 margin-bottom:10px;
 min-height:15px;
 box-sizing:border-box;
 margin-top:10px
}
.checkbox label {
 color:#fff;
 font-size: 1.125rem;
 position:relative;
 font-style:normal;
 display:inline-block
}
.checkbox label:before {
 content:'';
 width:19px;
 height:19px;
 line-height:20px;
 float:left;
 box-sizing:border-box;
 margin:0 10px 0 0;
 position:absolute;
 top:0;
 left:-33px;
 border-radius:5px;
 font-size:10px;
 background:#00285b
}

.checkbox input[type=checkbox]:checked+label:before {
 background:url(../images-tmpl/icon-check.png) center right no-repeat #00285b
}
.photo {
    display: flex;
    justify-content: center;
}
.photo img {
    max-height: 90%;
    padding-bottom: 1.2rem;
    max-width: 90%;
}

@media (max-width: 1680px) {
  .primary-menu li a {
    font-size: 1.125rem;
  }
  .box-slider__text {
    font-size: 3rem;
  }
  .process {
    margin-top: 12.4167vw;
    padding-bottom: 6.6042vw;
}
.process-item h4, .aboutus-item span {
  font-size: 1.2rem;
  line-height: 1.3;
}

}
@media (max-width: 1400px) {
  html {
    font-size: 15px;
  }
  .primary-menu li a {
    font-size: 1rem;
  }
  .box-slider__text {
    font-size: 2.6rem;
  }
  .process-item h4, .aboutus-item span {
    font-size: 1.2rem;
}
  .request h2 {
    font-size: 1.333rem;
  }
  .request h2 {
    font-size: 1.5333rem;
    letter-spacing: -2px;
}
.request input, .request textarea {
  font-size: 1.6rem;
}
.btn {
  font-size: 1.2rem;
}
.box-request {
    background: url(../images-tmpl/bg-car-m.png) no-repeat left 0 bottom 0;
    padding-top: 0;
    height: 67.8571vw;
    position: relative;
}
.box-request__inner {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translatey(-50%);
    width: 50%;
}
.request {
    width: 100%;
}
.brn-wrappe.btn-request {
    flex-direction: column-reverse;
    align-items: end;
}
.btn-request span {
    margin-top: 3.5714vw;
}
.container {
    margin-left: 0;
    margin-right: 0;
}
.collective__title {
  font-size: 1.6rem;
}
.collective-inner img {
  top: -1vw;
}
.collective-inner span {
    font-size: 1.2rem;
}

}
@media (max-width: 1280px) {
  html {
    font-size: 14px;
  }

  .box-slider__text {
    font-size: 2.5rem;
}
.box-slider__text span:last-child {
    font-size: 1.4rem;
    line-height: 1.5;
}
.box-request {
  background-size: contain;
}
.box-request__inner {
   width: 60%;
}
}
@media (max-width: 1024px) {
  .box__title {
    font-size: 4rem;
}
  .box-header {
      height: 70px;
      box-shadow: inset -10px -10px 20px rgba(0, 0, 0, 0.25), inset 10px 10px 20px rgba(0, 0, 0, 0.25);
      background: #fff;

      &:hover {
               background: #fff;
      }
  }
  .primary-menu li {
     background: #fff;
 }
  .primary-menu li a {
     color: #000;
 }
  .box-logo {
    top: 100px;
  }
  .box-slider__text {
      font-size: 2.1429rem;
      top: 100px;
  }
.nav-mobile {
  display: block;
}

.primary-menu {
  display: none;
}
.primary-menu {
  li {
    box-shadow: none;
  }
}
.primary-menu li a {
  justify-content: start;
  text-align: left;
  padding-left: 30px;
}
.primary-menu li:first-child, .primary-menu li:last-child {
    border-radius: 0;
}

  .brands__item {
    width: calc(100%/6);
}
.site-link {
  height: 15.26041vw;
}
.process-item h4, .aboutus-item span {
    font-size: 1.1rem;
}
.box-request   {
    background-size: 60%;
  }
  .acor-container label, .box-faq__btn {
    font-size: 1.6rem;
  }
  .container {
    margin-left: 0;
    margin-right: 0;
  }
  .collective-item {
    width: calc(100%/2);

    &:nth-child(-n+3),  &:nth-child(2), &:nth-child(5) {
      border: none;
    }

    &:nth-child(3), &:nth-child(4) {
      border-top: 2px solid #1B4A8A;
      border-bottom: 2px solid #1B4A8A;
    }
    &:nth-child(odd) {
     border-right: 2px solid #1B4A8A;
    }
  }
  .box-request__inner {
     width: 80%;
  }
.box-request--absolute {
   top: 3.208vw;
}
  .f-kontakt {
      flex-direction: column;
      align-items: flex-end;
  }
  .primary-menu li.active {
    background: #eee;
    opacity: 1;
}
.box-slider__text span:last-child {
    font-size: 1.2rem;
    line-height: 1.5;
}
}
@media (max-width: 920px) {
   .box-request {
      height: 76.08695vw;
   }
.box-request--absolute {
   font-size: 2.6rem;
}
.box-slider__text {
  font-size: 1.8rem;
}
}
@media (max-width: 768px) {

  .box-slider__text {
    font-size: 1.8rem;
}
.site-link {
  height: 23.4375vw;
}
  .box-request {
    background-size: contain;
}
  .brands__item {
    width: calc(100%/4);
}
.bg {
  display: none;
}
.aboutus-item {
  width: 50%;
  margin-bottom: 10.11458vw;
  justify-content: center!important;

  span {
   top: 27.34375vw;
   text-align: center !important;
justify-content: center;
 }
}
.aboutus-item__inner {
  width: 26.0416vw;
  height: 26.0416vw;
}
  .box__title {
    font-size: 3.5rem;
  }
.partnery-item {
  height: 10.416vw;
}
  .partnery-item--long, .partnery-item--shot {
    width: calc(50% - 2.0833vw);
}
.process {
  margin-top: 1.0416vw;
}
.process-item--long:nth-child(1)::before, .process-item--long:nth-child(3)::before,
.process-item--long:nth-child(2)::before, .process-item--long:nth-child(4)::before,
.process-item--long:nth-child(5)::before, .process-item--shot:nth-child(6)::before,
.process-item--shot:nth-child(7)::before, .process-item--shot:nth-child(8)::before,
.process-item--last::before {
  display: none;
}
.process-item--long:nth-child(2n+1), .process-item--shot:nth-child(6), .process-item--shot:nth-child(8) {
  top: auto;
  justify-content: center;
}
.process-item--long:nth-child(2n), .process-item--shot:nth-child(7), .process-item--shot:nth-child(9) {
  bottom: auto;
  justify-content: center;
}
.process-item--long:nth-child(2n+1) h4, .process-item--shot:nth-child(7) h4, .process-item--last h4 {
    bottom: -7.8125vw;
    align-items: flex-start;
    top: auto;
    right: auto;
}
.process-item {
  width: 50% !important;
  margin-bottom: 17.003vw;
  margin-top: 0;
}
.process-item h4, .aboutus-item span {
  font-size: 1.2rem;
  line-height: 1.3;
  width: 100%;
}


.process__inner {
  width: 22.0416vw;
  height: 22.0416vw;
}
.box-request__inner {
  width: 90%;
}

.process-item:first-child {
    order: 1;
}
.process-item:nth-child(2) {
   order: 2;
}
.process-item:nth-child(3) {
   order: 3;
}
.process-item:nth-child(4) {
   order: 4;
}
.process-item:nth-child(5){
   order: 5;
}
.process-item:nth-child(9) {
   order: 6;
}
.process-item:nth-child(8) {
   order: 7;
}
.process-item:nth-child(7) {
   order: 8;
}
.process-item:nth-child(6){
   order: 9;
}
.process-item:nth-child(10) {
   order: 10;
}
.box-request {
   height: 90.08695vw;
}
.box-request--absolute {
font-size: 2rem;
}

}
@media (max-width: 600px) {
   .box-request {
      height: 110vw;
   }
   .box-request--absolute {
   font-size: 1.8rem;
   }
   .car-brands {
      padding-bottom: 50px;
   }
}
@media (max-width: 490px) {
  .box-header {
    height: 60px;
  }
  .box-logo {
    position: absolute;
    top: 18.75vw;
    left: 5%;
    width: 35%;
    padding: 10px;
}
.box-slider__text {
  left: 40%;
  transform: none;
  width: 55%;
  padding: 10px;
  line-height: 1.2;
  top: 80px;
}
  .mobile {
    display: block;
  }
  .descktop {
    display: none;
  }
  .brands__item {
    width: calc(100%/2);

}
.site-link {
    height: 31.25vw;
}
.request {
    width: 91%;
}
.partnery-item--shot {
  width: calc(50% - 2.0833vw);
}
  .acor-container label, .box-faq__btn {
    font-size: 20px;
  }

  .box__title {
    font-size: 2.3rem;
}
.collective-inner img {
  height: 6.25vw;
}
.collective__title {
    font-size: 1.2857rem;
    padding-left: 8.0505vw;
}
.collective-inner span {
    font-size: 1rem;
}
  .footer-item {
    flex-basis: 100%;
    margin-bottom: 15px;
  }
  .social {
    justify-content: flex-start;
  }
  .box-request {
    background: url(../images-tmpl/bg-car-x.png) no-repeat left 0 bottom 0;
    height: 564px;
  }
  .request h2 {
    font-size: 14px;
    letter-spacing: -1px;
}
.box-request__inner {
    width: 95%;
}
.request input, .request textarea {
    font-size: 16px;
    padding: 10px 20px;
}
.aboutus-item {
    margin-bottom: 70px;
}
.process-item h4 , .aboutus-item span{
  font-size: 14px;
}
.reviews-slider__inner {
  padding: 15px;
}
.reviews-slider {
    padding-bottom: 25px;
}
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}
.reviews-slider .slick-arrow {
  display: none!important;
}

  .process-item {
    margin-bottom: 27.003vw;
  }
  .f-kontakt {
      align-items: flex-start;
      margin-top: 15px;
  }
  .modal {
    width: 90%;
  }
  .brn-wrappe.btn-request {
     justify-content: flex-end;
 align-items: flex-end;
 }

.process {
   padding-bottom: 60px;
}
.reviews__title .title__content img {
    max-width: 100px;
}
.title__content h4 {
    font-size: 18px;
    color: #000;
}
.reviews__content {
    font-size: 14px;
    line-height: 1.3;
}
.faq-btn-wrapper {
   padding-top: 20px;
}
.btn {
   padding: 5px 20px;
}
.box-request--absolute {
   font-size: 18px;
   top: 30px;
}
}
@media (max-width: 380px) {
  .box-slider__text {
    font-size: 21px;
  }
  .box-request__inner {
    width: 100%;
}
.photo img {
    width: 80%;
}
.box-request {
    background: url(../images-tmpl/bg-car-x.png) no-repeat left 0 bottom 0;
        background-size: auto;
    height: 564px;
    background-size: 60%;
}
.btn-request span {
  font-size: 14px;
}
.box__title {
  font-size: 30px;
}
.partnery-item--long, .partnery-item--shot {
    width: 100%;
}
.partnery-item {
    height: 60px;
}
.box-map {
  max-width: 360px;
}
.acor-container label {
padding: 15px 15px 15px 25px;
}
.acor-container .expand-icon {
  top: calc(50% - 10px);
}
.collective__title {
    font-size: 14px;
    padding-left: 8.0505vw;
}
.modal input, .modal textarea {
  padding: 10px 15px;
}
.acor-container label, .box-faq__btn {
    font-size: 1rem;
}
.process-item h4, .aboutus-item span {
    font-size: 1rem;
}
.box-slider__text span:last-child {
    font-size: 14px;
}
}
