$fontMain: 'OpenSansHebrew', 'Helvetica', sans-serif;
$primary-color: #B1B0B8;
$primary-color-text: #555;
$primary-color-link: #000;
$primary-color-link-hover: #1955a5;
$primary-color-title: #121212;
$color-btn: #61CE70;
$color-btn-hover: #477E4E;


// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: transporent;
$nav-font-color: #B1AFAF;
$link-hover-color: #2581DC;
