$fontMain: "Roboto", Arial,sans-serif;

@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-BlackItalic.ttf");
  font-weight: Black;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: Black;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Italic.ttf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Italic.ttf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-LightItalic.ttf");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Thin.ttf");
  font-weight: 200;
  font-style: normal; }


.container {
    width: 100%;
    text-align: center;
    min-width: 1002px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

@media (min-width: 480px){

}

@media (min-width: 640px){

}

@media (min-width: 720px){

}
@media (min-width: 890px){

}
@media (min-width: 993px){

}

@media (max-width: 1257px) {

}
