$fontMain: Arial,sans-serif;
$fontAdd: 'Oswald', sans-serif;
/*$cBanner: #04032d;*/
$cBanner: #161622;
$cBannerAD: #343643;
$main: #171723;
$addcolor: #535156;
$bWarning: #bb1d2b;
$bWarning-dark: #7a0909;
$cFirst: rgba(178,179,181,1);
$cSecond: rgba(255,255,255,1);
$rBloc: #666664;
$cLinck: #fff;
$clinkhover: #ddd;
$borderColor: #53535b;
