@import 'bootstrap-custom';
body {
  min-width: 300px;
}
/*----------------buttons---------------------------------*/
.button {
  background: $mainColor none repeat scroll 0 0;
  border-radius: 2px;
  color: $White!important;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  height: 39px;
  line-height: 17px;
  padding: 9px 10px;
  transition: all 300ms ease 0s;
  text-transform: uppercase;

  &:hover {
    background: $mainColorDarck;
    text-decoration: none;
  }
}
/*----------------buttons end------------------------------*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 100px;
	right: 1%;
	overflow: hidden;
	z-index: 999;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images_tmpl/arr.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-----site header---------------*/
.header {
  border-top: 5px solid $mainColor;

  .head {
      color: #5e5e5e;
      /*----logo--------*/
      .head__logo {
        margin: 0 auto;
      }
      /*------top line-----------*/
      .head__line {

        .sait-control {
          background-color: #fafafa;
          float: left;
          padding-top: 10px;

          a {
            display: inline-block;
            padding-right: 35px;


            &:before {
              content: '';
              position: absolute;
              top: 8px;
              height: 20px;
              background: transparent url("../images_tmpl/sprite.png") no-repeat scroll 0 0;
            }
          }

          .home {
            &:before {
              background-position: 0 0;

              width: 23px;
            }
          }

          .home-active {
            &::before {
              background-position: -66px 1px !important;
            }
          }

          .mail {
            &::before {
              width: 19px;
              background-position: -23px 1px;
            }
            &:hover {
              &::before {
                background-position: -88px 1px !important;
              }
            }
          }

          .map {
            &::before {
              background-position: -42px 1px;
              width: 23px;
            }
            &:hover {
              &::before {
                background-position: -107px 1px !important;
              }
            }
          }

          .entry {
            &::before {
              background-position: -131px 1px;
              width: 17px;
            }
            &:hover {
              &::before {
                background-position: -147px 1px !important;
              }
            }
            span {
              padding-left: 20px;
            }
          }
        }

        .search-btn {
          padding: 10px 18px;
          background-color: $mainColor;
          float: right;
          text-decoration: none;
          font-size: 18px;
          font-weight: 600;
          color: $White;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            top: 0px;
            left: -11px;
            width: 11px;
            height: 11px;
            background: url('../images_tmpl/sprite.png') no-repeat -255px -4px;
          }
          &::after {
            content: '';
            position: absolute;
            top: 0px;
            left: 51px;
            width: 11px;
            height: 11px;
            background: url('../images_tmpl/sprite.png') no-repeat -267px -4px;
          }
        }
      }
      /*----header-block------*/
      .head__header {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: bold;
      }
      /*-----header contakt------*/
      .head__contakt {
        font-size: 13px;
        padding-top: 10px;
        font-weight: bold;

        span {
          color: #caa157;
        }
      }
      /*------только для верстки!!! карзина-------*/
      .vmCartModule {
        border-color: $mainColor;

        a {
          color: $mainColor;

          .cart_top .total_products {
              background: #2196f3;
              border-radius: 18px;
              box-sizing: border-box;
              color: $White;
              display: inline;
              font-size: 12px;
              font-weight: normal;
              height: 18px;
              left: 30px;
              line-height: 18px;
              min-width: 18px;
              padding: 0 5px;
              position: absolute;
              text-align: center;
              top: 4px;
          }
          .cart_top .total {
            display: block;
            float: right;
            font-size: 1px;
            height: 30px;
            line-height: 28px;
            text-align: center;
            visibility: hidden;
            width: 85px;
            position: absolute;
            top: 10px;
            left: 50px;
            color: $mainColor!important;

              .cart_empty {
                font-size: 14px;
                font-weight: normal;
                visibility: visible;
            }
          }
        }

        svg {
          fill: $mainColor;
        }
      }
      #vmCartModule {
          background: none;
          border-radius: 4px;
          border-style: solid;
          border-width: 2px;
          box-sizing: border-box;
          display: inline-block;
          font-size: 14px;
          height: 50px;
          line-height: normal;
          padding: 10px;
          position: relative;
          width: 150px;
          z-index: 999999;
      }
      /*-----Конец только для верстки!!!-------*/
      /*-----header menu------*/
      .head__menu {
        padding-top: 15px;

        /*----- TABS ------*/
        .accordion-tabs {
          width: 100%;
          margin-bottom: 0;
          margin-left:0;
          padding-left:0;

          &:before,
          &:after {
            content: " ";
            display: table;
          }

          &:after {
            clear: both;
          }

          li{
            list-style:none;
            font-size: 18px;
            font-weight: bold;
          }

          .tab-head-cont {
            &:last-child {
              a {
                border-bottom-left-radius: 0.1875em;
                border-bottom-right-radius: 0.1875em;
              }
            }

            a {
              text-decoration:none;
              border-top: 1px solid #dddddd;
              display: block;
              padding: 0.639em 0.809em;

              &:focus {
                outline: none;
              }
            }

            .is-active {
              background-color: $mainColor;
              border: 1px solid $mainColor;
              border-bottom: 0;
              border-radius: 15px 15px 0px 0px;
              color: $White;
            }

            section {
              padding: 1.5em 1.618em;
              background: #f7f7f7;
              display: none;
              overflow: hidden;
              width: 100%;
            }
          }
        }
      }
    }
    /*---search----*/
    .box {
      position:absolute;
      margin:auto;
      padding:0px;
      top:-1200px;
      left:0px;
      width:100%;
      height: 70px;
      text-align:center;
      background: $mainColor;
      -webkit-box-shadow: 1px 5px 9px -1px rgba(0,0,0,0.75);
      -moz-box-shadow: 1px 5px 9px -1px rgba(0,0,0,0.75);
      box-shadow: 1px 5px 9px -1px rgba(0,0,0,0.75);
      z-index:999999;

      .boxclose {
        cursor: pointer;
        text-align: center;
        display: block;
        position: absolute;
        top: 18px;
        right: 10%;

        span{
          width: 30px;
          height: 30px;
          display:inline-block;
          background: url(../images_tmpl/into.png) no-repeat 0px 0px;
        }
      }

      .box__inner {
        position: relative;

        form {
          width: 40%;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 50%);
        }
      }
     }
  /*-------------------------main-menu-----------------------------*/
  .fixed {
    position:fixed!important;
    top:-2px;
    left:0;
    width:100%;
    margin-top: 0;
    z-index: 9999;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .main-menu {
    background-color: $mainColor;
    -webkit-box-shadow: 1px 5px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 9px -1px rgba(0,0,0,0.75);
    box-shadow: 1px 5px 9px -1px rgba(0,0,0,0.75);

    ul {
      margin: 0;
      padding: 11px 0;
      position: relative;

        li {
          display:inline-block;

          .sub-menu {
            background-color:$White;
            position:absolute;
            left:0;
            top:60px;
            width:100%;
          }

          li {
            position:relative;
            margin:0;
            display:block;

              a {
                margin:0 5px;
                padding:0;
                color: $mainColorDarck!important;
                line-height: 30px;
                &:hover {
                  color: $mainRed!important;
                }
              }

              &:last-child a {
              border-bottom:none;
              }
          }
        }
      }

      .dropdown-item {
        background-color: inherit;
        transition: all 0.7s;

        .dropdown__linck {
          background-image:url('../images_tmpl/arrow-down.png');
          background-position:right 23px;
          background-repeat:no-repeat;
          position: relative;
          line-height:50px;
          padding: 0 30px;
          margin: 0 12px;
          text-transform: uppercase;
          text-decoration: none;
          color: $White!important;
          display:block;

          &::before {
            content: '';
            position: absolute;
            top: 10px;
            left: -5px;
            width: 30px;
            height: 30px;
          }
          &:hover,
          &:focus,
          &:active {
            color: $White!important;
          }

        }
        .dropdown__linck::before {
          background: url("../images_tmpl/sprite.png") no-repeat;
        }
        .dropdown__linck--1::before {
          background-position: 0 -97px;
        }
        .dropdown__linck--2::before {
          background-position: -30px -97px;
        }
        .dropdown__linck--3::before {
          background-position: -60px -97px;
        }
        .dropdown__linck--4::before {
          background-position: -90px -97px;
        }
        .dropdown__linck--5::before {
          background-position: -120px -97px;
        }
        .dropdown__linck--6::before {
          background-position: -150px -97px;
        }
      }

      .dropdown-animated  {
        background-color: $mainColorDarck;
        height: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }

      .sub-menu {
        background-color: $White;
        border: 2px solid $mainColorDarck;
        transition: all 0.7s;
        z-index: 9999;
        display: none;
        box-shadow: 0px 5px 20px #004591;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 15px;

        p {
          color: #333;
          font-weight: bold;
        }

        ul {
          padding-top: 0;
        }
      }
  }
}
/*---------слайдер внутри меню-----------------*/
.separator {
  border-right: 1px solid #ddd;
}
.jcarousel__link  {
	min-width: 185px;

   a {
    text-transform: uppercase;
    text-decoration: none;
  }

   p {
    padding: 0 10px;
    margin: 0;
  }

  .link__wrapper {
    margin: 10% 5%;
    border: 1px solid #d9d6d6;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
}
/*------------цены------------------------*/
.main-price {
  display: block;
  overflow: hidden;
  padding-left: 10px;

  .item-price {
    display: inline-block;
    float: left;
    line-height: 16px;
    padding: 0;

    .price {
      display: block;
      color: $Magento;
      font-size: 16px;
      font-weight: bold;
    }

    .old-price {
      display: block;
      color: #ccc;
      text-decoration: line-through;
      font-size: 12px;
      font-weight: normal;
    }
  }
  .price-sale {
    background: $Magento;
    border-radius: 4px;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    &:before {
      content: "";
      border-color: transparent $Magento transparent transparent;
      border-style: solid;
      border-width: 7px 7px 7px 0;
      top: 50%;
      height: 0;
      left: -6px;
      position: absolute;
      width: 0;
      transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
    }
    span {
      display: block;
      color: $White;
    }
    .text {
      font-weight: normal;
    }
  }
}
/*--------------------navigation menu---------------------------------*/
#navigationMenu-wrapper{
	margin-top: 10px;
  margin-left: 30px;
	position:fixed;
	width:40px;
  z-index: 100;
}
#navigationMenu-inner {
  position: relative;
}
#navigationMenu {

  li{
    list-style:none;
    height:39px;
    padding:2px;
    width:40px;
  }
  span {
    /* Container properties */
    width:0;
    left:38px;
    padding:0;
    position:absolute;
    overflow:hidden;

    /* Text properties */
    font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight:bold;
    letter-spacing:0.6px;
    white-space:nowrap;
    line-height:39px;

    /* CSS3 Transition: */
    -webkit-transition: 0.25s;

    /* Future proofing (these do not work yet): */
    -moz-transition: 0.25s;
    transition: 0.25s;
  }

  a {
  	height:39px;
    background:url('../images_tmpl/sprite.png') no-repeat;
  	width:38px;
  	display:block;
  	position:relative;

    /* General hover styles */

    &:hover {
      text-decoration:none;

    	/* CSS outer glow with the box-shadow property */
    	-moz-box-shadow:0 0 5px #9ddff5;
    	-webkit-box-shadow:0 0 5px #9ddff5;
    	box-shadow:0 0 5px #9ddff5;

      span {
        width:auto;
        padding:0 20px;
        overflow:visible;
      }
    }
  }

  /* 1 Button */
  .home {
    background-position:0 -19px;

    &:hover {
      background-position:0 -58px;
    }

    span{
      background-color:$mainRed;
      color:$White;
    }
  }

  /* Blue Button */
  .about {
    background-position:-38px -19px;

    &:hover {
      background-position:-38px -58px;
    }
    span{
      background-color:#2B6698;
      color:$White;
    }
  }

  /* Orange Button */

  .services {
    background-position:-76px -19px;

    &:hover {
      background-position:-76px -58px;
    }
    span{
      background-color:#82add6;
      color:$White;
    }
  }

  /* Yellow Button */

  .portfolio {
    background-position:-115px -19px;

    &:hover {
      background-position:-115px -58px;
    }
    span {
      background-color:#facb66;
      color:$White;
    }
  }

  /* 5 */

  .contact {
    background-position:-152px -19px;

    &:hover {
      background-position:-152px -58px;
    }
  }
    span{
      background-color:#159A68;
      color:$White;
    }
}
/*----------------slider-----------------------*/
#slideshow-block {
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 30px 0;
  z-index: 9;
  position: relative;
}
.button_descr {
  color: $DGray;
  font-style: $fontGothamPro;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: none;
}
.bg-blue {
  background-color: $DWhite;
  font-size: 12px;
}
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        background-position: center;
        background-size: cover;
        height: 350px;
        .position {
          top: 50%;
          left: 15%;
          position: absolute;
          transform: translate(-15%, -50%);
          .title {
            font-size: 45px;
            font-weight: bold;
            color: $White;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
            font-family: $fontGothamPro;
          }
          .subtitle {
            font-size: 25px;
            color: $White;
            text-transform: uppercase;
            font-family: $fontGothamPro;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
            font-weight: bold;
            margin-top: 35px;
            margin-bottom: 35px;
          }
          .text {
            font-size: 14px;
            max-width: 400px;
            line-height: 1.3;
            color: $White;
            font-family: $fontGothamPro;
            a {
              text-transform: uppercase;
            }
          }
        }
      }
      .swiper-slide_left {
        background-image: url(../images_tmpl/banner_2.jpg);
      }
      .swiper-slide_center {
        background-image: url(../images_tmpl/banner_3.jpg);
      }
      .swiper-slide_center1 {
        background-image: url(../images_tmpl/banner_51.jpg);
      }
      .swiper-slide_right {
        background-image: url(../images_tmpl/banner_4.jpg);
      }
    }
    .swiper-pagination {
      .swiper-pagination-bullet {
        border-radius: 0;
        width: 72px;
        height: 3px;
        background-color: $DWhite;
        border-color: $DWhite;
        margin: 3px;
      }
    }
  }
  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }
/*-----adress block---------------*/
.block-line {
  padding: 20px 0;
  .block-line__item {
    a {
      &:hover {
        text-decoration: none;
      }
    }
    span {
      font-weight: bold;
    }
    .item__ico {
      display: inline-block;
      position: relative;
      padding-left: 30px;

      &::before {
        display: inline-block;
        background-image: url("../images_tmpl/sprite.png");
        background-position: -230px 0px;
        background-repeat: no-repeat;
        content: "";
        height: 30px;
        width: 20px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
/*---------------hot deal--------------------*/
.sppb-section {
  margin: 0;
  padding: 0 0 50px 0;
  background-color: $DWhite;
  position: relative;
  padding-bottom: 20px;

  .sppb-addon-title {
    background: $White none repeat scroll 0 0;
    border-radius: 3px 0 0 3px;
    border-top: 2px solid $mainRed;
    color: $White;
    font-size: 16px;
    margin: 0 0 30px;
    overflow: hidden;
    span {
      background: $mainRed none repeat scroll 0 0;
      display: inline-block;
      font-weight: bold;
      padding: 5px 15px 10px;
      &::before {
        background-image: url("../images_tmpl/icon-hot.png");
        background-repeat: no-repeat;
        content: "";
        display: inline-block;
        height: 20px;
        width: 30px;
        background-position: 2px 2px;
      }
    }
  }
}
/*----слайдер в горячих товарах------------*/
  .sj-extraslider {
    margin: 0;
    position: relative;
    .extraslider-control {
      position: absolute;
      right: 20px;
      top: -60px;
      .button-prev,
      .button-next {
        background: $mainRed none repeat scroll 0 0;
        border-radius: 20px;
        color: $White;
        height: 20px;
        line-height: 20px;
        margin: 0 2px;
        text-align: center;
        width: 20px;
        float: left;
        &:hover {
          background: #000;
        }
      }
    }
    .extraslider-inner {
      overflow: hidden;
      position: relative;
      width: 100%;

          .item-wrap {
            border-radius: 3px;
            overflow: hidden;
            float: left;
            width: 20%;
            padding: 5px;

            .item-image {
              overflow: hidden;
              position: relative;
              border-top-right-radius: 10px;
              border-top-left-radius: 10px;
              width: 100%;
              .img {
                &::before {
                  background: #000 none repeat scroll 0 0;
                  content: "";
                  height: 100%;
                  left: 0;
                  opacity: 0;
                  position: absolute;
                  top: 0;
                  transition: all 0.5s ease-in-out 0s;
                  width: 100%;
                }
              }
              .addtocart {
                position: absolute;
                top: 50%;
                left: 50%;
                width: auto;
                min-width: 135px;
                text-align: center;
                background: $Magento;
                color: $White;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 14px;
                box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
                padding: 10px 20px;
                border-radius: 4px;
                opacity: 0;
                transition: all 0.3s ease-in-out;
                transform: translate(-50%,-50%);
                -moz-transform: translate(-50%,-50%);
                -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                &:hover {
                  background: $mainColorDarck;
                  text-decoration: none;
                }
              }
            }
            .item-info {
              background: $White;
              padding-left: 25px;
              padding-right: 25px;
              padding-bottom: 25px;
              border-bottom-right-radius: 10px;
              border-bottom-left-radius: 10px;
              .item-title {
                padding: 20px 0;
                margin: 0 0 20px;
                border-bottom: 1px solid #e1e1d8;
                line-height: 16px;
                font-weight: bold;
                font-family: $Roboto;
                font-size: 15px;
                text-decoration: none;
                a {
                  color: #222;
                  font-weight: 500;
                  font-size: 14px;
                }
              }
              .item-content {
                margin: 10px 0;
              }

              .item-title {
                padding: 15px 0 20px;
                line-height: 14px;
              }
            }
            &:hover {
              .item-image {
                .img {
                  &:before {
                    opacity: 0.5;
                    transition: all 0.5s ease-in-out;
                  }
                }
                .addtocart {
                  opacity: 1;
                  transition: all 0.5s ease-in-out;
                }
              }
              .item-info {
                .item-title {
                  a {
                    color: $Magento;
                  }
                }
              }
            }
          }
    }
    .nav-page {
      padding: 0;
      list-style: outside none none;
      margin: 0;
      padding-top: 25px;
      padding-bottom: 25px;
      text-align: center;
      .page {
        display: inline-block;
        .button-page {
          display: inline-block;
          padding-left: 3px;
          height: 5px;
          width: 40px;
          border-radius: 10px;
          padding: 0;
          background: #222;
          margin: 0 5px;
        }
        .sel {
          background: $Magento;
        }
      }
    }
  }
/*----------------------------*/
.sj-responsive-listing {
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
    .respl-header {
      margin: 0px 10px 20px 10px;
      padding: 0;
      display: block;
      display: inline-block;
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
}
.sj-responsive-listing .respl-header .respl-sort-view {
    max-width: none;
    padding: 0;
}
.sj-responsive-listing .respl-header .respl-sort-view .respl-sort .sort-wrap .respl-option {
    margin: 0;
    padding: 0 10px;
}
.sj-responsive-listing .respl-header .respl-sort-view .respl-sort .sort-wrap .respl-option > li {
    display: inline-block;
    float: left;
    padding: 8px 10px;
    position: relative;
    text-decoration: none;
}
.sj-responsive-listing  .respl-header .respl-sort-view .respl-sort .sort-wrap .respl-option >li.sel:before {
    border-color: #ff5722 transparent transparent;
    border-style: solid;
    border-width: 4px 5px 5px;
    content: "";
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    position: absolute;
    top: 2px;
    width: 0;
}

.color2 .sj-responsive-listing  .respl-header .respl-sort-view .respl-sort .sort-wrap .respl-option > li.sel:before {
    border-color: #2B6698 transparent transparent;
}
.sj-responsive-listing .respl-items {
    margin: 0 -15px;
    width: auto;
    padding: 0;
}
.sj-responsive-listing .respl-items .respl-item {
    margin-bottom: 25px;
    padding: 0 10px;
}
.sj-responsive-listing  .respl-items .respl-item {
    float: left;
}
.sj-responsive-listing .respl01-4 .respl-item {
    width: 24%;
}
.isotope .isotope-item {
    transition-property: transform, opacity;
}
.isotope, .isotope .isotope-item {
    transition-duration: 0.8s;
}
.sj-responsive-listing .respl-items .respl-item .item-inner {
    background: $White none repeat scroll 0 0;
    border-radius: 3px;
    margin: 0;
    overflow: hidden;
}
.sj-responsive-listing .respl-items .respl-item .item-inner .item-image {
    overflow: hidden;
    position: relative;
}
.sj-responsive-listing .respl-items .respl-item .item-inner .item-image {
    border: medium none;
}
.sj-responsive-listing .respl-items .respl-item .item-inner .item-image .img {
    background: $White none repeat scroll 0 0;
    display: block;
    overflow: hidden;
    position: relative;
}
.sj-responsive-listing .respl-item .item-inner .item-more .more-image img, .sj-responsive-listing  .respl-items .respl-item .item-image img {
    border: medium none;
    float: left;
    max-width: 100%;
    width: 100%;
}
.sj-responsive-listing .respl-items .respl-item .item-inner .item-image .addtocart {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 135px;
  text-align: center;
  background: #0972CA;
  color: $White;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.sj-responsive-listing .respl-items .respl-item .item-inner .item-image .addtocart:hover {
  background: #7b0445;
}
.sj-responsive-listing .respl-items .respl-item .item-inner .item-image .sale,
.sj-responsive-listing .respl-items .respl-item .item-inner .item-image .product_label {
  height: 45px;
  width: 45px;
  line-height: 45px;
  border-radius: 45px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: #63c54c;
  color: $White;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.sj-responsive-listing .respl-items .respl-item .item-inner .item-image .sale:before,
.sj-responsive-listing .respl-items .respl-item .item-inner .item-image .product_label:before {
  border-bottom: 17px solid #63c54c;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  content: "";
  position: absolute;
  right: -6px;
  top: -6px;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
}

.sj-responsive-listing .respl-items .respl-item .item-inner {
  margin: 0;
  background: $White;
  border-radius: 3px;
  overflow: hidden;
}
.sj-responsive-listing .respl-items .respl-item .item-inner .item-image {
  position: relative;
  overflow: hidden;
}
.sj-responsive-listing .respl-items .respl-item .item-inner .item-image .img {
  display: block;
  overflow: hidden;
  position: relative;
  background: $White;
}
.sj-responsive-listing .respl-items .respl-item .item-inner .item-image .img:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.sj-responsive-listing .respl-items .respl-item .item-inner:hover .item-image .img:before {
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}
.sj-responsive-listing .respl-items .respl-item .item-inner:hover .item-image .addtocart {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.sj-responsive-listing .respl-items .respl-item .item-inner:hover .item-info h3.item-title a {
  color: #0972CA;
}
.sj-responsive-listing .respl-items .respl-item .item-inner .item-image {
  border: none;
}
.sj-responsive-listing .respl-items .respl-item .item-inner .item-info {
  background: $White;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 17px;
}
.sj-responsive-listing .respl-items .respl-item .item-inner .item-info h3.item-title {
  padding: 20px 0;
  margin: 0 0 20px;
  border-bottom: 1px solid #e1e1d8;
  line-height: 16px;
}
.sj-responsive-listing .respl-items .respl-item .item-inner .item-info h3.item-title a {
  color: #222;
  font-weight: bold;
  font-size: 14px;
}
.sj-responsive-listing .respl-items .respl-item .item-inner .item-info .item-content {
  margin: 10px 0;
}
.sj-responsive-listing .respl-items .respl-item .item-inner .item-info .item-content .item-description {
  color: #666;
  font-size: 12px;
}


.sj-responsive-listing .respl-items .respl-item .item-inner .item-info h3.item-title {
  margin: 0 0 15px;
}
.color2 h3.sppb-addon-title {
    border-top: 2px solid #2B6698;
}
.color2 h3.sppb-addon-title > span::before {
    background-image: url("../images_tmpl/icon3.png");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 20px;
    width: 30px;
}
.color2 h3.sppb-addon-title > span {
    background: #2B6698 none repeat scroll 0 0;
}
.color4 h3.sppb-addon-title > span::before {
    background-image: url("../images_tmpl/icon4.png");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 22px;
    width: 30px;
}
.color4 h3.sppb-addon-title {
    border-top: 2px solid #82add6;
}
.color4 h3.sppb-addon-title > span {
    background: #82add6 none repeat scroll 0 0;
}
.color4 .sj-responsive-listing  .respl-header .respl-sort-view .respl-sort .sort-wrap .respl-option > li.sel::before {
    border-color: #82add6 transparent transparent;
}
/*--------------*/
.color5 h3.sppb-addon-title > span::before {
    background-image: url("../images_tmpl/icon5.png");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 22px;
    width: 30px;
}
.color5 h3.sppb-addon-title {
    border-top: 2px solid #facb66;
}
.color5 h3.sppb-addon-title > span {
    background: #facb66 none repeat scroll 0 0;
}
.color4 .sj-responsive-listing  .respl-header .respl-sort-view .respl-sort .sort-wrap .respl-option > li.sel::before {
    border-color: #facb66 transparent transparent;
}
/*------Special offers-----*/
.exp-advice {
  background-color: $DWhite;
 .sppb-row {

   .sppb-addon-content {

     .sppb-addon-title {
       font-size: 20px;
       font-weight: 700;
       line-height: 20px;
       color: #000;
       font-family: $Roboto;
     }

     .sppb-addon-text {
       text-align: left;
     }
   }
 }
}
/*--------------------------*/
.banners {
  padding: 40px 0;

  div {
    margin-bottom: 10px;

    a {
      display: block;
      overflow: hidden;
      position: relative;

      img {
        max-width: 100%;
      }

      .s-desc {
        color: $White;
        height: 100%;
        padding-top: 6%;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 53.44%;
        z-index: 3;

        h3 {
          color: $White;
          font-size: 24px;
          margin-bottom: 5px;
          text-transform: none;
        }

        h2 {
          color: $White;
          font-size: 45px;
          font-weight: 400;
          margin: 0;
          text-transform: none;
        }

        h1 {
          color: $White;
          font-size: 56px;
          margin: 0 0 18px;
        }

        span {
          color: $White;
          display: inline-block;
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
        }

      }
    }
  }
}
/*-------------------------------------------*/
.footer {
  background: #232323 none repeat scroll 0 0;
  color: $White;
  font-size: 16px;
  font-family: $Roboto;
}
