* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('../img/2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.box {
    width: 560px;

    position: absolute;
    top: 50%;
    margin-top: -307px;
    left: 50%;
    margin-left: -280px;
    text-align: center;
}
.box_head {
    margin-bottom: 2px;

    line-height: 61px;
    color: #fff;
    font-size: 24px;
    background-color: rgba(42, 83, 81, 0.7);
}

.box_form {
    background: rgba(78, 33, 33, 0.6) none repeat scroll 0 0;
}

.form_input {

    line-height: 1.5;
    color: #ccc;
    font-size: 25px;

}
form {
    height: 90%;
    margin: auto;
    width: 450px;
}
form > span {
    height: 32px;
    line-height: 32px;
    display: block;
    color: #999;
    font-size: 14px;
    background: rgba(0, 0, 0, 0) url("../img/ou-line.png") no-repeat scroll 0 16px;
}
form img {
    margin: 35px 0 15px;
}
form img:hover {
    box-shadow: 0 0 15px 4px #4885ab;
}
.img1 {
  background: rgba(0, 0, 0, 0) url("../img/tort.png") no-repeat scroll 0 16px;
  height: 300px;
}
.bk {
    margin: 15px 0;
    padding: 0 0 0 15px;
    width: 261px;
    height: 34px;
    display: block;
    outline: medium none;
    color: #ccc;
    font-size: 14px;
    background-color: #000;
    border-color: -moz-use-text-color -moz-use-text-color #484948;
    border-style: none none solid;
    border-width: medium medium 1px;
}
.bk:hover,
.bk:focus {
    background-color: #1b5288;
    border-bottom: 1px solid #699bcd;
    box-shadow: 0 0 15px 4px #4885ab;
    color: #fffbfb;
}
.check {
    margin: 20px 0 5px;
    width: 95%;
    position: relative;
    text-align: center;
    font-size: 14px;
}
.option {
    margin: 3px 10px 0 -20px;
    height: 15px;
    width: 15px;
    display: inline-block;
    position: absolute;
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #fcfff4 0%, #dfe5d7 40%, #b3bead 100%) repeat scroll 0 0;
    box-shadow: 0 1px 1px white inset, 0 1px 3px rgba(0, 0, 0, 0.5);
}
.option input {
    visibility: hidden;
}
.option label {
    height: 13px;
    width: 13px;
    position: absolute;
    left: 1px;
    top: 1px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0) linear-gradient(-45deg, #fff 25%, grey 100%) repeat scroll 0 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 1);
}
.option label::after {
    height: 11px;
    width: 11px;
    top: 1px;
    left: 1px;
    content: "";
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0) linear-gradient(to top, #2e7ac4 0%, #50aedb 100%) repeat scroll 0 0;
    box-shadow: 0 1px 1px white inset, 0 1px 3px rgba(0, 0, 0, 0.5);
}
.option label:hover::after {
    opacity: 0.3;
}
.option input[type="checkbox"]:checked + label::after {
    opacity: 1;
}
button {
    margin: 15px 0;
    height: 37px;
    width: 151px;
    color: #fff;
    background: rgba(0, 0, 0, 0) linear-gradient(to top, #2e7ac4, #50aedb) repeat scroll 0 0;
    border: 1px solid #1b5288;
    border-radius: 5px;
}
button:hover {
    box-shadow: 0 0 15px 4px #4885ab;
}
.button-fb {
    margin: 30px 0 15px;
    padding: 0 1.5em;
    width: 234px;
    height: 34px;
    display: inline-block;
    background-color: #384f88;
    border-radius: 0.3em;
    border-top: 1px solid #7789b7;
    color: #fff;
    font: bold 14px/32px Arial,Verdana,sans-serif;
    text-decoration: none;
    white-space: nowrap;
}
.button-fb::before {
    margin: 0 1em 0 -0.7em;
    padding: 0 0.1em;
    width: 1em;
    float: left;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    border-radius: 0.15em 0 0 0.15em;
    box-shadow: 1px 0 0 #384f88, 2px 0 0 #4d68ab;
}
.button-fb > span {
    font-weight: normal;
}
.button-fb:hover {
    box-shadow: 0 0 15px 4px #4d68ab;
}
.fb::before {
    content: "f";
}
.fb::after {
    content: url("../img/quote.png");
    padding-left: 20px;
}
