@import 'bootstrap-custom';
body {
  min-width: 360px;

}
/*----------------button---------------------------------*/
.btn {
  border-radius: 2px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-lg {
  font-size: 2rem;
}
.btn-theme-primary {
    background: rgba(124, 147, 221, 0.9) none repeat scroll 0 0;
    color: #fff;
    border-color: rgba(124, 147, 221, 0.9);
    box-shadow: none;

    &:hover {
			color: #7c93dd!important;
			background-color: transparent;;
			transition: .7s;
    }
}
.btn-secondary-outline {
    border-color: rgba(228, 153, 21, 0.9);
    box-shadow: none;
    color: rgba(228, 153, 21, 0.9)!important;

		&:hover {
			color: #fff!important;
			background: rgba(228, 153, 21, 1);
			transition: .7s;
    }
}
/*--------network icons----------------*/
.networks {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

  .networks__icon {
    display: block;
    float: right;
    padding-left: 20px;

    &:hover {
      content: '';
      text-decoration: none;

      &:before {
        color: $colorGrey;
        cursor: pointer;
      }
    }

    &:before {
      color: $colorBlue;
      font-family: $fontAmesome;
      font-size: 20px;
    }
  }

  .networks__icon--facebook {

    &:before {
      content: "\f09a";
    }
  }

  .networks__icon--twitter {

    &:before {
      content: "\f099";
    }
  }

  .networks__icon--instagram {

    &:before {
      content: "\f16d";
    }
  }
}
/*---------header line-----------------------*/

.header__wrapper {
  background-color: transparent;
  border-bottom: 0;
  -webkit-backface-visibility: hidden;
  left: 0;
  right: 0;
  transition: all .4s ease-in-out;
  border-bottom: 0 solid #eee;
}
.header-line {
  position: absolute;
transform: translateX(-50%);
top: 0;
left: 50%;
z-index: 9999;
background: transparent;

  .header-line__inner {
    position: relative;
    background-color: transparent;
    color: $borderWhite;
    font-family: $fontMain;
    font-size: 15px;
    line-height: 30px;
    width: 100%;
    min-width: 360px;
    z-index: 90;
    border-bottom: 1px solid #fff;

    .header-line__link {
      height: 100%;
    }

    .dropdown-h {
      display: inline-block;
      float: left;
      padding: 10px 0 10px 50px;
      background-image: url("../img/hokkey_1.png")!important;
      background-position: left;
      background-repeat: no-repeat;
      font-family: $fontMain;
      color:  $colorGreyLitgh;

      &:hover,
      &:focus {
        color:  $colorGreyLitgh;
        text-decoration: none;

        &:after{
          content:' \f106';
          font-family: $fontAmesome;
          padding-right: 5px;
          font-size: 25px;
        }
      }

      &:after {
        content: ' \f107';
        font-family: $fontAmesome;
        padding-right: 5px;
        font-size: 25px;
      }
    }
    .hidden-xs {
      padding: 10px 0;
      text-align: center;

      p {
        margin: 0;

        span {
          padding-right: 35px;
          color: #d1ab66;
        }
      }
    }
  }
}
.headen-block {
  background-color: #06589b;
  box-shadow: 0 0 20px 0 rgba(22, 22, 22, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 97;

  label[for] {
    cursor: pointer;
  }

  input[type="checkbox"] {
    display: none;
  }


  .lightbox {
    z-index: 1;
    min-height: 100%;
    overflow: auto;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform .5s ease-out;
            transition: transform .5s ease-out;

    img {
      position: fixed;
      top: 50%;
      left: 50%;
      max-width: 96%;
      max-height: 96%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    }
  }


  input[type="checkbox"]:checked + .lightbox {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  input[type="checkbox"]:checked ~ .grid_line {
    opacity: .125;
  }

  .grid_line {

    color: #fff;
    font-family: $fontMain;
    font-size: 16px;
    z-index: 0;
    padding: 170px 5% 5% 5%;

    background-color: #06589b;

    -webkit-transition: opacity .75s;
            transition: opacity .75s;


    .grid-item {
      display: inline-block;
      width: 25%;
      padding: 16px;
      opacity: .75;
      -webkit-transition: opacity .5s;
      transition: opacity .5s;
      &:hover {
        opacity: 1;
      }
    }

    img {
      max-width: 100%;
      max-height: 100%;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    }
  }

  @media screen and (max-width: 1024px) {
    .grid_line {

      .grid-item {
        width: 50%;
      }
    }
  }
  @media screen and (max-width: 480px) {
    .grid_line {

      .grid-item {
        width: 100%;
      }
    }
  }
}
/*---------------------main-menu----------------------------*/
.header_menu {

  .navbar-header {

    .navbar-toggle--color {
      background-color: #5d5d63;

      .icon-bar--color {
        background-color: #fff;
      }
    }
  }

  .navbar-nav {
    text-transform: uppercase;
    margin-top: 5px;
    li {

      img {
        padding: 5px;
      }

      a {
        color: $borderWhite;
        font-family: $fontMain;
        font-size: 18px;


        &:hover,
        &:focus {
          color: $colorGreyLitgh;
          text-decoration: none;
          background-color: transparent;
        }
      }
    }
  }
}

.video-baner {
  background-color: transparent;
  border-color: transparent;
  z-index: 98;
  position: absolute;
  left:50%;
  top: 30px;
  transform: translateX(-50%);
  width: 100%;
}

.logo-img {
  padding: 10px 0;
  margin: auto;
}

.fixed {
  background-color: rgba(255, 255, 255, 1);
  position:fixed;
  top:-1px;
  left:0;
  width:100%;
  padding:5px;
  z-index: 99;
  box-shadow: 0 9px 21px -9px rgba(0,0,0,.26);

  .navbar-nav {
    li {
      a {
        color: #145482 !important;
      }
    }
  }
  .btn-menu__innere {
    border: 2px solid #145482 !important;
    color: #145482 !important;
  }
  .dropdown-h {
    color: #145482 !important;
  }
}

.transbg {
  background-color: rgba(22, 22, 22, 0.7)!important;
}

/*---------------skroll down----------------------*/
.scroll {
	position:relative;
	font-size:15px;
	margin-top:40px;
	display:inline-block;

  &:hover {
    text-decoration:none;
  }

  &:after {
    content:'';
    width:40px;
    height:40px;
    position:absolute;
    top:40px;
    margin:auto;
    top:50px;
    right:0;
    bottom:0;
    left:0;
    -webkit-animation:3s arrow infinite ease;
    animation:3s arrow infinite ease;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
  }
}

.tagline {
	font-size:2.3em;
	letter-spacing:0.02em;
	padding:0;
}

.inner {
	margin:0 auto;
  text-align: center;

  a {
    color: #fff;
    font-family: $fontMain;
    text-decoration: none;
  }
}

pre {
	background:rgba(0,0,0,0.2);
	padding:2em 0 2em 0;
	font-size:2.1em;
	margin-top:0.7em;
}
@-webkit-keyframes arrow {
	0%,100% {
		top:50px;
	}
	50% {
		top:80px;
	}
}
@keyframes arrow {
	0%,100% {
		top:50px;
	}
	50% {
		top:80px;
	}
}
/*-------------------------------*/
.header-line {
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
  z-index: 9999;
  background: transparent;
  display: none;
}
.header-line__link {
    background-color: transparent;
    float: left;
    margin-top: 12px;

      a {
        background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll 0 0;
        display: inline-block;
        height: 20px;
        margin: 0 23px 0 0;
      }
      .home {
        background-position: 0 0;
        width: 23px;
        &:hover {
          background-position: -65px 0;
        }
      }
      .mail {
        background-position: -23px 0;
        width: 18px;
        &:hover {
          background-position: -88px 0;
        }
      }
      .map {
        background-position: -41px 0;
        width: 24px;
        &:hover {
          background-position: -106px 0;
        }
      }
    }
/*-----------------------*/
.btn-menu-wrapper {
  float: left;
  display: inline-block;
}
.dropdown-h {
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    margin-top: 5px;
    padding: 10px 15px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    &:hover {
      opacity: 1;
      background-color: transparent;
      color: $colorGreyLitgh;
      text-decoration: none;
    }
}
.btn-menu__innere {
  border: 2px solid #fff;
  border-radius: 5px;
  &::before {
      font-family: FontAwesome;
      content: "\f0c9";
      font-size: 20px;
      padding-right: 15px;
      vertical-align: -2px;
  }
  &:hover {
      border: 2px solid $colorGreyLitgh;
  }
}
.btn-menu__innere_closed {
  border: 2px solid #fff;
  border-radius: 5px;
  &::before {
      font-family: FontAwesome;
      content: "\f00d";
      font-size: 20px;
      padding-right: 15px;
      vertical-align: -2px;
  }
  &:hover {
      border: 2px solid $colorGreyLitgh;
  }
}
.btn_search-wrapper {
  float: left;
  display: inline-block;
  padding-left: 20px;
}
.fa-search::before {
    padding-right: 10px;
}
.navbar-collapse.collapse {
    display: inline-block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    float: left;
}
.search-field__input {
  width: 50%;
  border-bottom: 2px solid #fff;
  margin: 0 0 30px;
  padding: 15px 0;
}
.search-field__icon {
  width: 40px;
  height: 40px;
  float: left;
}
.search-field__input form {
  float: left;
  width: auto;
}
.form-control {
    height: 40px;
    padding: 10px 0 0 15px;
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
}
.form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*-------------------------------*/
.section-wrapper h1 {
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 50px;
}
#slide-2 {
   box-shadow: 0 9px 21px -9px rgba(0,0,0,.26);
   border-bottom: 1px solid #ddd;
}
#slide-3 {
  background: url("../img/bg_2.jpg") no-repeat 0px -24px;

}
#slide-3 h2 {
  color: #4d4d4d;
  padding-bottom: 25px;
  margin: 0;
  text-transform: uppercase;
}
#slide-4 {
  padding-bottom: 50px;
  box-shadow: 0 9px 21px -9px rgba(0,0,0,.26);

}
#slide-4 h1 {
  color: rgb(77, 77, 77);
  margin: 0;
}
/*-------------slader 2-------------------*/
.sl-producs {
  padding: 5px;
  position: relative;

  a {
    display: block;
    overflow: hidden;
    position: relative;
    background: #fff;

    &::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.9;
      transition: all 0.5s ease-in-out;
      background: rgba(2,82,148,.3);
    }
  }

  &:hover {

    a {

      &::before {
        opacity: 0;
        transition: all 0.5s ease-in-out;
      }
    }
  }
  .sl-producs__title {
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 89;
    text-transform: uppercase;

    h2 {
      color: #fff;
      text-align: left;
      font-size: 25px;
      text-shadow: 0px 1px 3px rgba(39, 39, 39, 0.8);
      line-height: 40px;

      &:hover {
        color: #fff;
      }
    }
  }
}
.white_arrow {
    position: absolute;
    bottom: 20px;
    right: 30px;
    display: block;
}
.white_arrow--left {
    left: 30px;
}
/*-- to-top --*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 30px;
  right: 1%;
  overflow: hidden;
  z-index: 999;
  width: 27px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background: url("../img/sprite.png") no-repeat 0px -24px; }

#toTopHover {
  width: 27px;
  height: 32px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0); }

/*-- //to-top --*/
#slide-1 {
  box-shadow: inset 0px 6px 3px 0px rgba(71, 71, 71, 0.41);
}
#slide-2 {
  border: 1px solid #fff;
}

#slide-4 {

}

#slide-5 {


  h2 {
    color: rgb(77,77,77);
    padding-bottom: 25px;
    margin: 0;
  }
}

  .transparent-block {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    position: relative;
}
.transparent-block__5 {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  position: relative;
  padding: 50px 0;
}
.white {
    color: #fff;
}
.teaser {
    background-color: #f6f6f6;
    background-position: 50%;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    margin: .5vw 1vw;
        margin-left: 1vw;
    margin-left: 0;
    z-index: 1;
    float: left;

    height: 18vw;
    width: 23%;
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    perspective: 400px;
}
.teaser {
    font-size: 100%;
}
.teaser {
    vertical-align: top;
    display: inline-block;
    float: none;
}
.teaser.white, .teaser.white a .date {
    color: #fff;
}
.teaser.white {
    background-color: transparent;
}
.teaser.white a {
    border-color: hsla(0,0%,100%,.3);
    color: #fff;
}
.teaser a {
    border-bottom: none;
        border-bottom-color: currentcolor;
}

.white a:hover {
   color: hsla(0,0%,100%,.7) !important;
   border-color: hsla(0,0%,100%,.3) !important;
}
.teaser > a::after {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.back, .back--europe-export::before, .cover {
    background-position: center 20%;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.teaser.white .cover {
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    opacity: .8;
}
.teaser.white.double_width:hover .cover, .teaser.white.double_width:hover .teaser__text, .teaser.white:hover .cover, .teaser.white:hover .teaser__text {
    opacity: .9;
}
.teaser > a .teaser__text {
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
    transform: translateZ(1px);
    position: relative;
    z-index: 999;
}
.teaser > a .date {
    color: rgba(0,0,0,.65);
    z-index: 999;
    font-size: 90%;
    margin-top: 5px;
    margin-bottom: 2px;
}
.teaser > a .date, .teaser > a .link {
    position: relative;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}
.teaser.white, .teaser.white a .date {
    color: #fff;
}
.teaser > a .date, .teaser > a .link {
    position: relative;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}
.teaser > a .link {
    border-color: rgba(0,122,194,.3);
    color: #1b86c0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-weight: 500;
    display: inline;
    z-index: 100;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 20px;
    line-height: 1.6;
}
.teaser.white .link, .teaser.white a {
    border-color: hsla(0,0%,100%,.3);
    color: #fff;
}
.teaser .info {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    background-blend-mode: multiply;
    background-color: #1b86c0;
    background-position: 50%;
    background-size: cover;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 1;
    left: 0;
    top: 0;
}
.teaser.out-left .info {
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-animation: out-left .3s ease 0ms 1 forwards;
    -moz-animation: out-left .3s ease 0ms 1 forwards;
    -o-animation: out-left .3s ease 0ms 1 forwards;
    animation: out-left .3s ease 0ms 1 forwards;
}
.teaser:hover .info {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 2;
    opacity: 1;
}
a:hover, a:focus {
    text-decoration: none;
}
/*-----------------------------------*/
.footer__wrapper {
    clear: both;
    position: relative;
    background: #191919;
    font-size: 14px;
    line-height: 1.6em;
    font-family: Roboto, sans-serif;
    border-top: 1px solid #000;
    padding-top: 50px;
    padding-bottom: 50px;
}
.page-footer__links-column {
    font-size: 14px;
}
.page-footer__links-last-column {
    margin-right: 0;
}
.page-footer__heading {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 20px;
}
.page-footer__link {
    color: #999999!important;
    white-space: nowrap!important;
}
.page-footer__tuts-brand {
    position: relative;
    color: #8e8e8e;
    margin-bottom: 40px;
}
.page-footer__tuts-logo-image {
    margin: 7px 0 16px 0;
    vertical-align: middle;
}
.page-footer__envato-bar {
  background: #191919;
}
.page-footer__envato-bar-content {
  color: #999999;
  border-top: 1px solid #333333;
  overflow: hidden;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}
.page-footer__copyright {
    display: block;
    float: left;
    font-size: 12px;
    line-height: 20px;
}
.soc {
  overflow: hidden;
  margin: 0 auto;
  list-style: none; }
  .soc li {
    display: inline-block;
    *display: inline;
    zoom: 1; }

    .soc li a {
      font-family: si !important;
      font-style: normal;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -o-transition: .1s;
      -ms-transition: .1s;
      -moz-transition: .1s;
      -webkit-transition: .1s;
      transition: .1s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      overflow: hidden;
      text-decoration: none;
      text-align: center;
      display: block;
      position: relative;
      z-index: 1;
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: 18px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-right: 15px;
      color: #fff !important;
      background-color: #a6a6a6;
      padding: 0 !important; }
      .soc li a:hover {
        z-index: 2;
        background-color: #929292 !important; }
  .soc .soc-icon-last {
    margin: 0 !important; }
  .soc .soc-facebook {
    background-color: #3e5b98; }
    .soc .soc-facebook:before {
      content: '\e041'; }
  .soc .soc-twitter {
    background-color: #4da7de; }
    .soc .soc-twitter:before {
      content: '\e040'; }
  .soc .soc-googleplus {
    background-color: #dd4b39; }
    .soc .soc-googleplus:before {
      content: '\e042'; }
  .soc .soc-instagram {
    background-color: #e12da8; }
    .soc .soc-instagram:before {
      content: '\e057'; }
.social {
  display: inline-block;
}
.blue {
    background-color: #1681d8;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
.wrapper_single_card {
    margin-right: 3%;
    height: 380px;
}
.wrapper_single_card {
    background-color: #fff;
    max-width: 31.3%;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 0 9px 21px -9px rgba(0,0,0,.5)
}
.wrapper_single_card.blue {
    background-color: #1681d8;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
.blue_border_top {
    border-top: 5px solid #004d8c;
}
.wrapper_single_card:nth-child(3n) {
    margin-right: 0;
}
.wrapper_single_card.stock {
    background-color: #fff;
}
.wrapper_single_card .single_card_content {
    padding: 30px;
    width: 100%;
    height: 100%;
    color: #004d8c;
    display: block;
    text-decoration: none;
}
.wrapper_single_card.blue a, .wrapper_single_card.blue a:hover {
    color: #fff;
}
.wrapper_single_card .card_title {
    font-size: 20px;
    font-weight: 500;
    text-transform: none;
    z-index: 2;
    position: relative;
}
.wrapper_single_card.featured_news .card_text {
    padding-top: 25px;
    font-size: 27px;
    font-weight: 400;
}
.wrapper_single_card.blue:hover {
    background-color: #004d8c;
}
.wrapper_single_card .card_title {
    font-size: 20px;
    font-weight: 500;
    text-transform: none;
    z-index: 2;
    position: relative;
    letter-spacing: -.03em;
}
.wrapper_single_card .single_card_content a {
    color: #004d8c;
    &:hover {
      color: #004d8c;
      text-decoration: underline;
    }
}
.wrapper_single_card .card_text {
    position: absolute;
    top: 90px;
    width: calc(100% - 60px);
}
.wrapper_cards_home div:nth-child(3n), .wrapper_cards_news div:nth-child(3n), .wrapper_single_card:nth-child(3n) {
    margin-right: 0;
}
.wrapper_single_card .news_item {
    margin-bottom: 20px;
}
.wrapper_single_card .date {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.wrapper_single_card .news_details {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -.03em;
}
.more::before {
    background: url("../images_tmpl/pcc_right_arrow_blue.png") left center no-repeat;
    background-size: 18px 18px;
    content: " ";
    display: inline-block;
    height: 18px;
    margin-bottom: -3px;
    margin-right: 10px;
    width: 18px;
}
.more {
    bottom: 30px;
    right: 30px;
    font-size: 14px;
    font-weight: 500;
    color: #004d8c;
    padding-left: 30px;
    margin-left: 2em;
    text-indent: -2em;
    position: absolute;
}
