
body {
	width: 100%;
  height: 100%;
  background: url("../img/bg.jpg") top center no-repeat;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
	/*overflow: hidden;*/
}
body::-webkit-scrollbar{
  /*height: 16px;*/
  /*overflow: visible;*/
  /*width: 12px;*/
  display: none;
}
.content-wrap {
  width: 100%;
  height: 100%;
  max-width: 960px;
  min-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
	/*overflow: hidden;*/
}
/*---------------------------------------logotype-----------------------------------------------*/
.page-header {
	height: 148px;
  margin-top: 66px;
}

.logo{
  font-family: 'league_gothicregular', sans-serif;
  font-size: 45px;
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  float: left;
	  /*padding: 0 0 0 20px;*/
}

.logo__highlight{
  color: #745083;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(#745083, #322539);
  -webkit-background-clip: text;
  text-shadow: none;
}

/*---------------------------------------main-menu-----------------------------------------*/
.menu{
  width: 70.9%;
  margin-top: 4px;
  float: right;
  text-align: right;
  z-index: 100500;
}

.menu__list-item{
  /*margin-left: 41px;*/
  margin-left: 5.9%;
  float: left;
  /*margin: 0 0 0 4%;*/
}

.menu__link{
  font-size: 24px;
  padding: 0 5px;
  font-family: 'league_gothicregular', sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.405;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.menu__link:hover,
.menu__link--active{
  border-bottom: 2px solid #edbfff;
}
/*---------------------------------------------slider----------------------------------------------*/
.slider{
  height: 400px;
  background: url(../img/slider-transparent-bg.png); /* IE 8 FIX */
  background: rgba(0, 0, 0, 0.2);
  margin: 64px 0 168px;
  position: relative;
}

.slide{
  position: relative;
  height: 100%;
}

.slide__article,
.blurb__article{
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}

.slide__article{
  width: 55%; /* IE 8 FIX */
  width: calc(90% - 331px);
  margin-top: 79px;
  float: left;
}

.slide__title,
.blurb__title,
.blurb__link,
.testimonial__title,
.blog__title,
.blog__link,
.recent__title {
  font-family: 'league_gothicregular', sans-serif;
  font-size: 60px;
  color: #fff;
  height: 60px;
  overflow: hidden;
}

.slide__subtitle {
  font-family: 'league_gothicregular', sans-serif;
  font-size: 32px;
  color: #edbfff;
  height: 30px;
  overflow: hidden;
}

.slide__paragraph,
.blurb__paragraph,
.testimonial__paragraph,
.blog-post__info,
.recent__paragraph {
  font-family: 'OpenSans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-top: 4px;
  color: #fff;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  height: 144px;
  overflow: hidden;
}

.slide__img-container{
  position: relative;
  width: 28.5%;
  height: 100%;
  margin-right: 7.4%;
  float: right;
}

.slide__img-iphone4-blured{
  top: 60px;
  left: 0;
  position: absolute;
}

.slide__img-iphone4{
  position: absolute;
  margin-top: -17px;
  right: 0;
  /*position: relative;*/
}

/*---------------------------slide switch----------------------------*/
.click ul{
	float: right;
	width: 247px;
	margin-top: 92px;
	margin-bottom: 55px;
}
.click li{
	float: left;
}
.click a {
	display: block;
	width: 20px;
	height: 20px;
	background: url("../img/sprite.png") no-repeat;
  background-position: -29px -31px;
}
.click a:hover{
	background-position: -52px -31px;
}
.slider__prev-arrow, .slider__next-arrow{
  width: 10%; /* IE 8 FIX */
  width: calc(50% - 480px);
  min-width: 22px;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.slider__next-arrow{
  left: auto;
  right: 0;
}

.slider__prev-arrow:before, .slider__next-arrow:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/slider-arrow.png") center center no-repeat;
}

.slider__next-arrow:before{
  transform: rotate(180deg);
}

/*----about company---*/
.aboutcompany{
    background: rgb(115,79,129); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(115,79,129,1) 0%, rgba(51,38,58,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(115,79,129,1) 0%,rgba(51,38,58,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(115,79,129,1) 0%,rgba(51,38,58,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#734f81', endColorstr='#33263a',GradientType=0 ); /* IE6-9 */
    border-top: 1px solid  #000000;
    border-bottom: 1px solid  #000000;
}
.aboutcompany article{
	width: 24%;
  float: left;
  margin: 77px 35px 65px 45px;
  position: relative;
}
.aboutcompany > article:first-child{
	margin-left: 50px;
}
article p{
	font: 18px 'open_sans';
	color: #ffffff;
}
.aboutcompany article span {
	display: inline-block;
	font-size: 30px;
	text-transform: uppercase;
	color: #ffffff;
}
article a{
	float:right;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	color:#ffffff;
	margin-top: 30px;
}
article a:hover{
	text-shadow: 1px 0px 10px rgba(255, 255, 255, 1);
}
.aboutcompany__left:before{
	content: "";
    background: url("../img/sprite.png") no-repeat;
    background-position: -157px -71px;
    height: 40px;
    width: 30px;
    position: absolute;
    left: -37px;
}
.aboutcompany__center:before{
	content: "";
    background: url("../img/sprite.png") no-repeat;
    background-position: -113px -67px;
    height: 40px;
    width: 30px;
    position: absolute;
    left: -37px;
}
.aboutcompany__right:before{
	content: "";
    background: url("../img/sprite.png") no-repeat;
    background-position: -71px -65px;
    height: 40px;
    width: 30px;
    position: absolute;
    left: -37px;
}
/*-----------------blog----------------------*/
.blog{
	background:#f9f9f9;
	color: #454545;
}
.blog h3{
	text-transform: uppercase;
	font-size: 30px;
}

.blog p{
	font-family: 'open_sans';
	line-height: 22px;
	color: #454545;
	letter-spacing: -1px;
}
.blog__left span {
	color: #edbfff;
}
/*----------------------the block on the left------------------*/
.blog__left{
	width: 35%;
	float: left;
	background: #ffffff;
	margin: 97px 0px 110px 28px;
	padding: 31px 30px 40px 36px;
	position: relative;
}
.blog__left:before{
	content: "";
    background: url("../img/sprite.png") no-repeat;
    background-position: -62px -174px;
    height: 60px;
    width: 60px;
    position: absolute;
    left: -30px;
    top: 15px;
}
/*-----------------------the block on the right----------------------*/
.blog__right{
	float: right;
	margin-top: 127px;
	width: 45%;
}
.blog__right h4{
	font-family: 'open_sans';
	font-weight: bold;
}

.blog__right article{
	position: relative;
	margin: 12px 0px 22px 70px;
}
.blog__right a{
	float: right;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	color: #454545;
	padding-right: 18px;
}
.blog__right a:hover{
	text-shadow: 1px 0px 10px rgba(0, 0, 0, 1);
}
/*----картинки в блоке справа---*/
.one:before{
	content: "";
    background: url("../img/sprite.png") no-repeat;
    background-position: 0px -115px;
    height: 50px;
    width: 55px;
    position: absolute;
    left: -65px;
}
.two:before{
	content: "";
    background: url("../img/sprite.png") no-repeat;
    background-position: 0px -183px;
    height: 50px;
    width: 55px;
    position: absolute;
    left: -65px;
}
.three:before{
	content: "";
    background: url("../img/sprite.png") no-repeat;
    background-position: 0px -246px;
    height: 50px;
    width: 55px;
    position: absolute;
    left: -65px;
}
/*---переключатель в блоке слева---*/
.blog__click{
	position: absolute;
	bottom: -32px;
    left: 170px;
}
.blog__click ul{
	float: right;
}
.blog__click li{
	float: left;
}
.blog__click a {
	display: block;
	width: 20px;
	height: 20px;
	background: url("../img/sprite.png") no-repeat;
    background-position: -29px -31px;
}
.blog__click a:hover{
	background-position: -52px -31px;
}
.brands {
	background: #f9f9f9;
	padding-bottom: 30px;
	padding-top: 25px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
.brands ul{
	margin: 0px 93px;
}
.brands li{
	float: left;
	margin-left: 60px;
	height: 64px;
}
.brands li:first-child{
	margin-left: 0px;
}
.billabong{
	background: url("../img/sprite.png") no-repeat;
    background-position: 0px -306px;
	width: 70px;
}
.burton{
	background: url("../img/sprite.png") no-repeat;
    background-position: -134px -306px;
    width: 72px;
}
.zir{
	background: url("../img/sprite.png") no-repeat;
    background-position: -270px -306px;
    width: 65px;
}
.awsm{
	background: url("../img/sprite.png") no-repeat;
    background-position: -410px -306px;
    width: 50px;
}
.rvcl{
	background: url("../img/sprite.png") no-repeat;
    background-position: -528px -306px;
    width: 103px;
}
.vonzipper{
	background: url("../img/sprite.png") no-repeat;
    background-position: -697px -306px;
    width: 79px;
}
/*----класс с серым фоном и тремя колонками----*/
.comment{
	background: #ececec;
	padding: 96px 0px 65px 0px;
}
.comment article{
	float: left;
	width: 30%;
	margin-left: 5%;
}
.comment article:first-child{
	margin-left: 0px;
}
.comment_copyright{
	font-family: Georgia;
	font-style: italic;
	color: #c5c5c5;
	line-height: 50px;
}
.comment h3,
.comment span{
	font-size: 48px;
	text-transform: uppercase;
	line-height: 45px;
}
.comment span{
	color: #b9b9b9;
}
.comment h4{
	font-size: 30px;
	color: #454545;
}
.comment p{
	font-family: 'open_sans';
	color: #787878;
	line-height: 24px;
}
.comment_first{
	display: none;
}
/*--------------------------footter-------------------------*/
.page-footer{
  position: relative;
  height: 114px;
  background: url("../img/footer.jpg") center 30% no-repeat;
  overflow: hidden;
}

.page-footer:before{
  content: "";
  display: block;
  height: 16px;
  background: url("../img/shadow.png") top center no-repeat;
}

.menu--footer{
  margin-top: 27px;
  float: left;
}

.menu__list-item--footer{
  margin-left: -5px;
  margin-right: 37px;
}

.menu__link--footer{
  font-size: 20px;
}

.copyright{
  margin-top: 37px;
  float: right;
	font-family: 'open_sans', sans-serif;
  font-size: 11px;
  color: #fff;
}

.copyright__link{
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
