@import 'bootstrap-custom';
.btn {
  border-radius: 2px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-lg {
  font-size: 2rem;
}
.btn-theme-primary {
    background: #7c93dd none repeat scroll 0 0;
}
.btn-secondary-outline {
    border-color: rgba(255, 255, 255, 0.9);
    box-shadow: none;
    color: rgba(255, 255, 255, 0.9);
		&:hover {
			color: #333;
			background: #fff;
			transition: .7s;}
}
.line {
  height: 3px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ec6913+0,f0bb98+100 */
background: #ec6913; /* Old browsers */
background: -moz-linear-gradient(left,  #ec6913 0%, #f0bb98 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ec6913 0%,#f0bb98 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ec6913 0%,#f0bb98 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec6913', endColorstr='#f0bb98',GradientType=1 ); /* IE6-9 */

}
.wrapper-block {
  width: 100%;
  height: 100%;
  border: 1px solid #d6d6d6;
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.58);
  background-color: transparentize($color, $amount);
}
/*--top video-baner---*/
.video-baner {
  position: relative;
  height: 100vh;

}

.navbar-default {
  background-image: url("../img/feet.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  margin-bottom: 0;
  .navbar-header {
    .navbar-brand {
      padding: 0;
      height: 100%;
      margin-left: 0px;
      img {
        border: 4px solid #fff;
        max-width: 100%;
        height:auto;
        margin: 0 auto;
      }
    }
  }
  .navbar-nav {
    text-transform: uppercase;
    float: right;
    #nav-social {
      color: #ec6913;
      display: block;
      float: right;
      font-size: 16px;
      height: 56px;
      line-height: 56px;
      position: relative;
      text-align: left;
      text-indent: 25px;
      text-transform: uppercase;
      width: 90px;
    }
    li > a {
      color: #000;
    }
  }

  a {
    &:hover,
    &:focus {
      background-color: #4f535d !important;
      background-image: url("../img/menu-tab1.png");
      background-position: center;
      color: #fff !important;
    }
  }
}

.video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

.slogan {
  position: absolute;;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
  z-index: 80;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);

  h2 {
    font-size: 8rem;
    letter-spacing: 4px;
    text-align: center;
  }

  .hero-small-text {
    font-size: 4rem;
    font-family: $fontRoboto;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    text-align: center;
  }
}

#header-meta {
  background-color: #4f535d;
  background-image: url(../img/menu-tab1.png);
  color: #fff;
  text-align: center;
  font-family: $fontRoboto,Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 1.4rem;
  height: 24px;
  letter-spacing: 0.1em;
  line-height: 24px;
  width: 100%;
  img {
    max-height: 20px;
  }
}
.networks {
  display: block;
  float: right;

}
.networks__icon {
  float: left;
  padding-left: 20px;
}
.networks__icon:before {
  color: $colorGrey;
  font-family: $fontAmesome;
  font-size: 20px;
}
.networks__icon_facebook:before {
  content: "\f09a";
}
.networks__icon_twitter:before {
  content: "\f099";
}
.networks__icon:hover:before {
  color: $colorBlue;
  cursor: pointer;
}
/*--SECTION ALL---*/
#anchor_2 {
  background-color: transparentize($color, $amount);
  padding-top: 5%;
  padding-bottom: 5%;
}

.section {
	text-align: center;
  color: #fff;
  padding-top: 5%;
  padding-bottom: 5%;
  h2 {
    font-size: 3em;
    padding: 4.375rem 0rem;
    &::before {
      border: 2px solid #4ba0cb;
    }
    &::after {
      background: #4ba0cb;
    }
  }
  p {
    font: 100 18px Roboto,Arial,sans-serif;
    text-align: justify;
  }
  span {
    font-weight: bold;
    color: #ec8200;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4)
  }
}
/*About as*/
.section .section-about {
  padding-bottom: 50px;
}
.reason_list {
  *[class^="revealator"] {
    display: block;
    height: 200px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .reason_item_num {
    color: #ec8200;
    font: 66px/54px "Multicolore",sans-serif !important;
    text-align: center !important;
    margin-top: 2%;
  }
  .reason_item_des {
    margin: 0 15px;
    text-align: center !important;
  }
}

.revealator1 {
    display: block;
    height: 100%;
    margin: 0 auto 15px;
    width: 100%;
    border: none;
    box-shadow:none;
    background-color: transparent;
}
#anchor_4 {
  .amenities {
    height: 300px;
    .amenities-block {
      overflow: hidden;
      .img-responsive {
        &:hover {
          transform: scale(1.2);
          transition-duration: 0.5s;
        }
      }
      .amenities-item {
        margin: 15px auto;
      }
    }
  }
}
.img-responsive-about {

  border: 1px solid #d6d6d6;
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.58);
}
.img-resp-1 {
    display: block;
    height: auto;
    max-width: 100%;
    border: 1px solid #d6d6d6;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.58);
    margin: 5% auto;
}
#anchor_5 {
  color: #fff;
  font: 100 18px Roboto,Arial,sans-serif;
  background-color: transparentize($color, $amount);
  .kontackt,
  .feedbeck {
    padding-left: 5%;
    padding-right: 5%;
    text-align: left !important;
    p {
      font-size: 17px;
    }
    img {
      max-height: 30px;
    }
  }
}
/*---------------hotel-rooms--------------------*/
.hotel-rooms {
  position: relative;

  .services-box__hover-bg {
    background-color: rgba(0, 0, 0, 0.30);
    max-width: 500px;
    margin: 10px auto;

    a {
      box-shadow: 0 25px 37px -25px rgba(0, 0, 0, 0.75);
    }
  }

  .services-box__v-line {
    color: $White;
    display: none;
    position: absolute;
    z-index: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    h2 {
      font-family: $MyriadPro;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: normal;
    }

    ul {

      li {
        list-style-type: disc;
        text-align: left;
      }
    }
    .s-desc {
      font-size: 16px;
    }
  }
}

.banners {
  padding: 40px 0;

  div {
    margin-bottom: 10px;

    a {
      display: block;
      overflow: hidden;
      position: relative;

      img {
        max-width: 100%;
      }

      .s-desc {
        color: #fff;
        height: 100%;
        padding-top: 6%;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 53.44%;
        z-index: 3;

        h3 {
          color: #fff;
          font-size: 24px;
          margin-bottom: 5px;
          text-transform: none;
        }

        h2 {
          color: #fff;
          font-size: 45px;
          font-weight: 400;
          margin: 0;
          text-transform: none;
        }

        h1 {
          color: #fff;
          font-size: 56px;
          margin: 0 0 18px;
        }

        span {
          color: #fff;
          display: inline-block;
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
        }

      }
    }
  }
}
/*----------modal windows-------*/
.modal-dialog {
  width: 700px;
  margin: 70px auto;
}
.modal-content {
    background-color: #cbc9ca;
    border: 2px solid #cbc9ca;
    border-radius: 0;
    color: #cbc9ca;
    font-family: $Roboto;
    color: $DBlue;

    .fa {
      color:$btnSoc;
      font-size:9px;
      vertical-align:top;
    }

    .modal-header {
      text-transform: uppercase;
      font-weight: bold;
      border-bottom: 1px solid #cbc9ca;
    }

    .modal-footer {
      border-top: 1px solid #cbc9ca;
      text-align: center;
    }

    .form-group {
      float: left;
      margin-bottom: 15px;
      margin-right: 15px;

      .form-control {
        border-radius: 0;
        border: 1px solid $DBlue;
      }
    }
}
