@import 'bootstrap-custom';
body {
  min-width: 320px;
}
/*----------------button---------------------------------*/
a:hover, a:focus {
    color: #d3d7db!important;
    text-decoration: underline;
}
.btn {
  border-radius: 2px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-lg {
  font-size: 2rem;
}
.btn-theme-primary {
    background: rgba(124, 147, 221, 0.9) none repeat scroll 0 0;
    color: #fff;
    border-color: rgba(124, 147, 221, 0.9);
    box-shadow: none;

    &:hover {
			color: #7c93dd!important;
			background-color: transparent;;
			transition: .7s;
    }
}
.btn-secondary-outline {
    border-color: rgba(228, 153, 21, 0.9);
    box-shadow: none;
    color: rgba(228, 153, 21, 0.9)!important;

		&:hover {
			color: #fff!important;
			background: rgba(228, 153, 21, 1);
			transition: .7s;
    }
}
/*-----------------------------------------------*/
.navbar-nav {
  float: right;
}
/*---------header line-----------------------*/
.header-line {

  .header-line__inner {
    position: relative;
    background-color: #4f535d;
    background-image: url(../img/menu-tab1.png);
    color: #fff;
    font-family: "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.1em;
    z-index: 1101;

    .header-line__link {
      height: 100%;
    }

    .dropdown-h {
      display: inline-block;
      float: left;

      &:hover,
      &:focus {
        color:  $colorGreyLitgh;
        text-decoration: none;
      }
    }

    padding: 10px 0;
    text-align: center;

    p {
      margin: 0;

      span {
        padding-right: 35px;
      }
    }
  }
  .headen-block {
    background-color: #222;
    box-shadow: 0 0 20px 0 rgba(22, 22, 22, 0.5);
    top: 20%;
    transform: translate(0px, -20%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1100;

    label[for] {
      cursor: pointer;
    }

    input[type="checkbox"] {
      display: none;
    }

    .lightbox,
    .grid {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
    }

    .lightbox {
      z-index: 1;
      min-height: 100%;
      overflow: auto;
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0);
      -webkit-transition: -webkit-transform .5s ease-out;
              transition: transform .5s ease-out;

      img {
        position: fixed;
        top: 50%;
        left: 50%;
        max-width: 96%;
        max-height: 96%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
      }
    }


    input[type="checkbox"]:checked + .lightbox {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
    }

    input[type="checkbox"]:checked ~ .grid {
      opacity: .125;
    }

    .grid {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-align-content: flex-start;
          -ms-flex-line-pack: start;
              align-content: flex-start;
      z-index: 0;
      padding: 60px 5% 5% 5%;
      overflow: auto;
      background-color: #222;
      text-align: center;
      -webkit-transition: opacity .75s;
              transition: opacity .75s;

      .grid-item {
        display: inline-block;
        width: 25%;
        padding: 16px;
        opacity: .75;
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
        &:hover {
          opacity: 1;
        }
      }

      img {
        max-width: 100%;
        max-height: 100%;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
      }
    }

    @media screen and (max-width: 1024px) {
      .grid {

        .grid-item {
          width: 50%;
        }
      }
    }
    @media screen and (max-width: 480px) {
      .grid {

        .grid-item {
          width: 100%;
        }
      }
    }
  }
}
.line {
  height: 3px;
  background: #ec6913; /* Old browsers */
background: -moz-linear-gradient(left,  #ec6913 0%, #f0bb98 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ec6913 0%,#f0bb98 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ec6913 0%,#f0bb98 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec6913', endColorstr='#f0bb98',GradientType=1 ); /* IE6-9 */

}
/*---------------------main-menu----------------------------*/
.header_menu {

  .navbar-header {

    .navbar-toggle--color {
      background-color: #5d5d63;

      .icon-bar--color {
        background-color: #fff;
      }
    }
  }

  .navbar-nav {
    text-transform: uppercase;

    li {

      img {
        padding: 5px;
      }

      a {
        color: $borderWhite;
        font-family: $fontMain;
        font-size: 18px;
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);

        &:hover,
        &:focus {
          color: $borderWhite;
          text-decoration: none;
          background-color: transparent;

          &:after{
            content:'  \f106';
            font-family: $fontAmesome;
            padding-right: 3px;
            color: $colorBlue;

          }
        }

        &:after {
          content: '  \f107';
          font-family: $fontAmesome;
          padding-right: 3px;
          color: $colorBlue;
        }
      }
    }
  }
}

.video-baner {
  background-color: transparent;
  border-color: transparent;
  z-index: 1099;
  position: absolute;
  left:50%;
  top: 75px;
  transform: translateX(-50%);
  width: 100%;
}

.logo-img {
  border: 2px solid #d1d4d9;
  margin: auto;
}

.fixed {
  background-color: rgba(22, 22, 22, 1);
  position:fixed;
  top:-1px;
  left:0;
  width:100%;
  padding:5px;
  z-index: 1099;
}

.transbg {
  background-color: rgba(22, 22, 22, 0.7)!important;
}
.slogan {
  position: absolute;;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
  z-index: 80;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);

  h2 {
    font-size: 6rem;
    letter-spacing: 4px;
    text-align: center;
  }

  .hero-small-text {
    font-size: 4rem;
    font-family: $fontMain;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    text-align: center;
  }
}
/*---------------skroll down----------------------*/
.scroll {
	position:relative;
	font-size:15px;
	margin-top:40px;
	display:inline-block;

  &:hover {
    text-decoration:none;
  }

  &:after {
    content:'';
    width:40px;
    height:40px;
    position:absolute;
    top:40px;
    margin:auto;
    top:50px;
    right:0;
    bottom:0;
    left:0;
    -webkit-animation:3s arrow infinite ease;
    animation:3s arrow infinite ease;
    border-right:2px solid #fff;
    border-bottom:2px solid #fff;
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
  }
}

.tagline {
	font-size:2.3em;
	letter-spacing:0.02em;
	padding:0;
}

.inner {
	margin:0 auto;
  text-align: center;

  a {
    color: #fff;
    font-family: $fontMain;
    text-decoration: none;
  }
}

pre {
	background:rgba(0,0,0,0.2);
	padding:2em 0 2em 0;
	font-size:2.1em;
	margin-top:0.7em;
}
@-webkit-keyframes arrow {
	0%,100% {
		top:50px;
	}
	50% {
		top:80px;
	}
}
@keyframes arrow {
	0%,100% {
		top:50px;
	}
	50% {
		top:80px;
	}
}
#header-meta {
  font-size: 1.5rem;
  img {
    max-height: 20px;
  }
}
.video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -100;
}
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
.wrapper-block {
  width: 100%;
  height: 100%;
  border: 1px solid #d6d6d6;
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.58);
  background-color: transparentize($color, $amount);
}
/*--SECTION ALL---*/
#anchor_2 {
  background-color: transparentize($color, $amount);
  padding-top: 5%;
  padding-bottom: 5%;
}
#anchor_4,
#anchor_6,
#anchor_8 {
  background-color: rgba(0, 0, 0, 0.6);
}
.section {
	text-align: center;
  color: #fff;
  padding-top: 5%;
  padding-bottom: 5%;
  h2 {
    font-size: 3em;
    padding: 4.375rem 0rem;
    &::before {
      border: 2px solid #4ba0cb;
    }
    &::after {
      background: #4ba0cb;
    }
  }
  p {
    font: 100 18px Roboto,Arial,sans-serif;
    text-align: justify;
  }
  span {
    font-weight: bold;
    color: #ec8200;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4)
  }
}
/*About as*/
.section .section-about {
  padding-bottom: 50px;
}
.reason_list {
  *[class^="revealator"] {
    display: block;
    height: 200px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .reason_item_num {
    color: #ec8200;
    font: 66px/54px "Multicolore",sans-serif !important;
    text-align: center !important;
    margin-top: 2%;
  }
  .reason_item_des {
    margin: 0 15px;
    text-align: center !important;
  }
}

.revealator1 {
    display: block;
    height: 100%;
    margin: 0 auto 15px;
    width: 100%;
    border: none;
    box-shadow:none;
    background-color: transparent;
}
#anchor_9 {
  .amenities {
    height: 300px;
    .amenities-block {
      overflow: hidden;
      .img-responsive {
        &:hover {
          transform: scale(1.2);
          transition-duration: 0.5s;
        }
      }
      .amenities-item {
        margin: 15px auto;
      }
    }
  }
}
.img-responsive-about {

  border: 1px solid #d6d6d6;
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.58);
}
.img-resp-1 {
    display: block;
    height: auto;
    max-width: 100%;
    border: 1px solid #d6d6d6;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.58);
    margin: 5% auto;
}
#anchor_10 {
  color: #fff;
  font: 100 18px Roboto,Arial,sans-serif;
  background-color: transparentize($color, $amount);
  .kontackt,
  .feedbeck {
    padding-left: 5%;
    padding-right: 5%;
    text-align: left !important;
    p {
      font-size: 17px;
    }
    img {
      max-height: 30px;
    }
  }
}
/*---------------hotel-rooms--------------------*/
.hotel-rooms {
  position: relative;

  .services-box__hover-bg {
    background-color: rgba(0, 0, 0, 0.30);
    max-width: 500px;
    margin: 10px auto;

    a {
      box-shadow: 0 25px 37px -25px rgba(0, 0, 0, 0.75);
    }
  }

  .services-box__v-line {
    color: $borderWhite;
    display: none;
    position: absolute;
    z-index: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    h2 {
      font-family: $MyriadPro;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: normal;
    }

    ul {

      li {
        list-style-type: disc;
        text-align: left;
      }
    }
    .s-desc {
      font-size: 16px;
    }
  }
}

.banners {
  padding: 40px 0;

  div {
    margin-bottom: 10px;

    a {
      display: block;
      overflow: hidden;
      position: relative;

      img {
        max-width: 100%;
      }

      .s-desc {
        color: #fff;
        height: 100%;
        padding-top: 6%;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 53.44%;
        z-index: 3;

        h3 {
          color: #fff;
          font-size: 24px;
          margin-bottom: 5px;
          text-transform: none;
        }

        h2 {
          color: #fff;
          font-size: 45px;
          font-weight: 400;
          margin: 0;
          text-transform: none;
        }

        h1 {
          color: #fff;
          font-size: 56px;
          margin: 0 0 18px;
        }

        span {
          color: #fff;
          display: inline-block;
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
        }

      }
    }
  }
}
.personal {
  padding-top: 0;

  h2 {
    color: #ec8200;
  }

  p {
    text-transform: uppercase;
    font-weight: bold;
  }
}
.power {
  text-align: right;
  font-size: 18px;
}
/*----------------------------------*/
.articles {

      .articles__item{
        display: block;
        float: left;
        height: 100%;
        color: #8a8a8a;
    display: block;
    float: left;
    font-family: "Ubuntu Medium";
    font-size: 90px;
    height: 100%;
        p {

          font-family : "Ubuntu Medium"!important;
          font-size: 90px;
          color: #8a8a8a;
        }
      }
      .articles__box {
        float: left;
        width: 240px;
      }
      .articles__box-icon {
        margin-top: 20px;
      }
      .articles__box-title {
        margin-top: 12px;
        font-family : "Ubuntu Medium";
        font-size: 20px;
        color: #ec8200;
      }
      .articles__box-text {
        margin-top: 27px;
        font-family: $Arial;
        font-size: 15px;
        color: #fff;
      }
}
#anchor_8 {
  .section-about {
    font-family: "Ubuntu Medium";
    font-size: 25px;
    text-align: left;
  }

}
/*----------modal windows-------*/
.modal-dialog {
  width: 300px;
  margin: 70px auto;
}
.modal-content {
    background-color: #cbc9ca;
    border: 2px solid #cbc9ca;
    border-radius: 0;
    color: #cbc9ca;
    font-family: $Roboto;
    color: $DBlue;

    .fa {
      color:$btnSoc;
      font-size:9px;
      vertical-align:top;
    }

    .modal-header {
      text-transform: uppercase;
      font-weight: bold;
      border-bottom: 1px solid #cbc9ca;
    }

    .modal-footer {
      border-top: 1px solid #cbc9ca;
      text-align: center;
    }

    .form-group {
      float: left;
      margin-bottom: 15px;
      margin-right: 15px;

      .form-control {
        border-radius: 0;
        border: 1px solid $DBlue;
        width: 250px;
      }
    }
}
