$primaryMenu: #1F7B67;
$borderWhite: #fff;
$fontArial:   "Arial";
$fontRoboto: "Roboto";
$fontAmesome: "FontAwesome";
$colorGrey: #8a8a8a;
$colorBlue: #248cec;
$color: #000;
$amount: 0.4;
/*---------------------------*/
$White: #fff;
$DWhite: #f0f2f6;
$Golg: #f4b60d;
$LLBlue: #dcf0f7;
$Blue: #0099CC;
$LBlue: #07769a;
$DBlue: #006485;
$DDBlue: #004156;
$DGray: #676767;
$DGray: #2a2a2a;
$LGrey: #cbc9ca;
$Orange: #f49156;
$DOrange: #e35f10;
$LOrange: #EAAB69;
$btnSoc:#ff0000;
/*-------fonts---------*/
$fontGothamPro: "GothamProRegular",sans-serif;
$Arial:   "Arial";
$Roboto: "Roboto",Helvetica,Arial,"Lucida Grande",sans-serif;
$MyriadPro: "MyriadProRegular", Helvetica,Arial,"Lucida Grande",sans-serif;
$Amesome: "FontAwesome";

$White: #fff;
$DWhite: #f0f2f6;
$Golg: #f4b60d;
$LLBlue: #dcf0f7;
$Blue: #0099CC;
$LBlue: #07769a;
$DBlue: #006485;
$DDBlue: #004156;
$DGray: #676767;
$DGray: #2a2a2a;
$LGrey: #cbc9ca;
$Orange: #f49156;
$DOrange: #e35f10;
$LOrange: #EAAB69;
$btnSoc:#ff0000;
/*-------fonts---------*/
$fontGothamPro: "GothamProRegular",sans-serif;
$Arial:   "Arial";
$Roboto: "Roboto",Helvetica,Arial,"Lucida Grande",sans-serif;
$MyriadPro: "MyriadProRegular", Helvetica,Arial,"Lucida Grande",sans-serif;
$Amesome: "FontAwesome";
