.container {
	margin: 0 auto;
	position: relative;
	width: 1200px;
	&::after {clear: both;}
	&::before,
	&::after {content: " "; display: table;}
}
b,
strong {
    font-weight: bold;
}
a,
a:link,
a:visited,
a:focus {
    color: #2c8647;
}
/**************************************************/
.button {
		margin: -7px auto 0;
		text-align: center;
		color: #5e615c;
		background-color: transparent;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-ms-border-radius: 20px;
		border-radius: 20px;
		border: 2px solid #DD864A;
		cursor: pointer;
		&:hover {
			color: #ffffff;
			background: #DD864A;
			transition: .7s;}
	}
.header {
	background-image: url(../img/background.png);
	background-attachment: fixed;
	width: 100%;
	padding: 20px 0;
	font: 100 18px Roboto,Arial,sans-serif;

		.greenline {
	    height: 200px;
			border-bottom: 3px solid #2a8b7b;
		}

		.header__logo {
	    float: left;
	    text-align: center;
	    width: 185px;

				a {
					background: rgba(0, 0, 0, 0) url("../img/ukrdezlogo.png") no-repeat scroll center center;
					display: block;
					height: 100%;
					text-indent: -9999px;
				}
		}

		.header__description {
	    display: table-cell;
	    padding-left: 100px;
	    text-align: center;
	    vertical-align: middle;
	    width: 640px;
			color: #333232;
			font-weight: bold;

			span {
				color: #2f8c7c;
				font-weight: bold;
				font-size: 39px;
				letter-spacing: 3px;
			}
				.partners__button-position {
					width: 400px;
					margin: 30px auto;
					display: inline-flex;

						.partners__button {
						    display: block;
						    height: 30px;
						    width: 200px;
						    font-family: Tahoma,sans-serif;;
						    font-size: 13px;
								margin-right: 20px;
						}
				}
		}

		.header__meta {
	    display: table-cell;
	    font-size: 16px;
	    font-weight: 300;
	    text-align: right;
	    vertical-align: middle;

					.language-switcher {
						color: #333232;
						display: block;
						position: relative;
						font-family: Tahoma,sans-serif;
						font-size: 14px;
						line-height: 26px;
						text-decoration: none;
						margin-bottom: 10px;
						.language-button {
							border: 1px solid #DD864A;
						}
					}

					.contact-phones {

							a {
						    color: #333232;
						    display: inline-block;
						    font-family: Tahoma,sans-serif;
						    font-size: 14px;
						    line-height: 26px;
						    text-decoration: none;
							}

							a > b {
						    font-size: 20px;
						    vertical-align: -3px;
							}
					}

					.contact-other {
				    font-size: 13px;
				    line-height: 16px;
				    margin: 5px 0;
						.skype {
							background: rgba(0, 0, 0, 0) url("../img/skype.png") no-repeat scroll 0 0;
							display: inline-block;
							height: 25px;
							padding: 1px 13px 0 0;
							a {
								background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
								padding-left: 20px;
								font-weight: bold;
							}
						}
						.email {
						  background: rgba(0, 0, 0, 0) url("../img/email.png") no-repeat scroll 0 2px;
						  display: inline-block;
						  height: 25px;
						  padding-top: 0;
							a {
								background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
								padding-left: 21px;
								font-weight: bold;
							}
						}
					}
				.social {
					padding-top: 5px;
					.facebook {
						display: inline-block;
						height: 60px;
						width: 60px;
					}
					.youtube {
						display: inline-block;
						height: 60px;
						width: 60px;
					}
					.social-img {
						height: 60px;
					}
				}
		}
}
/*Three-level menu with animation STARTS HERE*/
.navigate {
  background-color:#0F9476;
	-webkit-box-shadow: 1px 7px 5px 0px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    1px 7px 5px 0px rgba(50, 50, 50, 0.77);
	box-shadow:         1px 7px 5px 0px rgba(50, 50, 50, 0.77);
	ul {
		list-style-type:none;
		margin:0;
		padding:0;
		li {
			display:inline-block;
			position:relative;
		}
	}
	li {
		ul {
			background-color:#2F8C7C;
			position:absolute;
			left:0;
			width:160px;
		}
		li {
			position:relative;
			margin:0;
			display:block;
			ul {
				position:absolute;
				top:0;
				left:200px;
				margin:0;
			}
			a {
				border-bottom:solid 1px #0F5B4E;
				margin:0 10px;
				padding:0;
			}
			&:last-child a {
				border-bottom:none;
			}
		}
	}
	.sub-menu {
		display:none;
	  background-color: rgba(15, 148, 118, 0.9);
	  transition: all 0.7s;
	}
	.sub-menu-animated {
	  background-color: rgba(53, 105, 96, 0.9);
	}
	a {
		line-height:30px;
		padding:5px 12px;
		margin:0 12px;
		font-family: Tahoma,sans-serif;
		color:#fff;
		font-size: 15px;
		text-decoration:none;
		display:block;
		&:hover,
		&:focus,
		&:active {color:rgb(50,50,50);}
	}
	.dropdown {
	  background-color: inherit;
	  transition: all 0.7s;
		z-index: 100;
	}
	.dropdown-animated {
	  background-color: rgba(53, 105, 96, 0.9);
		z-index: 101;
	}
	.dropdown > a {
	  background-image:url('../img/arrow-down.png');
	  background-position:right 20px;
	  background-repeat:no-repeat;
	}
}
/**********slider**********************/
.slider-container {
  position: relative;
  height: 350px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: all-scroll;
}
.slider-control {
  z-index: 3;
  position: absolute;
  top: 0px;
  width: 12%;
  height: 100%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}
.slider-control.inactive:hover {
  cursor: auto;
}
.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}
.slider-control.left {
  left: 0;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.slider-control.right {
  right: 0;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}

.slider-pagi {
  position: absolute;
  z-index: 4;
  left: 50%;
  bottom: 2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}
.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before,
.slider-pagi__elem:hover:before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.slider {
  z-index: 2;
  position: relative;
  height: 100%;
}
.slider.animating {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}
.slider.animating .slide__bg {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide.active .slide__overlay,
.slide.active .slide__text {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
}
.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(1) .slide__bg {
  left: 0;
  background-image: url("../img/slider-3.jpg");
}
.slide:nth-child(1) .slide__overlay-path {
  fill: #e99c7e;
}
@media (max-width: 991px) {
  .slide:nth-child(1) .slide__text {
    background-color: rgba(233, 156, 126, 0.8);
  }
}
.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(2) .slide__bg {
  left: -50%;
  background-image: url("../img/slider-2.jpg");
}
.slide:nth-child(2) .slide__overlay-path {
  fill: #e1ccae;
}
@media (max-width: 991px) {
  .slide:nth-child(2) .slide__text {
    background-color: rgba(225, 204, 174, 0.8);
  }
}
.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(3) .slide__bg {
  left: -100%;
  background-image: url("../img/slider-1.jpg");
}
.slide:nth-child(3) .slide__overlay-path {
  fill: #adc5cd;
}
@media (max-width: 991px) {
  .slide:nth-child(3) .slide__text {
    background-color: rgba(173, 197, 205, 0.8);
  }
}
.slide:nth-child(4) {
  left: 300%;
}
.slide:nth-child(4) .slide__bg {
  left: -150%;
  background-image: url("../img/slider-4.jpg");
}
.slide:nth-child(4) .slide__overlay-path {
  fill: #cbc6c3;
}
@media (max-width: 991px) {
  .slide:nth-child(4) .slide__text {
    background-color: rgba(203, 198, 195, 0.8);
  }
}
.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 650px;
  -webkit-transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  will-change: transform, opacity;
  -webkit-transform: translate3d(-20%, 0, 0);
          transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__overlay {
    display: none;
  }
}
.slide__overlay path {
  opacity: 0.8;
}
.slide__text {
  position: absolute;
  width: 25%;
  bottom: 15%;
  left: 12%;
  color: #fff;
  -webkit-transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  will-change: transform, opacity;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__text {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20rem;
    text-align: center;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    -webkit-transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    padding: 0 1rem;
  }
}
.slide__text-heading {
  font-family: 'Exo 2', Helvetica, Arial, sans-serif;
  font-size: 5rem;
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .slide__text-heading {
    line-height: 20rem;
    font-size: 3.5rem;
  }
}
.slide__text-desc {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  .slide__text-desc {
    display: none;
  }
}
.slide__text-link {
  z-index: 6;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2.3rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
@media (max-width: 991px) {
  .slide__text-link {
    display: none;
  }
}
.slide__text-link:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(-85deg);
          transform: rotateX(-85deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  will-change: transform;
}
.slide__text-link:hover:before {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}
/***section-why**/
.section-why {
	border-top: 5px solid #0f9476;
	border-bottom: 5px solid #0f9476;
	box-shadow: 0 10px 8px -8px rgba(205, 181, 159, 1) inset;
	font: 100 17px Roboto,Arial,sans-serif;
	text-align: center;
	padding-bottom: 45px;
	background-image: url(../img/background.png);
	background-attachment: fixed;
	.why-item {
		display: inline-block;
    margin: 0 45px;
    vertical-align: top;
    width: 300px;
		.thumb {
			display: table-cell;
    	height: 150px;
	    vertical-align: middle;
	    width: inherit;
		}
		span {
			font: 20px Roboto,Arial,sans-serif;
			text-transform: uppercase;
		}
	}
}
.section-title {
	text-align: center;
	text-transform: uppercase;
	padding: 35px 0 35px;
}
	.section-title h2:before {
	    background-image: url("../img/divider-top.png");
	    height: 8px;
	    top: 0;
	    width: 334px;
	}
	.section-title h2:before, .section-title h2:after {
	    content: "";
	    left: 50%;
	    position: absolute;
	    transform: translateX(-50%);
	}
	.section-title h2:after {
	    background-image: url("../img/divider.png");
	    bottom: 0;
	    height: 6px;
	    width: 334px;
	}
	.section-title h2:before, .section-title h2:after {
	    content: "";
	    left: 50%;
	    position: absolute;
	    transform: translateX(-50%);
	}
	.section-title h2, h1, h2, h3, h4, h5, h6 {
	    font-style: normal;
	    font-weight: normal;
	}
	.section-title h2 {
	    background-position: center bottom;
	    background-repeat: no-repeat;
	    color: #0f9476;
	    font-size: 25px;
			font-weight: bold;
			letter-spacing: 3px;
	    padding: 15px 0 13px;
	    position: relative;
	    text-transform: uppercase;
	}
	.section-title h2 {
	    line-height: 1;
	    margin: 0;
	}
.section-title-green h2 {
	color: #fff;
}
.category-view {
	background-color: #0F5B4E;
	padding-bottom: 35px;
	color: #d9ddd9;
}
.new-produkt {
	background-image: url(../img/background.png);
	background-attachment: fixed;
}
