@media (min-width: 480px) {
  .header-top-line a {
    font-size: 12px;
    font-size: calc( 0.0019607843 * 100vw + 11.0588235294px ); }
  }
@media (min-width: 1500px) {
  .header-top-line a {
    font-size: 13px; }
  }
