@font-face {
    font-family: 'LatoWebBold';
    src: url('../webwebfonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../webfonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('../webfonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoWebBold';
    src: url('../webfonts/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('../webfonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../webfonts/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/Lato-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoWeb';
    src: url('../webfonts/Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('../webfonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('../webfonts/Lato-Italic.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoWeb';
    src: url('../webfonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../webfonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../webfonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Marck Script';
    src: local('Marck Script'), local('MarckScript-Regular'), url('../webfonts/marckscript.woff2') format('woff2'), url('../webfonts/marckscript.woff') format('woff'), url('../webfonts/marckscript.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
