

@font-face {
    font-family: 'LatoWebBold';
    src: url('../webwebfonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../webfonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('../webfonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoWebBold';
    src: url('../webfonts/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('../webfonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../webfonts/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/Lato-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoWeb';
    src: url('../webfonts/Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('../webfonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('../webfonts/Lato-Italic.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoWeb';
    src: url('../webfonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../webfonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../webfonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../webfonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Marck Script';
    src: local('Marck Script'), local('MarckScript-Regular'), url('../webfonts/marckscript.woff2') format('woff2'), url('../webfonts/marckscript.woff') format('woff'), url('../webfonts/marckscript.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@import 'bootstrap-custom';
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    background-color: #263238;
    width: 80%;
    float: left;
    .navbar-toggle {
      font-size: 16px;
      color: #000;
      background-color: #fff;
      &:focus,
      &:active {
        outline: 0;
      }
    }
    a {
      color: #fff;
    }
    .nav {
      li.active {
        outline: none;
        background-color: rgba(255,255,255,.3);
      }
      li a {
        color: #ddd;
        font-family: "LatoWebBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
        &:hover,
        &:focus,
        &.active {
          outline: 0;
          background-color: rgba(255,255,255,.3);
        }
      }
    }

}
.btn_search-wrapper {
    margin-top: 20px;
    text-align: right;


    a {
      font-size: 14px;
      color: #ddd;
      font-family: "LatoWebBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      &:hover {
        color: #ddd;
      }
    }
}
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    background-color: #1b2d56;
    .intro-body {
      display: table-cell;
      vertical-align: middle;

    }
}
.header__title {

  h1 {
    margin: 0;
    font-family: "LatoWebBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #ddd;
    padding-left: 55px;
    span {
      padding-top: 20px;
      padding-bottom: 10px;
      font-size: 30px;
      text-transform: uppercase;
      display: block;
      color: #fff;
    }
  }
}
.header__linck {

  text-align: right;
  a {
    font-size: 18px;
    font-family: "LatoWebBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    &:hover {
      color: #ddd;
    }
  }
}
.top-right {
  margin-top: 20px;
  text-align: right;
  ul li{
    list-style-type:none;
    display:inline-block;
    margin-left: 9px;
    a.fb{
      background:url(../images_tmpl/img-sprite.png) no-repeat 0px 0px;
      width:13px;
      height:24px;
      display:block;
      &:hover {
        background: url(../images_tmpl/img-sprite.png) no-repeat 0px -27px;
      }
    }
    a.twi{
      background: url(../images_tmpl/img-sprite.png) no-repeat -36px 2px;
      width: 21px;
      height:24px;
      display:block;
      &:hover{
        background: url(../images_tmpl/img-sprite.png) no-repeat -36px -25px;
      }
    }
    a.pin{
      background:url(../images_tmpl/img-sprite.png) no-repeat -61px 0px;
      width:16px;
      height:24px;
      display:block;
      &:hover{
        background:url(../images_tmpl/img-sprite.png) no-repeat -61px -27px;
      }
    }
     a.goog{
      background: url(../images_tmpl/img-sprite.png) no-repeat -14px 2px;
      width: 20px;
      height:24px;
      display:block;
      &:hover{
        background: url(../images_tmpl/img-sprite.png) no-repeat -14px -25px;
      }
    }
  }
}
.clearfix {
  clear: both;
}
.header__menu {
  display: block;
}
.btn-down {
    font-size: 80px;
    color: #fff;
    opacity:0.8;
    &:hover,
    &:focus {
      outline: 0;
      color: #fff;
    }
    i.animated {
      -webkit-transition-property: -webkit-transform;
      -webkit-transition-duration: 1s;
      -moz-transition-property: -moz-transform;
      -moz-transition-duration: 1s;
    }
    &:hover i.animated {
      -webkit-animation-name: pulse;
      -moz-animation-name: pulse;
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
    }
}
#banner {
  background: url(../images_tmpl/banner.jpg) no-repeat center;
  min-height: 40em;
  padding: 4em 0 4em 0;
}
.banner-info-w3ls {
    margin-top: 4em;

h2 {
    font-size: 2.7em;
    letter-spacing: 1px;
    color: #1b2d56;
    font-style: italic;
    font-family: "LatoWebBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
}
p {
    color: #212529;
    text-align: justify;
    font-size: 18px;
    font-family: "LatoWebBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
}
}
.mb-5 {
    text-align: right !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.img-effect {
    text-align: right;
    img {
      box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
      -ms-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
      -o-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    }
}

.fa, .fas {
  font-size: 20px;
}
.content-section {
    padding: 25px 0 50px;
    h2 {
      padding-bottom: 25px;
      text-align: center;
      text-transform: uppercase;
      font-size: 2.7em;
      letter-spacing: 1px;
      color: #1b2d56;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    p {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;

    }
}
#newsline {
.newsblockwrp {
    padding: 20px;
    height: 100%;
    box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    h3 {
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}
.moduleItemDateCreated {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #1b2d56;
}

#allnews {
      background: #eaeaea;
      .sidebar .sidebarwrp, .maincontent .maincontentwrp {
        box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
        background: #fff;
        padding: 20px;
      }
}
.sidebarwrp {
  margin-bottom: 20px;
}
.download-section {
    width: 100%;
    color: #fff;
    padding:100px 0;
}
/**/
.itemContainer {
  margin-bottom: 30px;
}
.btn-all {
  padding-top: 20px;
  font-size: 16px;
  color: rgb(51, 51, 51);
}

.catItemImageBlock {
    width: 35%;
    float: left;
    img {
      margin-bottom: 10px;
    }
}
.catItemView {
    width: 65%;
    float: left;
    padding: 0 8px;
}
.catItemTitle {
    margin-top: 0;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.catItemTitle a {
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}
.catItemTitle a:hover {
  text-decoration: none!important;
}
.catItemDateCreated {
    display: inline-block;
    background: #1b2d56;
    text-align: center;
    float: left;
    margin-right: 8px;
    height: 40px;
    width: 40px;
}
.catItemDateCreated1, .catItemDateCreated2 {
    color: #fff;
    font-family: Arial,sans-serif !important;
}
.catItemDateCreated1 {
    font-size: 27px;
    line-height: 27px;
    margin: 0;
}
.catItemDateCreated1, .catItemDateCreated2 {
    color: #fff;
    font-family: Arial,sans-serif !important;
}
.catItemDateCreated2 {
    font-family: Arial;
    font-size: 12px;
    margin: -7px 0 0;
    line-height: 17px;
    display: block;
}
.nav-tabs > li > a {
  font-size: 24px;
  border: 0!important;
  border-radius: 0!important;
  background-color: #eeeeee;
  margin: 0;
}
.tab-content {
  padding-top: 20px;
}
.nav-tabs > li {
  min-width: 30%;
  text-align: center;
}

@media(min-width:767px) {
    .navbar {
        padding: 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
        background-color: rgba(38, 50, 56, 0.95);
    }
    .brand-heading {
      font-size: 25px;
      color: #fff;
      text-align: center;
    }
  
    .download-section {
      padding: 200px 0;
    }
}
