@media(min-width:767px) {
    .navbar {
        padding: 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
        background-color: rgba(38, 50, 56, 0.95);
    }
    .brand-heading {
      font-size: 25px;
      color: #fff;
      text-align: center;
    }
  
    .download-section {
      padding: 200px 0;
    }
}
