$White: #fff;
$DWhite: #f0f2f6;
$Golg: #f4b60d;
$LLBlue: #dcf0f7;
$Blue: #0099CC;
$LBlue: #07769a;
$DBlue: #006485;
$DDBlue: #004156;
$DGray: #676767;
$DGray: #2a2a2a;
$LGrey: #cbc9ca;
$Orange: #f49156;
$DOrange: #e35f10;
$LOrange: #EAAB69;
/*-------fonts---------*/
$fontGothamPro: "GothamProRegular",sans-serif;
$Arial:   "Arial";
$Roboto: "Roboto",Helvetica,Arial,"Lucida Grande",sans-serif;
$MyriadPro: "MyriadProRegular", Helvetica,Arial,"Lucida Grande",sans-serif;
$Amesome: "FontAwesome";

@font-face {
    font-family: 'montserrat';
    src:  url('../fonts/Montserrat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src:  url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-BlackItalic.ttf');
    font-weight: Black;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Black.ttf');
    font-weight: Black;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Light.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-LightItalic.ttf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Medium.ttf');
    font-weight: 500; ///?
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Thin.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-ThinItalic.ttf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'si';
    src: url('../fonts/socicon.eot');
    src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon.woff') format('woff'),
         url('../fonts/socicon.ttf') format('truetype'),
         url('../fonts/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../fonts/socicon.svg) format(svg);
    }
}

/* font-family: "GothamProRegular"; */
@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBold"; */
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBlack"; */
@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothamProBlack/GothamProBlack.eot");
    src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
    url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProItalic"; */
@font-face {
    font-family: "GothamProItalic";
    src: url("../fonts/GothamProItalic/GothamProItalic.eot");
    src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
    url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProMedium"; */
@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProLight"; */
@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProMediumItalic"; */
@font-face {
    font-family: "GothamProMediumItalic";
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProLightItalic"; */
@font-face {
    font-family: "GothamProLightItalic";
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBoldItalic"; */
@font-face {
    font-family: "GothamProBoldItalic";
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBlackItalic"; */
@font-face {
    font-family: "GothamProBlackItalic";
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'material-design';


       src:  url('../fonts/materialdesignicons-webfont.ttf');

    font-weight: 200;
    font-style: normal;

}


html, body, div, span, applet,
object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset,
form, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup,
menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
}
img {
  vertical-align: top;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
  &:before,
  &:after {
    content: '';
    content: none;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
svg {
  display: block;
  overflow: visible;
}
pre {
  border:1px solid #000;
  overflow-x:auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}
body {
  color: $DGray;
  font-size: 100%;
	font-family: $Roboto;
}
b,
strong {
    font-weight: bold;
}
a,
a:link,
a:visited,
a:focus {
    color: $DGray;
}
p {
  margin: 0;
}
*, *::after, *::before {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  color: $DGray;
}

@import 'bootstrap-custom';
body {
  min-width: 320px;
}
/*-----------------------social button---------------*/

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.soc {
  overflow:hidden;
  margin:0 auto;
  list-style:none;

  li {
    display:inline-block;
    *display:inline;
    zoom:1;

    a {
      font-family:si!important;
      font-style:normal;
      font-weight:400;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
      -o-box-sizing:border-box;
      box-sizing:border-box;

      -o-transition:.1s;
      -ms-transition:.1s;
      -moz-transition:.1s;
      -webkit-transition:.1s;
      transition:.1s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);

      overflow:hidden;
      text-decoration:none;
      text-align:center;
      display:block;
      position: relative;
      z-index: 1;
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: 18px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-right: 15px;
      color: $White!important;
      background-color: #a6a6a6;
      padding: 0!important;

      &:hover {
        z-index: 2;
        background-color:#929292 !important;
      }
    }
  }

  .soc-icon-last{
    margin:0 !important;
  }

  .soc-facebook {
    background-color: #3e5b98;

    &:before {
      content:'\e041';
    }
  }

  .soc-twitter {
    background-color: #4da7de;

    &:before {
      content:'\e040';
    }
  }

  .soc-googleplus {
      background-color: #dd4b39;

    &:before {
      content:'\e042';
    }
  }

  .soc-instagram {
    background-color: #e12da8;

    &:before {
      content:'\e057';
    }
  }
}

/*----------------button---------------------------------*/

.button {
  background: $DBlue none repeat scroll 0 0;
  border: 2px solid $DBlue;
  border-radius: 2px;
  color: $White!important;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  height: 39px;
  line-height: 17px;
  padding: 9px 10px;
  transition: all 300ms ease 0s;
  text-transform: uppercase;

  &:hover {
    background-color: transparent;
    border: 2px solid $DBlue;
    color: $DBlue!important;
    text-decoration: none;
  }
}

/*-----------header--------------*/
.logo-miny {
  position: absolute;
  top: 0;
  left: 40px;
  display: none;
}
.page-header {
  margin: 0 auto;
  font-family: $MyriadPro;
  font-size: 14px;
  position: relative;
  border-bottom: none;
  padding-bottom: 0;

  .page-header__line {
    padding: 5px 0 ;
    background-color: $DWhite;
    background: transparent none repeat scroll 0 0;
    border-bottom: 1px solid $LGrey;

    .sait-control {
      float: left;

      a {
        background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll 0 0;
        display: inline-block;
        height: 20px;
        margin: 0 23px 0 0;
      }

      .home {
        background-position: 0 0;
        width: 23px;
      }

      .mail {
        background-position: -23px 0;
        width: 19px;

        &:hover {
          background-position: -88px 0;
        }
      }

      .map {
        background-position: -42px 0;
        width: 23px;

        &:hover {
          background-position: -107px 0;
        }
      }

      .home-active {
        background-position: -65px 0 !important;
      }
    }


    .online-services {
      text-align: right;

      .call-back {
        padding-right: 6%;

        &::before {

          font-size: 20px;
          content: "\F3fb";
          display: inline-block;
          font-family: "material-design";
        }
      }

      .online-booking {
        color: $DBlue;
        font-weight: bold;

        &::before {
          color: $DBlue;
          font-size: 20px;
          content: "\F678";
          display: inline-block;
          font-family: "material-design";
        }
      }
    }
  }


  .central-block {
    padding: 5px 0 15px;

    .logo {
      display: block;
      min-height: 44px;
      min-width: 100px;
      text-align: center;

      img {
        max-width: 100%;
        transition: all 0s ease 0s, all 0.8s ease 0s, all 0s ease-in-out 0s;
        margin: 0 auto;
      }
    }

    .central-unit {
      color: $DBlue;
      font-family: $MyriadPro;
      position: relative;

      .search-block {
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 0px);
        width: 100%;

        .input-group__modif {
          margin: 15px auto 15px;
          width: 80%;

          .form-control_modif,
          .btn-lg_modif {
            border-radius: 0px;
            color: $Blue;
          }

          .form-control_modif,
          .btn-lg_modif {
            border-radius: 0px;
            color: $Blue;
          }
        }

        .listunstyled {
          font-size: 22px;
          font-weight: bold;

          .line {
              font-size: 20px;
          }
        }
      }
    }

    .left-block {
      bottom: 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0px);
      width: 90%;

      .header-minicart {
        padding: 10px;
        position: relative;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        font-size: 16px;
        color: $DBlue;;
      }

      .social {
        margin: 20px auto 10px;
      }
    }
  }

  /*-------------------------main-menu-----------------------------*/
  .fixed {
    position:fixed!important;
    top:-2px;
    left:0;
    width:100%;
    margin-top: 0;
    z-index: 9999;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .main-menu {
    background-color: $DBlue;
    position: relative;
    border: none;
    border-radius: 0;

    .grid-full {
      width: 100%;
      display: inline-flex;

      li {
        text-align: center;
        vertical-align: bottom;
        width: 17%;
      }
    }
  }
}

#main-menu__linck {
  padding: 0;
  text-transform: uppercase;
  font-family: $MyriadPro;
  color: #fff!important;

  &:hover,
  &:focus {
    background: $Blue!important;
    color: $LGrey!important;
  }


  span {
    cursor: pointer;
    padding: 20px 0;
    position: relative;
    white-space: normal;
    z-index: 2;
    display: block;

    &:hover,
    &:focus {
      background: $Blue!important;
      color: $LGrey!important;
    }
  }
}

/*----------------slider-----------------------*/
.button_descr {
  color: $DGray;
  font-style: $fontGothamPro;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: none;
}
.bg-blue {
  background-color: $DWhite;
  font-size: 12px;
}
.siteslider {
  position: relative;
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        background-position: center;
        background-size: cover;
        height: 500px;
        .position {
          top: 50%;
          left: 15%;
          position: absolute;
          transform: translate(-15%, -50%);
          .title {
            font-size: 45px;
            font-weight: bold;
            color: $White;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
            font-family: $fontGothamPro;
          }
          .subtitle {
            font-size: 25px;
            color: $White;
            text-transform: uppercase;
            font-family: $fontGothamPro;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
            font-weight: bold;
            margin-top: 35px;
            margin-bottom: 35px;
          }
          .text {
            font-size: 14px;
            max-width: 400px;
            line-height: 1.3;
            color: $White;
            font-family: $fontGothamPro;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
            a {
              text-transform: uppercase;
            }
          }
        }
      }
      .swiper-slide_left {
        background-image: url(../img/banner_2.jpg);
      }
      .swiper-slide_center {
        background-image: url(../img/banner_3.jpg);
      }
      .swiper-slide_right {
        background-image: url(../img/banner_4.jpg);
      }
    }
    .swiper-pagination {
      .swiper-pagination-bullet {
        border-radius: 0;
        width: 72px;
        height: 3px;
        background-color: $DWhite;
        border-color: $DWhite;
        margin: 3px;
      }
    }
  }
}
.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.about-product {
  background-color: $DWhite;
  padding: 50px 0;
  .text-center {
    h3 {
      text-transform: uppercase;
      color: $DWhite;
      font-family: $fontGothamPro;
      font-size: 22px;
      margin-bottom: 30px;
    }
  }
  .jcarousel-wrapper {
    .jcarousel {
      ul {
        li {
          margin-right: 20px;
          .video-wrapper {
            background-image: url(../img/bgslaider.png);
            background-repeat: repeat;
            position: relative;
            .video-box {
              color: $DWhite;
              font-family: $fontGothamPro;
              font-size: 12px;
              width: 60%;
              &:hover {
                text-decoration: none;
              }
              .logo-box {
                img {
                  cursor: pointer;
                }
                .fa-play {
                  font-size: 2em;
                  left: 50%;
                  margin-left: -11px;
                  margin-top: -11px;
                  position: absolute;
                  top: 50%;
                }
              }
            }
          }
          .desc {
            .video-box {
              h3 {
                color: $DWhite;
                font-family: $fontGothamPro;
                font-size: 18px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

/*-------------------------------------*/
.header-block {
  font-size: 25px;
  font-weight: bold;
  color: $Orange;
  text-align: center;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: "";
    left: 50%;
    position: absolute;
    transform: translate(-50%);
  }
  &::after {
    background-image: url("../img/divider.png");
    height: 6px;
    bottom: -15px;
    width: 334px;
  }
}

.header-block--orange {
  color: $White;
  font-size: 30px;
  line-height: 45px;
}

.section-padding {
  padding: 30px 0;
  border-bottom: 1px solid $LGrey;
}
/*----------hotel info-------------------------*/
.hotel-info {
  background-color: $DWhite;
  font-family: $Roboto;
  font-size: 18px;
  color: $DGray;

  .hotel-info__block-img {
    padding: 40px 0;

    .picture {
      box-shadow: 0 25px 37px -25px rgba(0, 0, 0, 0.75);
      cursor: pointer;
      height: auto;
      max-width: 360px;
      overflow: hidden;
      position: relative;
      width: 100%;

      &:hover {

        span {
            opacity: 0;
        }
      }

      img {
        transition: all 1s ease-out 0s;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
        &:hover {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);

        }
      }

      span {
        background-color: white;
        bottom: 0;
        color: $Orange;
        display: block;
        font-family: $Roboto;
        font-size: 18px;
        font-weight: 500;
        height: 48px;
        left: 0;
        line-height: 48px;
        margin: 0 auto;
        max-width: 642px;
        opacity: 1;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        transition: all 0.6s ease 0s;
        width: 100%;

      }
    }
  }
}
/*---------------hotel-rooms--------------------*/
.hotel-rooms {
  position: relative;

  .services-box__hover-bg {
    background-color: $Orange;
    max-width: 360px;

    a {
      box-shadow: 0 25px 37px -25px rgba(0, 0, 0, 0.75);
    }
  }

  .services-box__v-line {
    color: $White;
    display: none;
    position: absolute;
    z-index: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    h2 {
      font-family: $MyriadPro;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: normal;
    }

    ul {

      li {
        list-style-type: disc;
        text-align: left;
      }
    }
  }
}

.banners {
  padding: 40px 0;

  div {
    margin-bottom: 10px;

    a {
      display: block;
      overflow: hidden;
      position: relative;

      img {
        max-width: 100%;
      }

      .s-desc {
        color: #fff;
        height: 100%;
        padding-top: 6%;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 53.44%;
        z-index: 3;

        h3 {
          color: #fff;
          font-size: 24px;
          margin-bottom: 5px;
          text-transform: none;
        }

        h2 {
          color: #fff;
          font-size: 45px;
          font-weight: 400;
          margin: 0;
          text-transform: none;
        }

        h1 {
          color: #fff;
          font-size: 56px;
          margin: 0 0 18px;
        }

        span {
          color: #fff;
          display: inline-block;
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
        }

      }
    }
  }
}
/*------masonry-----------------------*/
.grid {
  margin: 40px auto;
  text-align: center;
  max-width: 1005px;
}
.grid-item {
  width: 200px;
	height: 200px;
  padding: 5px;
  overflow: hidden;
  display: inline-block;

  img {
    height: 100% !important;
    width: auto !important;
    max-width: none !important;
    transition: transform 3s;
    -webkit-transition: transform 2.0s ease 0s;

    &:hover {
        transform: translateX(-100px);
    }
  }
}

.grid-item--width2 {
  width: 400px;
  height: 200px;

  img {
    height: auto !important;
    width: 100% !important;

    &:hover {
        transform: scale(1.4);
    }
  }
}

.grid-item--height2 {
  height: 400px;
  width: 200px;

  img {
    height: 100% !important;
    width: auto !important;

    &:hover {
        transform: scale(1.2) rotate(5deg);
    }
  }
}

/*-------------gallery-block---------------------------*/
.gallery-block {
  background-color: $LLBlue;
}
/*-----------------official-site--------------*/
.official-site {
  background-image: url(../img/SEA.jpg);
  background-repeat: repeat;
  position: relative;

  p {
    padding: 40px 0;
    text-align: center;
    color: $DWhite;
    font-size: 25px;
  }
}
/*-------------------------faq--------------*/
.faq {

  .faq-inner {
    margin: 30px 0;

    .faq-item {
      padding: 20px;


      &::before {
        font-size: 60px;
        color: $Orange;
        content: "\f186";
        display: inline-block;
        font-family: "material-design";
      }

      p {
        font-size: 18px;
        font-family: $Roboto;
        font-weight: bold;
      }

      .faq--button {
        font-size: 15px;
        text-transform: none;
      }
    }
  }
}
/*--------------------map--------------------*/
.maps {
  height: 400px;
  background-image: url(../img/maps.jpg);
  background-repeat: repeat;
  position: relative;
}
/*-------------------------------------------*/
.footer {
  background-color: $DBlue;
  color: $White;
  font-size: 18px;
  font-family: $Roboto;

  .footer-box {
    border: 1px solid $LBlue;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;

    .f-box-title {
      border-bottom: 1px solid $LBlue;
      text-transform: uppercase;
      font-size: 20px;
      padding-bottom: 10px;
    }

    .f-box-desc {
      padding: 10px 0;
    }

    .button--footer {
      border: 1px solid $LBlue;
      color: $White;
      width: 100%;
      text-align: center;

      &:hover {
        background-color: $LBlue;
        color: $DWhite!important;
      }

      p {

        &::before {
          font-size: 20px;
          content: "\F3fb";
          display: inline-block;
          font-family: "material-design";
        }

      }
    }

    .button--online {
      border: 1px solid $LBlue;
      color: $White;
      width: 100%;
      text-align: center;

      &:hover {
        background-color: $LBlue;
        color: $DWhite!important;
      }
      p {

        &::before {

          font-size: 20px;
          content: "\F678";
          display: inline-block;
          font-family: "material-design";
        }
      }
    }
  }
  .footer--bottom {
    padding-top: 30px;

    p {
      float: left;
    }
  }
}

@media (max-width: 768px){
  .siteslider {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          .position {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            text-align: center;
            .title {
            }
            .subtitle {
            }
            .text {
            }
          }
        }
      }
    }
  }
}
