@media (max-width: 768px){
  .siteslider {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          .position {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            text-align: center;
            .title {
            }
            .subtitle {
            }
            .text {
            }
          }
        }
      }
    }
  }
  .logo-miny-header {
    display: block;
  }
}
