$White: #fff;
$DWhite: #f0f2f6;
$Golg: #f4b60d;
$Blue: #0099CC;
$DBlue: #006485;
$DGray: #676767;
$LGrey: #cbc9ca;
$Orange: #dd905a;
/*-------fonts---------*/
$fontGothamPro: "GothamProRegular",sans-serif;
$Arial:   "Arial";
$Roboto: "Roboto",Helvetica,Arial,"Lucida Grande",sans-serif;
$MyriadPro: "MyriadProRegular", Helvetica,Arial,"Lucida Grande",sans-serif;
$Amesome: "FontAwesome";
