/*-------fonts---------*/
$fontGothamPro: "GothamProRegular",sans-serif;
$Arial:   "Arial";
$Roboto: "Roboto",Helvetica,Arial,"Lucida Grande",sans-serif;
$MyriadPro: "MyriadProRegular", Helvetica,Arial,"Lucida Grande",sans-serif;
$Amesome: "FontAwesome";
$fontUbuntuM: "Ubuntu Medium";
$fontUbuntuL: "Ubuntu Light";
$fontUbuntuC: "Ubuntu Condensed Regular";
$colorGrey: #8a8a8a;
$colorBackgroundFooter: #35383c;
$colorlightGrey: #e8e8e8;
$colorDarkbrown: #2a2d32;
$colorBrow: #35383c;
$colorBlue: #248cec;
$colorGolg: #f4b60d;
$colorWhite: #ffffff;
$colorNews: #f7f7f7;
$colorBlack: #000;
$borderBlack: 1px solid black;
$maxwidth: 1160px;
$White: #fff;
$DWhite: #f0f2f6;
$Golg: #f4b60d;
$LLBlue: #dcf0f7;
$Blue: #0099CC;
$LBlue: #07769a;
$DBlue: #006485;
$DDBlue: #004156;
$DGray: #676767;
$DGray: #2a2a2a;
$LGrey: #cbc9ca;
$Orange: #f49156;
$DOrange: #e35f10;
$LOrange: #EAAB69;
$btnSoc:#ff0000;

@font-face {
    font-family: 'montserrat';
    src:  url('../fonts/Montserrat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src:  url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-BlackItalic.ttf');
    font-weight: Black;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Black.ttf');
    font-weight: Black;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Light.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-LightItalic.ttf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Medium.ttf');
    font-weight: 500; ///?
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Thin.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-ThinItalic.ttf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'si';
    src: url('../fonts/socicon.eot');
    src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon.woff') format('woff'),
         url('../fonts/socicon.ttf') format('truetype'),
         url('../fonts/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../fonts/socicon.svg) format(svg);
    }
}

/* font-family: "GothamProRegular"; */
@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBold"; */
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBlack"; */
@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothamProBlack/GothamProBlack.eot");
    src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
    url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProItalic"; */
@font-face {
    font-family: "GothamProItalic";
    src: url("../fonts/GothamProItalic/GothamProItalic.eot");
    src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
    url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProMedium"; */
@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProLight"; */
@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProMediumItalic"; */
@font-face {
    font-family: "GothamProMediumItalic";
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProLightItalic"; */
@font-face {
    font-family: "GothamProLightItalic";
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBoldItalic"; */
@font-face {
    font-family: "GothamProBoldItalic";
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBlackItalic"; */
@font-face {
    font-family: "GothamProBlackItalic";
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'material-design';


       src:  url('../fonts/materialdesignicons-webfont.ttf');

    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu Medium';
    src: url('../fonts/UbuntuMedium.eot');
    src: url('../fonts/UbuntuMedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UbuntuMedium.woff2') format('woff2'),
         url('../fonts/UbuntuMedium.woff') format('woff'),
         url('../fonts/UbuntuMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Light';
    src: url('../fonts/UbuntuLight.eot');
    src: url('../fonts/UbuntuLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UbuntuLight.woff2') format('woff2'),
         url('../fonts/UbuntuLight.woff') format('woff'),
         url('../fonts/UbuntuLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Condensed Regular';
    src: url('../fonts/UbuntuCondensedRegular.eot');
    src: url('../fonts/UbuntuCondensedRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UbuntuCondensedRegular.woff2') format('woff2'),
         url('../fonts/UbuntuCondensedRegular.woff') format('woff'),
         url('../fonts/UbuntuCondensedRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html, body, div, span, applet,
object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup,
menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	outline: 0;
  	vertical-align: baseline;
  	background: transparent;
  	font-size: 100%;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
img {
	vertical-align: top;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
nav,
ul {
	 list-style:none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import 'bootstrap-custom';


body {
  height: 100%;
	line-height: 1;
	background: $colorWhite;
	text-align: left;
	font: 13px  $Arial, Tahoma, Georgia, sans-serif;
  min-width: 320px;
}

/*-----------------------social button---------------*/

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.soc {
  overflow:hidden;
  margin:0 auto;
  list-style:none;

  li {
    display:inline-block;
    *display:inline;
    zoom:1;

    a {
      font-family:si!important;
      font-style:normal;
      font-weight:400;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
      -o-box-sizing:border-box;
      box-sizing:border-box;

      -o-transition:.1s;
      -ms-transition:.1s;
      -moz-transition:.1s;
      -webkit-transition:.1s;
      transition:.1s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);

      overflow:hidden;
      text-decoration:none;
      text-align:center;
      display:block;
      position: relative;
      z-index: 1;
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: 18px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-right: 15px;
      color: $White!important;
      background-color: #a6a6a6;
      padding: 0!important;

      &:hover {
        z-index: 2;
        background-color:#929292 !important;
      }
    }
  }

  .soc-icon-last{
    margin:0 !important;
  }

  .soc-facebook {
    background-color: #3e5b98;

    &:before {
      content:'\e041';
    }
  }

  .soc-twitter {
    background-color: #4da7de;

    &:before {
      content:'\e040';
    }
  }

  .soc-googleplus {
      background-color: #dd4b39;

    &:before {
      content:'\e042';
    }
  }

  .soc-instagram {
    background-color: #e12da8;

    &:before {
      content:'\e057';
    }
  }
}
/*---site control--*/
.sait-control {

  color: #8a8a8a;
  font-size: 16px;

  span {
    padding-left: 30px;
  }

  li {
    background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 20px;
    margin: 0 23px 0 0;
  }
}
/*----------------button---------------------------------*/

.button {
  background: $colorDarkbrown none repeat scroll 0 0;
  border: 2px solid $colorDarkbrown;
  border-radius: 2px;
  color: $White!important;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  height: 39px;
  line-height: 17px;
  padding: 9px 10px;
  transition: all 300ms ease 0s;
  text-transform: uppercase;

  &:hover {
    background-color: transparent;
    border: 2px solid $colorDarkbrown;
    color: $colorDarkbrown!important;
    text-decoration: none;
  }
}

/*-----------header--------------*/
.logo-miny,
.logo-miny-header {
  position: absolute;
  left: 40px;
  display: none;
}

.logo-miny {
  top: 0;
}

.logo-miny-header {
  top: 20px;
}

.page-header {
  margin: 0 auto;
  font-family: $MyriadPro;
  font-size: 14px;
  position: relative;
  border-bottom: none;
  padding-bottom: 0;

  .online-services {
    text-align: right;

    .call-back {
      padding-right: 6%;
    }

    .online-booking,
    .online-booking--headen {
      color: $colorDarkbrown;
      font-weight: bold;
    }
  }

  .headen-menu {
    li {
      a {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  .page-header__line {
    background-color: $DWhite;
    background: transparent none repeat scroll 0 0;
    border-bottom: 1px solid $LGrey;
    min-height: 100%;
    padding: 10px 0;

    .navbar-toggle {
      background-color: $Blue;

      .icon-bar {
        background-color: $colorDarkbrown;
      }
    }

    .nav {
      padding-left: 5%;
      padding-right: 5%;
      color: $DGray;
    }

    .nav-headen {
      font-size: 16px;
      background-color: $colorDarkbrown;

      li {
        padding: 5px;

        a {
          text-decoration: none;
          color: $White;
          padding: 5px;

          &:hover {
            background-color: $Blue;
          }
        }

        ul {

          li {
            text-align: center;
            border-bottom: 1px solid $Blue;
          }
        }
      }
    }

    .sait-control {
      float: left;
    }
  }


  .central-block {
    padding: 15px 0 15px;
    background: #f6f6f6 none repeat scroll 0 0;

    .logo {
      display: block;
      min-height: 44px;
      min-width: 100px;
      text-align: center;

      img {
        max-width: 100%;
        transition: all 0s ease 0s, all 0.8s ease 0s, all 0s ease-in-out 0s;
        margin: 0 auto;
      }
    }

    .central-unit {
      color: $colorDarkbrown;
      font-family: $MyriadPro;
      position: relative;

      .search-block {
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 0px);
        width: 100%;

        .phone {
          font-weight: bold;
          font-family: $Roboto;
          color: #014b88;
          font-size: 27px;

          .companyname {
            text-transform: uppercase;
            font-size: 35px;

          }
        }

        .input-group__modif {
          margin: 15px auto 15px;
          width: 80%;

          .form-control_modif,
          .btn-lg_modif {
            border-radius: 0px;
            color: $Blue;
          }

          .form-control_modif,
          .btn-lg_modif {
            border-radius: 0px;
            color: $Blue;
          }
        }
      }
    }

    .left-block {
      bottom: 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0px);
      width: 90%;

      .header-minicart {
        padding: 10px;
        position: relative;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        font-size: 22px;
        color: $colorDarkbrown;;
      }

      .social {
        margin: 20px auto 10px;
      }
    }
  }
  /*---всплывающий блок-------*/
  .headen-block {
    background-color: #dcf0f7;
    border-top: 2px solid #006485;
    border-bottom: 2px solid #006485;
    border-radius: 0;
    color: #006485;
    font-family: "Roboto",Helvetica,Arial,"Lucida Grande",sans-serif;

    .headen-block__body {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  /*-------------------------main-menu-----------------------------*/
  .fixed {
    position:fixed!important;
    top:-2px;
    left:0;
    width:100%;
    margin-top: 0;
    z-index: 9999;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .main-menu {
    background-color: $colorDarkbrown;
    padding: 10px 0;

      ul {
        list-style-type:none;
        margin:0;
        padding:0;

        .first {
          background: $Blue none repeat scroll 0 0;
        }

        li {
          display:inline-block;
          position:relative;


          ul {
            background-color:$Blue;
            position:absolute;
            left:0;
            top:40px;
            width:200px;
          }

          li {
            position:relative;
            margin:0;
            display:block;

          a {
            border-bottom:solid 1px $colorDarkbrown;
            margin:0 10px;
            padding:0;
          }

            &:last-child a {
            border-bottom:none;
            }
          }
        }
      }


  .sub-menu {
    background-color: $colorDarkbrown;
    transition: all 0.7s;
    z-index: 9999;
    display: none;
  }

  .sub-menu-animated {
    background-color: $Blue;
  }

  a {
    line-height:40px;
    padding:0 12px;
    margin:0 12px;
    text-transform: uppercase;
    font-family: $MyriadPro;
    color: #fff!important;
    display:block;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: $Golg!important;
    }


  }

  .dropdown   {
    background-color: inherit;
    transition: all 0.7s;

  }

  .dropdown-animated  {
    background-color: $Blue;
  }

  .dropdown__linck {
    background-image:url('../img/arrow-down.png');
    background-position:right 20px;
    background-repeat:no-repeat;
  }

  /*------------------------------*/
  }
}

.wrapper {
	max-width: $maxwidth;
	margin: 0 auto;
	overflow: hidden;
}
.head {
	overflow: hidden;
      .logo {
        display: block;
        float: left;
        margin-top: 20px;
        margin-bottom: 35px;
              .logo__img {
                float: left;
                margin-top: 5px;
                padding-left: 5px;
              }
              .logo__text {
                float: left;
                        .logo__text-top {
                          font-family : $fontUbuntuM;
                          font-size: 30px;
                          color: #434343;
                        }
                        .logo__text-bottom {
                          margin-top: -5px;
                          font-family: $fontUbuntuL;
                          font-size: 12px;
                          letter-spacing: 2px;
                          text-transform: uppercase;
                          color: #333333;
                          opacity: 0.651;
                        }
                }
      }

}
.menu {
  position: relative;
	height: 56px;
	background: $colorDarkbrown;
      .menu__item {
        float: left;
        padding: 0 35px 0 35px;
        line-height: 55px;
        list-style:  none;
        border-right: $borderBlack;
                  .menu__link {
                    text-decoration: none;
                    font-family: $fontUbuntuC;
                    color: $colorWhite;
                    font-size: 14px;
                  }
                  .menu__link:hover {
                    color: $colorGolg;
                  }
      }
      .menu__item:hover {
        cursor: pointer;
      }
      .menu__item:first-child {
        background: $colorBlue;
      }
      .search-box {
        position: relative;
      }
      .search-field {
        float: right;
        margin-right: 8px;
        margin-top: 8px;
        width: 239px;
        height: 38px;
        background: $colorBrow;
        border: $borderBlack;
      }
      ::-webkit-input-placeholder {
        padding-left: 15px;
        font-family: $Arial;
        font-size: 12px;
        color: $colorGrey;
      }

      .search-box::before {
        content: "\f002";
        position: relative;
        right: -520px;
        top: 18px;
        z-index: 10;
        color: $colorGrey;
        font-family: $Amesome;
        font-size: 20px;
      }
      input[type="text"]:focus {
        border: 1px solid $colorGolg;
        box-shadow: 0 0 5px $colorGolg;
        outline: none;
      }
}
.jcarousel-block {
  display: block;
  position: relative;
  margin-top: 5px;
  margin-bottom: 40px;

  .jcarousel {
    position: relative;
    margin: 0 auto;
    width: 100%;
    ul {
      width: 20000em;
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      float: left;
      width: 1420px;
    }
    li img {
      width: 100%;
      height: 470px;
    }
  }
  .box-pagination {
    position: relative;;
    z-index: 10;
    text-align: center;
    top: -40px;
    .jcarousel-pagination {
      display: inline-block;
      a {
        text-decoration: none;
        display: inline-block;
        font-size: 0px;
        line-height: 15px;
        min-width: 15px;
        background: $colorWhite;
        text-align: center;
        margin-right: 2px;
        margin-left: 19px;
      }
      a.active {
        width: 15px;
        height: 15px;
        background-image: url("../img/active_item.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  .slogan {
    position: absolute;
    left: 20px;
    bottom: 50px;
    p {
      display: inline-block;
      padding: 0 35px 0 30px;
      font-family : $fontUbuntuM;
      font-size: 54px;
      color: $colorWhite;
      background: rgba(0,0,0, 0.8);
    }
    p:first-child {
      padding: 0 25px 0 30px;
      color: $colorGolg;
    }
  }
}

.articles {
  float: left;
  overflow: hidden;
  width: 33%;
      .articles__item {
        display: block;
        float: left;
        height: 100%;
        margin-right: 40px;
        font-family : $fontUbuntuM;
        font-size: 90px;
        color: #efeff0;
      }
      .articles__box {
        float: left;
        width: 240px;
      }
      .articles__box-icon {
        margin-top: 20px;
      }
      .articles__box-title {
        margin-top: 12px;
        font-family : $fontUbuntuM;
        font-size: 20px;
      }
      .articles__box-text {
        margin-top: 27px;
        font-family: $Arial;
        font-size: 13px;
        color: #8a8a8a;
      }
      .articles__box-link-read-more:before {
        content: "\f178";
        color: grey;
        font-family: $Amesome;
        font-size: 12px;
        right: -82px;
        position: relative;
      }
      .articles__box-link-read-more:hover::before,
      .articles__box-link-read-more:hover {
        color: $colorBlue;
      }
      .articles__box-link-read-more {
        display: block;
        margin-top: 25px;
        font-family : $fontUbuntuM;
        font-size: 13px;
        text-decoration: none;
        color: $colorBlack;
      }
}
.wrapper-wide {
  margin-top: 90px;
  background: $colorDarkbrown;
      .services-box__title {
        margin-top: 50px;
        margin-bottom: 55px;
        font-family : $fontUbuntuM;
        font-size: 24px;
        color: $colorWhite;
      }
      .services-box__image-container {
        float: left;
        margin-right: 3%;
        margin-bottom: 90px;
      }

      .services-box__image-container a {
        text-decoration: none;
      }

      .services-box__image-container:last-child {
        float: left;
        margin-right: 0;
      }
      .services-box__hover-bg {
        position: relative;
        width: 260px;
        height: 260px;
        background-color: $colorBlue;
      }

      .services-box__image-text-link {
        display: block;
        margin-top: 35px;
        text-align: center;
        font-family : $fontUbuntuM;
        font-size: 16px;
        color: $colorWhite;
      }

      .services-box__image-text-link:hover {
        color: $colorGolg;
      }

      .services-box__g-line {
        display: none;
        position: absolute;
        z-index: 15px;
        top: 120px;
        left: 107px;
        width: 35px;
        border-bottom: 3px solid $colorWhite;
      }

      .services-box__v-line{
        display: none;
        position: absolute;
        z-index: 15px;
        top: 104px;
        left: 122px;
        height: 35px;
        border-right: 3px solid $colorWhite;
      }
}

.news-and-banners {
  background: $colorNews;
      .latest-news {
        float: left;
        margin-top: 67px;
        height: 517px;
      }

      .latest-news__box {
        display: block;
        overflow: hidden;
      }

      .latest-news__box-image {
        float: left;
        margin-top: 48px;
      }

      .latest-news__box-image-inner {
        display: block;
        position: absolute;
        margin-top: -140px;
        margin-left: -20px;
      }

      .latest-news__title {
        font-family : $fontUbuntuM;
        font-size: 24px;
      }

      .latest-news__box-text {
        float: left;
        width: 380px;
        margin-top: 48px;
        margin-left: 36px;
      }

      .latest-news__box-text-header {
        display: block;
        font-family : $fontUbuntuM;
        font-size: 16px;
        text-decoration: none;
        color: $colorDarkbrown;
      }

      .latest-news__box-text-header:hover {
        color: $colorBlue;
      }

      .latest-news__box-text-comment-title {
        margin-top: 2px;
          a {
            text-decoration: none;
            color:$colorBlue;
          }
      }
      .latest-news__box-text-comment-title span,
      .latest-news__box-text-comment-text {
        color: $colorGrey;
      }

      .latest-news__box-text-comment-text  {
        margin-top: 25px;
      }
      .banners-place {
        float: left;
        margin-top: 67px;
        margin-left: 40px;
        width: 550px;
      }

      .banners-place__title {
        margin-bottom: 48px;
        font-family : $fontUbuntuM;
        font-size: 24px;
      }

      .banners-place__box {
        width: 520px;
        cursor: pointer;
      }

      .banners-place__box-title {
        position: relative;
        overflow: hidden;
        margin-top: 5px;
      }

      .banners-place__box-title-sign {
        float: left;
        width: 38px;
        height: 38px;
        border: 1px solid $colorlightGrey;
        cursor: pointer;
      }


      .banners-place__box-title-text {
        float: left;
        padding-left: 12px;
        width: 465px;
        height: 38px;
        line-height: 38px;
        font-family : $fontUbuntuM;
        font-size: 13px;
        color: $colorBlack;
        border: 1px solid $colorlightGrey;
      }

      .banners-place__box-text {
        display: none;
        margin: 28px 0 28px 38px;
        font-family: $Arial;
        font-size: 13px;
        color: #8a8a8a;
      }

      .banners-place__box-g-line,
      .banners-place__box-v-line {
        position: absolute;
        width: 9px;
        top: 13px;
        left: 14px;
        line-height: 38px;
        color: $colorBlack;
        border: 1px solid $colorBlack;
      }

      .banners-place__box-v-line {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
      }
}
.logos-box {

    .logos-box__position {
      margin-top: 100px;
    }

    .logos-box__image {
      display: block;
      float: left;
      padding-right: 52px;
    }

    .logos-box__image:last-child {
      padding-right: 0px;
    }
}


.wrapper-wide--before-footer {
      .main-box--before-footer {
        padding-bottom: 80px;
      }

      .before-foote {
        overflow: hidden;
        padding-bottom: 40px;
      }

      .before-footer-box {
        float: left;
        margin-top: 62px;
        margin-right: 40px;
      }

      .before-footer-box:last-child
      {
        margin-right: 0px;
      }

      .before-footer-box__title {
        margin-bottom: 27px;
        font-family : $fontUbuntuM;
        font-size: 16px;
        color: $colorWhite;
      }

      .before-footer-box__link {
        display: block;
        width: 260px;
        padding-top: 13px;
        padding-bottom: 13px;
        font-family: $Arial;
        font-size: 13px;
        text-decoration: none;
        color: #6e6f72;
        border-bottom: 1px solid #393c40;
      }

      .before-footer-box__link:last-child {
        padding-bottom: 0px;
        border-bottom: none;
      }

      .before-footer-box__link:hover {
        color: $colorBlue;
      }
}

.outer-wrapper {
  background: $colorBackgroundFooter;
      .footer-text {
        float: left;
        padding-right: 35px;
        line-height: 63px;
        font-family: $Arial;
        font-size: 12px;
        color: $colorGrey;
      }
      .footer-text:last-child {
        float: right;
        padding-right: 0px;
      }

      .footer-text-adress:before,
      .footer-text-phone:before,
      .footer-text-email:before {
        margin-right: 10px;
        color: $colorGrey;
        font-family: $Amesome;
        font-size: 16px;
      }
      .footer-text-adress:before {
        content: "\f041";
      }

      .footer-text-phone:before {
        font-size: 20px;
        content: "\f10b";
      }
      .footer-text-email:before {
        content: "\f0e0";
      }
}
