/*-------fonts---------*/
$fontGothamPro: "GothamProRegular",sans-serif;
$Arial:   "Arial";
$Roboto: "Roboto",Helvetica,Arial,"Lucida Grande",sans-serif;
$MyriadPro: "MyriadProRegular", Helvetica,Arial,"Lucida Grande",sans-serif;
$Amesome: "FontAwesome";
$fontUbuntuM: "Ubuntu Medium";
$fontUbuntuL: "Ubuntu Light";
$fontUbuntuC: "Ubuntu Condensed Regular";
$colorGrey: #8a8a8a;
$colorBackgroundFooter: #35383c;
$colorlightGrey: #e8e8e8;
$colorDarkbrown: #2a2d32;
$colorBrow: #35383c;
$colorBlue: #248cec;
$colorGolg: #f4b60d;
$colorWhite: #ffffff;
$colorNews: #f7f7f7;
$colorBlack: #000;
$borderBlack: 1px solid black;
$maxwidth: 1160px;
$White: #fff;
$DWhite: #f0f2f6;
$Golg: #f4b60d;
$LLBlue: #dcf0f7;
$Blue: #0099CC;
$LBlue: #07769a;
$DBlue: #006485;
$DDBlue: #004156;
$DGray: #676767;
$DGray: #2a2a2a;
$LGrey: #cbc9ca;
$Orange: #f49156;
$DOrange: #e35f10;
$LOrange: #EAAB69;
$btnSoc:#ff0000;
