@font-face {
  font-family: "ArimoRegular";
  src: url("../fonts/ArimoRegular/ArimoRegular.eot");
  src: url("../fonts/ArimoRegular/ArimoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ArimoRegular/ArimoRegular.woff") format("woff"), url("../fonts/ArimoRegular/ArimoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; }
@font-face {
  font-family: "ArimoBold";
  src: url("../fonts/ArimoBold/ArimoBold.eot");
  src: url("../fonts/ArimoBold/ArimoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArimoBold/ArimoBold.woff") format("woff"), url("../fonts/ArimoBold/ArimoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; }
@font-face {
  font-family: "ArimoBoldItalic";
  src: url("../fonts/ArimoBoldItalic/ArimoBoldItalic.eot");
  src: url("../fonts/ArimoBoldItalic/ArimoBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArimoBoldItalic/ArimoBoldItalic.woff") format("woff"), url("../fonts/ArimoBoldItalic/ArimoBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; }
@font-face {
  font-family: "ArimoItalic";
  src: url("../fonts/ArimoItalic/ArimoItalic.eot");
  src: url("../fonts/ArimoItalic/ArimoItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArimoItalic/ArimoItalic.woff") format("woff"), url("../fonts/ArimoItalic/ArimoItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1;
  font-family: Arial, sans-serif;
  color: #444;
  font-size: small;
  min-width: 360px; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover, a {
  text-decoration: none !important; }

p {
  text-align: justify; }

#loading {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  margin-top: 0px;
  top: 0px; }

#loading-center {
  width: 100%;
  height: 100%;
  position: relative; }

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px; }

.object {
  width: 25px;
  height: 25px;
  background-color: #072ca4;
  margin-right: 50px;
  float: left;
  margin-bottom: 50px; }

.object:nth-child(2n+0) {
  margin-right: 0px; }

#object_one {
  -webkit-animation: object_one 2s infinite;
  animation: object_one 2s infinite; }

#object_two {
  -webkit-animation: object_two 2s infinite;
  animation: object_two 2s infinite; }

#object_three {
  -webkit-animation: object_three 2s infinite;
  animation: object_three 2s infinite; }

#object_four {
  -webkit-animation: object_four 2s infinite;
  animation: object_four 2s infinite; }

@-webkit-keyframes object_one {
  25% {
    -webkit-transform: translate(75px, 0) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translate(75px, 75px) rotate(-180deg); }
  75% {
    -webkit-transform: translate(0, 75px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg); } }
@keyframes object_one {
  25% {
    transform: translate(75px, 0) rotate(-90deg) scale(0.5);
    -webkit-transform: translate(75px, 0) rotate(-90deg) scale(0.5); }
  50% {
    transform: translate(75px, 75px) rotate(-180deg);
    -webkit-transform: translate(75px, 75px) rotate(-180deg); }
  75% {
    transform: translate(0, 75px) rotate(-270deg) scale(0.5);
    -webkit-transform: translate(0, 75px) rotate(-270deg) scale(0.5); }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg); } }
@-webkit-keyframes object_two {
  25% {
    -webkit-transform: translate(0, 75px) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translate(-75px, 75px) rotate(-180deg); }
  75% {
    -webkit-transform: translate(-75px, 0) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg); } }
@keyframes object_two {
  25% {
    transform: translate(0, 75px) rotate(-90deg) scale(0.5);
    -webkit-transform: translate(0, 75px) rotate(-90deg) scale(0.5); }
  50% {
    transform: translate(-75px, 75px) rotate(-180deg);
    -webkit-transform: translate(-75px, 75px) rotate(-180deg); }
  75% {
    transform: translate(-75px, 0) rotate(-270deg) scale(0.5);
    -webkit-transform: translate(-75px, 0) rotate(-270deg) scale(0.5); }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg); } }
@-webkit-keyframes object_three {
  25% {
    -webkit-transform: translate(0, -75px) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translate(75px, -75px) rotate(-180deg); }
  75% {
    -webkit-transform: translate(75px, 0) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg); } }
@keyframes object_three {
  25% {
    transform: translate(0, -75px) rotate(-90deg) scale(0.5);
    -webkit-transform: translate(0, -75px) rotate(-90deg) scale(0.5); }
  50% {
    transform: translate(75px, -75px) rotate(-180deg);
    -webkit-transform: translate(75px, -75px) rotate(-180deg); }
  75% {
    transform: translate(75px, 0) rotate(-270deg) scale(0.5);
    -webkit-transform: translate(75px, 0) rotate(-270deg) scale(0.5); }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg); } }
@-webkit-keyframes object_four {
  25% {
    -webkit-transform: translate(-75px, 0) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translate(-75px, -75px) rotate(-180deg); }
  75% {
    -webkit-transform: translate(0, -75px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg); } }
@keyframes object_four {
  25% {
    transform: translate(-75px, 0) rotate(-90deg) scale(0.5);
    -webkit-transform: translate(-75px, 0) rotate(-90deg) scale(0.5); }
  50% {
    transform: translate(-75px, -75px) rotate(-180deg);
    -webkit-transform: translate(-75px, -75px) rotate(-180deg); }
  75% {
    transform: translate(0, -75px) rotate(-270deg) scale(0.5);
    -webkit-transform: translate(0, -75px) rotate(-270deg) scale(0.5); }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg); } }
h1, h2 {
  color: #072ca4;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 300%;
  text-align: center; }

a {
  color: #fff;
  cursor: pointer;
  transition: background 200ms linear, color 200ms linear, border 200ms linear, max-height 200ms linear; }
  a:hover {
    color: #bab6b6; }

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 50px;
  right: 1%;
  overflow: hidden;
  z-index: 999;
  width: 32px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background: url("../images-tmpl/arr.png") no-repeat 0px 0px; }

#toTopHover {
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0); }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
  box-sizing: border-box; }

.header {
  background: #072ca4;
  padding: 20px 0;
  color: #fff;
  position: relative; }

.toggle-hamburger {
  background-color: transparent;
  color: #ccc;
  display: none;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  border-radius: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s; }

.toggle-hamburger:focus {
  outline: none; }

/* inner span stylings ------------------------------- */
.toggle-hamburger span {
  display: block;
  position: absolute;
  top: 23px;
  left: 6px;
  right: 6px;
  height: 4px;
  background: #28aadc; }

.toggle-hamburger span::before, .toggle-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  content: "";
  background-color: #28aadc; }

.toggle-hamburger span::before {
  top: -10px; }

.toggle-hamburger span::after {
  bottom: -10px; }

.toggle-hamburger.toggle-hamburger__animx span {
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s; }

.toggle-hamburger.toggle-hamburger__animx span::before, .toggle-hamburger.toggle-hamburger__animx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s; }

.toggle-hamburger.toggle-hamburger__animx span::before {
  -webkit-transition-property: top, transform;
  transition-property: top, transform; }

.toggle-hamburger.toggle-hamburger__animx span::after {
  -webkit-transition-property: bottom, transform;
  transition-property: bottom, transform; }

/* when menu open: */
.toggle-hamburger.toggle-hamburger__animx.is-active span {
  background: none; }

.toggle-hamburger.toggle-hamburger__animx.is-active span::before, .toggle-hamburger.toggle-hamburger__animx.is-active span::after {
  background-color: #28aadc;
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s; }

.toggle-hamburger.toggle-hamburger__animx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.toggle-hamburger.toggle-hamburger__animx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: space-between; }

.header__menu {
  display: flex;
  justify-content: space-evenly; }

.menu__item {
  text-align: center;
  cursor: pointer;
  transition: background 200ms linear, color 200ms linear, border 200ms linear, max-height 200ms linear; }
  .menu__item:hover {
    color: #ddd;
    background: #4696cd; }

.item__parent:hover::after {
  opacity: 1;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  bottom: -3px;
  left: 45%;
  transform: scale(0.7) translatex(-50%);
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
  border-bottom: 1.25rem solid #daeaf5;
  transition: opacity 0.5s ease-in-out; }

.menu__item a {
  color: #fff;
  font-size: 170%;
  display: block;
  padding: 20px 25px;
  position: relative; }

.item__parent {
  position: relative; }

.menu__sub {
  display: block;
  position: absolute;
  left: 50%;
  z-index: 999;
  width: 200px;
  max-height: 0;
  background: #daeaf5;
  box-sizing: content-box;
  transform: translateX(-50%);
  padding: 10px;
  pointer-events: auto;
  display: none;
  opacity: 0; }
  .menu__sub a {
    color: #535151;
    font-size: 130%;
    padding: 10px;
    text-align: left;
    font-family: Arial, sans-serif; }
    .menu__sub a:hover {
      color: #4696cd; }
  .menu__sub li:not(:last-child) {
    border-bottom: 1px solid #90c0e1; }

.menu > li:hover > ul {
  cursor: pointer;
  transition: background 200ms linear, color 200ms linear, border 200ms linear, max-height 200ms linear;
  max-height: 550px;
  display: block;
  opacity: 1; }

.header__block {
  font-size: 180%; }

.header__block span {
  display: block;
  margin-bottom: 20px;
  position: relative;
  padding-left: 29px; }
  .header__block span::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    height: 29px;
    width: 28px;
    background: url(../images-tmpl/tel.png);
    z-index: 9999; }
  .header__block span a {
    color: #fff; }
    .header__block span a:hover {
      color: #f4931f; }

.button {
  display: inline-block;
  padding: 5px 12px;
  border: 2px solid #fff;
  font-size: 69%;
  color: #fff;
  text-transform: uppercase;
  transition: all .3s ease-in-out; }
  .button:hover {
    background: #fff;
    color: #072ca4; }

/*---------slider------------*/
.title {
  font-size: 470%;
  padding: 50px 0;
  text-align: left; }

.slider {
  border-top: 1px solid #6988ff;
  border-bottom: 1px solid #6988ff;
  position: relative; }

.bg-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99; }

.bg-slider-left {
  background: url(../images-tmpl/gr.png) center center repeat-y; }

.bg-slider-right {
  background: url(../images-tmpl/gr.png) center center repeat-y;
  transform: scaleX(-1); }

.slider img {
  width: 100%;
  height: auto; }

/*------------section----------------*/
.pageline {
  padding: 60px 0 0; }

.pageline__title {
  padding-bottom: 40px; }

.services {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none; }

.services__item:nth-child(1) {
  background: url("../images-tmpl/services-1.jpg") no-repeat;
  background-size: cover; }

.services__item:nth-child(2) {
  background: url("../images-tmpl/services-2.jpg") no-repeat;
  background-size: cover; }

.services__item:nth-child(3) {
  background: url("../images-tmpl/services-3.jpg") no-repeat;
  background-size: cover; }

.services__item:nth-child(4) {
  background: url("../images-tmpl/services-4.jpg") no-repeat;
  background-size: cover; }

.services__item:nth-child(5) {
  background: url("../images-tmpl/services-5.jpg") no-repeat;
  background-size: cover; }

.services__item:nth-child(6) {
  background: url("../images-tmpl/services-6.jpg") no-repeat;
  background-size: cover; }

.services__item:nth-child(7) {
  background: url("../images-tmpl/services-7.jpg") no-repeat;
  background-size: cover; }

.services__item {
  height: 315px;
  flex-basis: calc(100% / 7);
  position: relative; }

.services__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  position: relative; }
  .services__link:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); }

.bg-blue {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: -webkit-linear-gradient(to bottom, rgba(0, 8, 113, 0.1) 0, #000871 75%);
  background: linear-gradient(to bottom, rgba(0, 8, 113, 0.1) 0, #000871 75%); }

.services__item:hover .bg-blue {
  background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, #4b70ff 75%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, #4b70ff 75%); }

.services__title {
  text-align: left;
  color: #fff;
  position: absolute;
  top: 150px;
  left: 50%;
  width: 70%;
  z-index: 10;
  transform: translateX(-50%);
  padding: 5px 10px;
  font-family: Arial narrow;
  font-size: 150%; }

.button--orang {
  background: #f4931f;
  color: #fff;
  font-size: 130%;
  padding: 5px 10px;
  border: 2px solid #fff; }
  .button--orang:hover {
    background: #fff;
    color: #f4931f; }

.services__button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
  width: 60%;
  z-index: 9;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background 200ms linear, color 200ms linear, border 200ms linear, max-height 200ms linear;
  -webkit-box-shadow: 4px 12px 22px 0px rgba(15, 73, 174, 0.61);
  -moz-box-shadow: 4px 12px 22px 0px rgba(15, 73, 174, 0.61);
  box-shadow: 4px 12px 22px 0px rgba(15, 73, 174, 0.61); }

/*------------advantages----------------*/
.pageline--advantages {
  background: url("../images-tmpl/sectionbg.png") top left;
  background-size: cover;
  padding-bottom: 100px; }

.grid {
  overflow: hidden; }

.grid__item {
  position: relative;
  padding-top: 65px;
  padding-bottom: 50px;
  height: 386px; }

.grid__item--bg {
  background: #001c95;
  background: -moz-linear-gradient(top, #001c95 0%, rgba(255, 255, 255, 0) 60%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #001c95), color-stop(60%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, #001c95 0%, rgba(255, 255, 255, 0) 60%);
  background: -o-linear-gradient(top, #001c95 0%, rgba(255, 255, 255, 0) 60%);
  background: -ms-linear-gradient(top, #001c95 0%, rgba(255, 255, 255, 0) 60%);
  background: linear-gradient(to bottom, #001c95 0%, rgba(255, 255, 255, 0) 60%);
  z-index: 1;
  position: absolute;
  width: 1000%;
  height: 100%;
  top: 20px; }

.grid__item--bg {
  left: 30%; }

.grid__item .item__link {
  position: relative;
  width: 100%;
  display: block;
  height: 100%; }

.grid__item img {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  border: 4px solid #000d7b;
  position: absolute;
  left: 0;
  z-index: 10;
  cursor: pointer;
  transition: background 200ms linear, color 200ms linear, border 200ms linear, max-height 200ms linear;
  width: 100%;
  max-width: 530px;
  height: auto;
  box-sizing: border-box; }

.grid__item a:hover img {
  border-color: #051490; }

.grid__item--text {
  position: relative; }

.item__inner {
  position: absolute;
  z-index: 99;
  width: 85%;
  left: 70px; }

.grid__item--text h3, .grid__item--text p {
  font-family: "Arimo", sans-serif; }

.grid__item--text h3 {
  font-size: 240%;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  padding-bottom: 50px; }

.grid__item--text .title__link {
  cursor: pointer;
  transition: background 200ms linear, color 200ms linear, border 200ms linear, max-height 200ms linear; }

.grid__item--text .title__link:hover h3 {
  color: #bab6b6; }

.grid__item--text p {
  font-size: 130%;
  line-height: 30px;
  color: #2a2a2b; }

/*--------------------------footer------------------*/
.footer {
  background: #072ca4;
  color: #fff; }

.wrapper__footer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  padding-bottom: 20px; }

.footer__item {
  flex-basis: 25%; }

.footer__title {
  font-size: 140%;
  text-transform: uppercase;
  position: relative;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 20px; }

.footer__title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 34px;
  z-index: 9999; }

.title--tel::before {
  background: url(../images-tmpl/tel2.png) no-repeat center center; }

.title--email::before {
  background: url(../images-tmpl/email.png) no-repeat center center; }

.title--adr::before {
  background: url(../images-tmpl/letter.png) no-repeat center center; }

.footer__item p, .footer__item a {
  font-size: 120%;
  line-height: 30px;
  padding-left: 20px;
  color: #fff; }
.footer__item a:hover {
  color: #bab6b6; }

.poscenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 60px; }

.socialbt a {
  color: #fff;
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  padding: 2px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%; }

.socialbt a:hover {
  color: #bab6b6;
  border: 2px solid #bab6b6; }

.socialbt .fab, .socialbt .fa {
  font-size: 180%; }

.footer-bar {
  border-top: 2px solid #fff;
  text-align: right;
  padding-top: 30px;
  padding-bottom: 20px;
  width: 100%;
  margin-top: 30px;
  font-size: 110%; }

/*modal*/
.overlay {
  /*display:none;*/
  position: fixed;
  top: 0;
  left: -9999px;
  z-index: 0;
  opacity: 0;
  filter: alpha(opacity=80);
  background: #000;
  transition: opacity .5s; }

.overlay.open {
  right: 0;
  bottom: 0;
  opacity: .8;
  z-index: 999; }

.modal {
  position: fixed;
  top: 50%;
  left: -9999px;
  background: #072ca4;
  color: #fff;
  width: 100%;
  max-width: 90%;
  z-index: 9999;
  max-height: 95vh;
  max-width: 500px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.21);
  transform: translate(-50%, -50%);
  overflow: auto;
  font-size: 14px;
  padding: 60px 0 20px 0;
  opacity: 0;
  transition: transform .3s ease-out, opacity .3s; }

.modal.open {
  left: 50%;
  z-index: 1000;
  opacity: 1;
  transform: translate(-50%, -50%); }

.modal .block-form {
  float: none;
  display: inline-block;
  max-width: 335px; }

.modal .form-title {
  font-size: 47px;
  line-height: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px; }

.modal .form-title span {
  font-size: 27px;
  color: #fff; }

.modal .checkbox {
  padding-left: 70px;
  text-align: left;
  display: inline-block; }

.modal .form-row textarea {
  height: 100px; }

.form-modal p {
  text-align: center;
  line-height: 20px;
  margin-bottom: 20px; }

/* close */
.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  box-sizing: border-box; }

.close:hover {
  opacity: 1; }

.close:before, .close:after {
  position: absolute;
  right: 50%;
  top: 50%;
  content: ' ';
  height: 20px;
  width: 3px;
  background-color: #fff;
  margin: -10px 0 0 0px;
  border-radius: 5px; }

.close:before {
  transform: rotate(45deg); }

.close:after {
  transform: rotate(-45deg); }

.form-row {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  margin-bottom: 16px; }

.form-row input {
  background: #00285b;
  padding: 14px 20px 14px 60px;
  border: none;
  border-radius: 0 5px 5px 0;
  float: left;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  border-left: 2px solid #00aef7; }

.form-row textarea {
  background: #00285b;
  padding: 15px 20px 15px 60px;
  border: none;
  border-radius: 0 5px 5px 0;
  float: left;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Panton-Regular';
  border-left: 2px solid #00aef7;
  resize: none;
  height: 143px;
  color: #fff; }

.form-row .input-user {
  background: #00285b url("../images-tmpl/icon-user-blue.png") no-repeat 15px 7px; }

.form-row .input-phone {
  background: #00285b url("../images-tmpl/icon-phone-blue.png") no-repeat 15px 7px; }

.form-row .input-text {
  background: #00285b url("../images-tmpl/icon-pencil-blue.png") no-repeat 15px 7px; }

.form-row input::-webkit-input-placeholder {
  color: #fff; }

.form-row input::-moz-placeholder {
  color: #fff; }

.form-row input:-moz-placeholder {
  color: #fff; }

.form-row input:-ms-input-placeholder {
  color: #fff; }

.form-row textarea::-webkit-input-placeholder {
  color: #fff; }

.form-row textarea::-moz-placeholder {
  color: #fff; }

.form-row textarea:-moz-placeholder {
  color: #fff; }

.form-row textarea:-ms-input-placeholder {
  color: #fff; }

.form-row input[type="submit"] {
  width: auto;
  padding: 13px 60px;
  float: none;
  cursor: pointer;
  background: #f4931f;
  color: #fff;
  font-size: 130%;
  border: 2px solid #fff;
  border-radius: 5px; }

.form-row input[type="submit"]:hover {
  background: #f4931f;
  color: #fff; }

input[type="checkbox"] {
  display: none; }

.checkbox {
  width: 100%;
  padding-left: 33px;
  margin-bottom: 10px;
  min-height: 15px;
  box-sizing: border-box;
  margin-top: 10px; }

.checkbox label {
  color: #fff;
  font-size: 14px;
  position: relative;
  font-style: normal;
  display: inline-block; }

.checkbox label:before {
  content: '';
  width: 19px;
  height: 19px;
  line-height: 20px;
  float: left;
  margin-right: 10px;
  box-sizing: border-box;
  margin: 0px 10px 0 0;
  position: absolute;
  top: 0px;
  left: -33px;
  border-radius: 5px;
  font-size: 10px;
  background: #00285b; }

.checkbox input[type=checkbox]:checked + label:before {
  background: #00285b url("../images-tmpl/icon-check.png") no-repeat center right; }

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform,height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform,height; }

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate(0, -50%);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px; }

.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5); }

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff; }

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000; }

.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-coverflow .swiper-wrapper, .swiper-container-flip .swiper-wrapper {
  -ms-perspective: 1200px; }

.swiper-container-cube, .swiper-container-flip {
  overflow: visible; }

.swiper-container-cube .swiper-slide, .swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-cube .swiper-slide .swiper-slide, .swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active, .swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top, .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right, .swiper-container-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next + .swiper-slide, .swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > canvas, .swiper-zoom-container > img, .swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; }

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg); } }
/*-----------spiper-----------------*/
.swiper-container .swiper-wrapper .swiper-slide {
  background-position: center;
  background-size: cover;
  height: 250px;
  border: 1px solid #ddd; }

.swiper-container .swiper-wrapper .swiper-slide .position {
  top: 50%;
  left: 20%;
  position: absolute;
  transform: translate(-20%, -50%);
  padding: 30px; }

.swiper-container .swiper-wrapper .swiper-slide .position .title {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 2px black;
  font-family: Arial, sans-serif; }

.swiper-container .swiper-wrapper .swiper-slide .position .subtitle {
  font-size: 25px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 35px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
  padding: 10px; }

.swiper-container .swiper-wrapper .swiper-slide .position .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
  color: #fff;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4); }

.swiper-container .swiper-wrapper .swiper-slide .position .text a {
  text-transform: uppercase; }

.swiper-container .swiper-wrapper .swiper-slide_left {
  background-image: url(../images-tmpl/banner_1.jpg); }

.swiper-container .swiper-wrapper .swiper-slide_center {
  background-image: url(../images-tmpl/banner_2.jpg); }

.swiper-container .swiper-wrapper .swiper-slide_center-1 {
  background-image: url(../images-tmpl/banner_3.jpg); }

.swiper-container .swiper-wrapper .swiper-slide_center-2 {
  background-image: url(../images-tmpl/banner_4.jpg); }

.swiper-container .swiper-wrapper .swiper-slide_right {
  background-image: url(../images-tmpl/banner_1.jpg); }

.swiper-container .swiper-pagination .swiper-pagination-bullet {
  border-radius: 0;
  width: 72px;
  height: 3px;
  background-color: #827b7b;
  border-color: #000;
  margin: 3px; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px !important; }

/**/
@media screen and (min-width: 800px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 3fr;
    grid-template-columns: repeat(2, 3fr);
    overflow: hidden; } }
@media (max-width: 991px) {
  .header__menu {
    display: none; }

  .header__menu--mobile {
    display: none;
    flex-direction: column;
    left: 95%;
    height: auto;
    transform: translatex(-95%);
    position: absolute;
    top: 30px;
    right: 0;
    background: #072ca4;
    border-radius: 5px;
    padding: 20px 20px;
    width: 260px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    z-index: 2; }

  .toggle-hamburger {
    display: block;
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 99; } }
@media (min-width: 800px) and (max-width: 991px) {
  .header__block {
    font-size: 180%;
    position: absolute;
    left: 55%;
    transform: translateX(-55%); }

  .wrapper {
    padding: 0 40px; }

  .header__menu {
    display: none; }

  .item__inner {
    width: 90%;
    left: 10%; }

  .grid__item--text h3 {
    font-size: 180%;
    padding-bottom: 20px; }

  .grid__item--text p {
    font-size: 120%;
    line-height: 25px; }

  .title {
    font-size: 400%;
    padding: 40px 0; }

  h1, h2 {
    font-size: 250%; }

  .pageline {
    padding: 50px 0 0; }

  .services {
    flex-wrap: wrap;
    justify-content: center; }

  .services__item {
    flex-basis: calc(100% / 4);
    margin-bottom: 15px; }

  .pageline--advantages {
    padding-bottom: 50px; }

  .footer__item {
    flex-basis: calc(100% / 3);
    padding-bottom: 20px; } }
@media (max-width: 799px) {
  .header__block {
    font-size: 180%;
    position: absolute;
    left: 55%;
    transform: translateX(-55%); }

  .wrapper {
    padding: 0 20px; }

  .slider img {
    width: 100%;
    height: auto; }

  h1, h2 {
    font-size: 190%; }

  .pageline {
    padding: 50px 0 0; }

  .pageline__title {
    padding-bottom: 20px; }

  .grid__item {
    height: auto;
    min-height: 200px;
    padding-top: 0;
    padding-bottom: 0; }

  .grid__item:first-child, .grid__item:nth-child(3), .grid__item:nth-child(5) {
    padding-top: 65px; }

  .grid__item--bg {
    left: 20%; }

  .grid__item img {
    position: relative; }

  .item__inner {
    position: relative;
    width: 100%;
    left: 0;
    padding: 40px 0; }

  .grid__item--text h3 {
    font-size: 200%;
    color: #072ca4;
    padding: 30px 0; }

  .grid__item--text .title__link:hover h3 {
    color: #635f5f; }

  .title {
    font-size: 400%;
    padding: 40px 0; }

  h1, h2 {
    font-size: 250%; }

  .services {
    flex-wrap: wrap;
    justify-content: center; }

  .services__item {
    flex-basis: calc(100% / 4);
    margin-bottom: 15px; }

  .pageline--advantages {
    padding-bottom: 50px; }

  .footer__item {
    flex-basis: calc(100% / 3);
    padding-bottom: 20px; } }
@media (min-width: 481px) and (max-width: 680px) {
  .pageline {
    padding: 30px 0 0; }

  .header__block {
    font-size: 180%;
    position: absolute;
    left: 55%;
    transform: translateX(-55%); }

  .title {
    font-size: 300%; }

  .services__item {
    flex-basis: calc(100% / 3); }

  .footer__item {
    flex-basis: calc(100% / 2); } }
@media (max-width: 480px) {
  .pageline {
    padding: 30px 0 0; }

  .header__block {
    font-size: 150%;
    padding-top: 30px;
    position: relative;
    transform: translateX(0);
    left: 0; }

  .header__block span {
    margin-bottom: 5px; }

  .title {
    font-size: 200%;
    padding: 20px 0; }

  .pageline__title {
    font-size: 180%; }

  .grid__item--text h3 {
    font-size: 160%; }

  .services__item {
    flex-basis: 100%;
    height: 160px;
    margin-bottom: 10px; }

  .services__item:nth-child(1) {
    background: url("../images-tmpl/services-1sm.jpg") no-repeat;
    background-size: cover; }

  .services__item:nth-child(2) {
    background: url("../images-tmpl/services-2sm.jpg") no-repeat;
    background-size: cover; }

  .services__item:nth-child(3) {
    background: url("../images-tmpl/services-3sm.jpg") no-repeat;
    background-size: cover; }

  .services__item:nth-child(4) {
    background: url("../images-tmpl/services-4sm.jpg") no-repeat;
    background-size: cover; }

  .services__item:nth-child(5) {
    background: url("../images-tmpl/services-5sm.jpg") no-repeat;
    background-size: cover; }

  .services__item:nth-child(6) {
    background: url("../images-tmpl/services-6sm.jpg") no-repeat;
    background-size: cover; }

  .services__item:nth-child(7) {
    background: url("../images-tmpl/services-7sm.jpg") no-repeat;
    background-size: cover; }

  .services__title {
    font-size: 150%;
    width: 50%;
    top: 10px;
    left: 100%;
    right: 10%;
    transform: translateX(-100%); }

  .bg-blue {
    background: -webkit-linear-gradient(to right, rgba(0, 8, 113, 0.1) 0, #000871 75%);
    background: linear-gradient(to right, rgba(0, 8, 113, 0.1) 0, #000871 75%); }

  .services__item:hover .bg-blue {
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 30%, #4b70ff 75%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 30%, #4b70ff 75%); }

  .footer__item {
    flex-basis: 100%;
    padding-top: 25px;
    padding-left: 30px; } }

/*# sourceMappingURL=main.css.map */
