@font-face {
  font-family: "ArimoRegular";
  src: url("../fonts/ArimoRegular/ArimoRegular.eot");
  src: url("../fonts/ArimoRegular/ArimoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ArimoRegular/ArimoRegular.woff") format("woff"), url("../fonts/ArimoRegular/ArimoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; }
@font-face {
  font-family: "ArimoBold";
  src: url("../fonts/ArimoBold/ArimoBold.eot");
  src: url("../fonts/ArimoBold/ArimoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArimoBold/ArimoBold.woff") format("woff"), url("../fonts/ArimoBold/ArimoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; }
@font-face {
  font-family: "ArimoBoldItalic";
  src: url("../fonts/ArimoBoldItalic/ArimoBoldItalic.eot");
  src: url("../fonts/ArimoBoldItalic/ArimoBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArimoBoldItalic/ArimoBoldItalic.woff") format("woff"), url("../fonts/ArimoBoldItalic/ArimoBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; }
@font-face {
  font-family: "ArimoItalic";
  src: url("../fonts/ArimoItalic/ArimoItalic.eot");
  src: url("../fonts/ArimoItalic/ArimoItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArimoItalic/ArimoItalic.woff") format("woff"), url("../fonts/ArimoItalic/ArimoItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1;
  font-family: Arial, sans-serif;
  color: #444;
  font-size: small; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover, a {
  text-decoration: none !important; }

p {
  text-align: justify; }

h1, h2 {
  color: #072ca4;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 300%;
  text-align: center; }

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 50px;
  right: 1%;
  overflow: hidden;
  z-index: 999;
  width: 32px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background: url("../images-tmpl/arr.png") no-repeat 0px 0px; }

#toTopHover {
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0); }

.wrapper {
  min-width: 360px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
  box-sizing: border-box; }

.header {
  background: #072ca4;
  padding: 20px 0;
  color: #fff;
  position: relative; }

.toggle-hamburger {
  background-color: transparent;
  color: #ccc;
  display: none;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  border-radius: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s; }

.toggle-hamburger:focus {
  outline: none; }

/* inner span stylings ------------------------------- */
.toggle-hamburger span {
  display: block;
  position: absolute;
  top: 23px;
  left: 6px;
  right: 6px;
  height: 4px;
  background: #28aadc; }

.toggle-hamburger span::before, .toggle-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  content: "";
  background-color: #28aadc; }

.toggle-hamburger span::before {
  top: -10px; }

.toggle-hamburger span::after {
  bottom: -10px; }

.toggle-hamburger.toggle-hamburger__animx span {
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s; }

.toggle-hamburger.toggle-hamburger__animx span::before, .toggle-hamburger.toggle-hamburger__animx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s; }

.toggle-hamburger.toggle-hamburger__animx span::before {
  -webkit-transition-property: top, transform;
  transition-property: top, transform; }

.toggle-hamburger.toggle-hamburger__animx span::after {
  -webkit-transition-property: bottom, transform;
  transition-property: bottom, transform; }

/* when menu open: */
.toggle-hamburger.toggle-hamburger__animx.is-active span {
  background: none; }

.toggle-hamburger.toggle-hamburger__animx.is-active span::before, .toggle-hamburger.toggle-hamburger__animx.is-active span::after {
  background-color: #28aadc;
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s; }

.toggle-hamburger.toggle-hamburger__animx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.toggle-hamburger.toggle-hamburger__animx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: space-between; }

.header__menu {
  display: flex;
  justify-content: space-evenly; }

.menu__item {
  text-align: center;
  cursor: pointer;
  transition: background 200ms linear, color 200ms linear, border 200ms linear, max-height 200ms linear; }
  .menu__item:hover {
    color: #ddd;
    background: #4696cd; }

.item__parent:hover::after {
  opacity: 1;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  bottom: -3px;
  left: 45%;
  transform: scale(0.7) translatex(-50%);
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
  border-bottom: 1.25rem solid #daeaf5;
  transition: opacity 0.5s ease-in-out; }

.menu__item a {
  color: #fff;
  font-size: 170%;
  display: block;
  padding: 20px 25px;
  position: relative; }

.item__parent {
  position: relative; }

.menu__sub {
  display: block;
  position: absolute;
  left: 50%;
  z-index: 999;
  width: 200px;
  max-height: 0;
  background: #daeaf5;
  box-sizing: content-box;
  transform: translateX(-50%);
  padding: 10px;
  pointer-events: auto;
  opacity: 0; }
  .menu__sub a {
    color: #535151;
    font-size: 130%;
    padding: 10px;
    text-align: left; }
    .menu__sub a:hover {
      color: #4696cd; }
  .menu__sub li:not(:last-child) {
    border-bottom: 1px solid #90c0e1; }

.menu > li:hover > ul {
  cursor: pointer;
  transition: background 200ms linear, color 200ms linear, border 200ms linear, max-height 200ms linear;
  max-height: 550px;
  opacity: 1; }

.header__block {
  font-size: 180%; }

.header__block span {
  display: block;
  margin-bottom: 20px;
  position: relative;
  padding-left: 29px; }
  .header__block span::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    height: 29px;
    width: 28px;
    background: url(../images-tmpl/tel.png);
    z-index: 9999; }

.button {
  display: inline-block;
  padding: 5px 12px;
  border: 2px solid #fff;
  font-size: 69%;
  color: #fff;
  text-transform: uppercase;
  transition: all .3s ease-in-out; }
  .button:hover {
    background: #fff;
    color: #072ca4; }

/*---------slider------------*/
.title {
  font-size: 470%;
  padding: 50px 0;
  text-align: left; }

.slider {
  border-top: 1px solid #6988ff;
  background: white;
  background: -moz-linear-gradient(left, white 0%, #5174ff 26%, #5174ff 53%, #5174ff 76%, white 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(26%, #5174ff), color-stop(53%, #5174ff), color-stop(76%, #5174ff), color-stop(100%, white));
  background: -webkit-linear-gradient(left, white 0%, #5174ff 26%, #5174ff 53%, #5174ff 76%, white 100%);
  background: -o-linear-gradient(left, white 0%, #5174ff 26%, #5174ff 53%, #5174ff 76%, white 100%);
  background: -ms-linear-gradient(left, white 0%, #5174ff 26%, #5174ff 53%, #5174ff 76%, white 100%);
  background: linear-gradient(to right, white 0%, #5174ff 26%, #5174ff 53%, #5174ff 76%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 ); }

.slider img {
  width: 100%;
  height: auto; }

/*------------section----------------*/
.pageline {
  padding: 60px 0 0; }

.pageline__title {
  padding-bottom: 40px; }

.services {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none; }

.services__item:nth-child(1) {
  background: url("../images-tmpl/services-1.jpg") no-repeat;
  background-size: cover; }

.services__item:nth-child(2) {
  background: url("../images-tmpl/services-2.jpg") no-repeat;
  background-size: cover; }

.services__item:nth-child(3) {
  background: url("../images-tmpl/services-3.jpg") no-repeat;
  background-size: cover; }

.services__item:nth-child(4) {
  background: url("../images-tmpl/services-4.jpg") no-repeat;
  background-size: cover; }

.services__item:nth-child(5) {
  background: url("../images-tmpl/services-5.jpg") no-repeat;
  background-size: cover; }

.services__item:nth-child(6) {
  background: url("../images-tmpl/services-6.jpg") no-repeat;
  background-size: cover; }

.services__item:nth-child(7) {
  background: url("../images-tmpl/services-7.jpg") no-repeat;
  background-size: cover; }

.services__item {
  height: 315px;
  flex-basis: calc(100% / 7);
  position: relative; }

.services__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  position: relative; }
  .services__link:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); }

.bg-blue {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: -webkit-linear-gradient(to bottom, rgba(0, 8, 113, 0.1) 0, #000871 75%);
  background: linear-gradient(to bottom, rgba(0, 8, 113, 0.1) 0, #000871 75%); }

.services__item:hover .bg-blue {
  background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, #4b70ff 75%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, #4b70ff 75%); }

.services__title {
  text-align: left;
  color: #fff;
  position: absolute;
  top: 150px;
  left: 50%;
  width: 70%;
  z-index: 999999;
  transform: translateX(-50%);
  padding: 5px 10px;
  font-family: Arial narrow;
  font-size: 150%; }

.services__button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
  width: 60%;
  background: #f4931f;
  color: #fff;
  font-size: 130%;
  padding: 5px 10px;
  border: 2px solid #fff;
  z-index: 9999;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background 200ms linear, color 200ms linear, border 200ms linear, max-height 200ms linear;
  -webkit-box-shadow: 4px 12px 22px 0px rgba(15, 73, 174, 0.61);
  -moz-box-shadow: 4px 12px 22px 0px rgba(15, 73, 174, 0.61);
  box-shadow: 4px 12px 22px 0px rgba(15, 73, 174, 0.61); }

.services__button:hover {
  background: #fff;
  color: #f4931f; }

/*------------advantages----------------*/
.pageline--advantages {
  background: url("../images-tmpl/sectionbg.png") top left;
  background-size: cover;
  padding-bottom: 100px; }

.grid {
  overflow: hidden; }

.grid__item {
  position: relative;
  padding-top: 65px;
  padding-bottom: 50px;
  height: 386px; }

.grid__item--bg {
  background: #001c95;
  background: -moz-linear-gradient(top, #001c95 0%, rgba(255, 255, 255, 0) 60%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #001c95), color-stop(60%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, #001c95 0%, rgba(255, 255, 255, 0) 60%);
  background: -o-linear-gradient(top, #001c95 0%, rgba(255, 255, 255, 0) 60%);
  background: -ms-linear-gradient(top, #001c95 0%, rgba(255, 255, 255, 0) 60%);
  background: linear-gradient(to bottom, #001c95 0%, rgba(255, 255, 255, 0) 60%);
  z-index: 1;
  position: absolute;
  width: 1000%;
  height: 100%;
  top: 20px; }

.grid__item--bg {
  left: 30%; }

.grid__item .item__link {
  position: relative;
  width: 100%;
  display: block;
  height: 100%; }

.grid__item img {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  border: 4px solid #000d7b;
  position: absolute;
  left: 0;
  z-index: 10;
  cursor: pointer;
  transition: background 200ms linear, color 200ms linear, border 200ms linear, max-height 200ms linear;
  width: 100%;
  max-width: 530px;
  height: auto;
  box-sizing: border-box; }

.grid__item a:hover img {
  border-color: #051490; }

.grid__item--text {
  position: relative; }

.item__inner {
  position: absolute;
  z-index: 99;
  width: 85%;
  left: 70px; }

.grid__item--text h3, .grid__item--text p {
  font-family: "Arimo", sans-serif; }

.grid__item--text h3 {
  font-size: 240%;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  padding-bottom: 50px; }

.grid__item--text .title__link {
  cursor: pointer;
  transition: background 200ms linear, color 200ms linear, border 200ms linear, max-height 200ms linear; }

.grid__item--text .title__link:hover h3 {
  color: #bab6b6; }

.grid__item--text p {
  font-size: 130%;
  line-height: 30px;
  color: #2a2a2b; }

/*--------------------------footer------------------*/
.footer {
  background: #072ca4;
  color: #fff; }

.wrapper__footer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  padding-bottom: 20px; }

.footer__item {
  flex-basis: 25%; }

.footer__title {
  font-size: 140%;
  text-transform: uppercase;
  position: relative;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 20px; }

.footer__title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 34px;
  z-index: 9999; }

.title--tel::before {
  background: url(../images-tmpl/tel2.png) no-repeat center center; }

.title--email::before {
  background: url(../images-tmpl/email.png) no-repeat center center; }

.title--adr::before {
  background: url(../images-tmpl/letter.png) no-repeat center center; }

.footer__item p, .footer__item a {
  font-size: 110%;
  line-height: 25px;
  padding-left: 20px;
  color: #fff; }
.footer__item a:hover {
  color: #bab6b6; }

.poscenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 60px; }

.socialbt a {
  color: #fff;
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  padding: 2px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%; }

.socialbt a:hover {
  color: #bab6b6;
  border: 2px solid #bab6b6; }

.socialbt .fab, .socialbt .fa {
  font-size: 180%; }

.footer-bar {
  border-top: 2px solid #fff;
  text-align: right;
  padding-top: 30px;
  padding-bottom: 20px;
  width: 100%;
  margin-top: 30px;
  font-size: 110%; }

@media screen and (min-width: 800px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 3fr;
    grid-template-columns: repeat(2, 3fr);
    overflow: hidden; } }
@media (max-width: 991px) {
  .header__menu {
    display: none; }

  .header__menu--mobile {
    display: none;
    flex-direction: column;
    left: 95%;
    height: auto;
    transform: translatex(-95%);
    position: absolute;
    top: 30px;
    right: 0;
    background: #0281be;
    border-radius: 5px;
    padding: 20px 20px;
    width: 260px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    z-index: 2; }

  .toggle-hamburger {
    display: block;
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 99; } }
@media (min-width: 800px) and (max-width: 991px) {
  .header__block {
    font-size: 180%;
    position: absolute;
    left: 55%;
    transform: translateX(-55%); }

  .wrapper {
    padding: 0 40px; }

  .header__menu {
    display: none; }

  .item__inner {
    width: 90%;
    left: 10%; }

  .grid__item--text h3 {
    font-size: 180%;
    padding-bottom: 20px; }

  .grid__item--text p {
    font-size: 120%;
    line-height: 25px; }

  .title {
    font-size: 400%;
    padding: 40px 0; }

  h1, h2 {
    font-size: 250%; }

  .pageline {
    padding: 50px 0 0; }

  .services {
    flex-wrap: wrap;
    justify-content: center; }

  .services__item {
    flex-basis: calc(100% / 4);
    margin-bottom: 15px; }

  .pageline--advantages {
    padding-bottom: 50px; }

  .footer__item {
    flex-basis: calc(100% / 3);
    padding-bottom: 20px; } }
@media (max-width: 799px) {
  .header__block {
    font-size: 180%;
    position: absolute;
    left: 55%;
    transform: translateX(-55%); }

  .wrapper {
    padding: 0 20px; }

  .slider img {
    width: 100%;
    height: auto; }

  h1, h2 {
    font-size: 190%; }

  .pageline {
    padding: 50px 0 0; }

  .pageline__title {
    padding-bottom: 20px; }

  .grid__item {
    height: auto;
    min-height: 200px;
    padding-top: 0;
    padding-bottom: 0; }

  .grid__item:first-child, .grid__item:nth-child(3), .grid__item:nth-child(5) {
    padding-top: 65px; }

  .grid__item--bg {
    left: 20%; }

  .grid__item img {
    position: relative; }

  .item__inner {
    position: relative;
    width: 100%;
    left: 0;
    padding: 40px 0; }

  .grid__item--text h3 {
    font-size: 200%;
    color: #072ca4;
    padding: 30px 0; }

  .grid__item--text .title__link:hover h3 {
    color: #635f5f; }

  .title {
    font-size: 400%;
    padding: 40px 0; }

  h1, h2 {
    font-size: 250%; }

  .pageline {
    padding: 50px 0 0; }

  .services {
    flex-wrap: wrap;
    justify-content: center; }

  .services__item {
    flex-basis: calc(100% / 4);
    margin-bottom: 15px; }

  .pageline--advantages {
    padding-bottom: 50px; }

  .footer__item {
    flex-basis: calc(100% / 3);
    padding-bottom: 20px; } }
@media (min-width: 481px) and (max-width: 680px) {
  .header__block {
    font-size: 180%;
    position: absolute;
    left: 55%;
    transform: translateX(-55%); }

  .title {
    font-size: 250%; }

  .services__item {
    flex-basis: calc(100% / 3); }

  .footer__item {
    flex-basis: calc(100% / 2); } }
@media (max-width: 480px) {
  .header__block {
    font-size: 150%;
    padding-top: 30px;
    position: relative;
    transform: translateX(0);
    left: 0; }

  .header__block span {
    margin-bottom: 5px; }

  .title {
    font-size: 200%;
    padding: 20px 0; }

  .services__item {
    flex-basis: 100%;
    height: 160px;
    margin-bottom: 10px; }

  .services__item:nth-child(1) {
    background: url("../images-tmpl/services-1sm.jpg") no-repeat;
    background-size: cover; }

  .services__item:nth-child(2) {
    background: url("../images-tmpl/services-2sm.jpg") no-repeat;
    background-size: cover; }

  .services__item:nth-child(3) {
    background: url("../images-tmpl/services-3sm.jpg") no-repeat;
    background-size: cover; }

  .services__item:nth-child(4) {
    background: url("../images-tmpl/services-4sm.jpg") no-repeat;
    background-size: cover; }

  .services__item:nth-child(5) {
    background: url("../images-tmpl/services-5sm.jpg") no-repeat;
    background-size: cover; }

  .services__item:nth-child(6) {
    background: url("../images-tmpl/services-6sm.jpg") no-repeat;
    background-size: cover; }

  .services__item:nth-child(7) {
    background: url("../images-tmpl/services-7sm.jpg") no-repeat;
    background-size: cover; }

  .services__title {
    font-size: 150%;
    width: 50%;
    top: 10px;
    left: 100%;
    right: 10%;
    transform: translateX(-100%); }

  .bg-blue {
    background: -webkit-linear-gradient(to right, rgba(0, 8, 113, 0.1) 0, #000871 75%);
    background: linear-gradient(to right, rgba(0, 8, 113, 0.1) 0, #000871 75%); }

  .services__item:hover .bg-blue {
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 30%, #4b70ff 75%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 30%, #4b70ff 75%); }

  .footer__item {
    flex-basis: 100%;
    padding-top: 25px;
    padding-left: 30px; } }

/*# sourceMappingURL=main.css.map */
