$fontMain: "Roboto", Arial,sans-serif;
$mainColor: #ca0707;
$secondColor: #687b92;
$DWhite: #f0f2f6;
$White: #fff;
$mainColorDarck: #4e5f73;
$ligthsec: #dfddda;
$bounce-color: #f66;

@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-BlackItalic.ttf");
  font-weight: Black;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: Black;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Italic.ttf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Italic.ttf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-LightItalic.ttf");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Thin.ttf");
  font-weight: 200;
  font-style: normal; }


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	line-height: 1;
	font-family: $fontMain;
	color: #444;
	font-family: 'Arimo', sans-serif;
	background: #edebe7;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover, a {
	text-decoration: none!important;
}

p {
    text-align: justify;
}
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 100px;
    right: 1%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url("../images/arr1.png") no-repeat 0px 0px;
}
#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
.parallax-section {
    background: -moz-linear-gradient(179deg,rgba(210,240,252,1) 0,rgba(0,173,239,.9) 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0,rgba(0,173,239,.9)),color-stop(100%,rgba(210,240,252,1)));
    background: -webkit-linear-gradient(179deg,rgba(210,240,252,1) 0,rgba(0,173,239,.9) 100%);
    background: -o-linear-gradient(179deg,rgba(210,240,252,1) 0,rgba(0,173,239,.9) 100%);
    background: -ms-linear-gradient(179deg,rgba(210,240,252,1) 0,rgba(0,173,239,.9) 100%);
    background: linear-gradient(271deg,rgba(210,240,252,1) 0,rgba(0,173,239,.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00adef', endColorstr='#d2f0fc', GradientType=1 );
    height: 100vh;
    position: relative;
}
.parallax-section__header {
    position: absolute;
    bottom: 13%;
    left: 0;
    display: block;
    width: auto;
    background: rgba(202, 7, 7, 0.9);
    padding: 15px 25px 15px 21%;
}
.header-btn {
  position: absolute;
  bottom: 9%;
  left: 50%;
  display: block;
  width: auto;
  background: #bebebc;
  color: #ca0707;
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  transition: all .3s ease-in-out;
  box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
}
.header-btn:hover {
  background: #ca0707;
  color:#bebebc;
}
.parallax-section__header span {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    display: block;
    text-shadow: 0 4px 4px rgba(0,0,0,.6);
}
.text-big {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 10px;
}
.text-midle {
  font-size: 40px;
  font-weight: bold;
}
.header-title {
    width: 40%;
    position: absolute;
    top: 25%;
    left: 21%;
    color: #fff;
    font-size: 20px;
    font-family: Arial,sans-serif;
}
.header-title p {
  color: #ca0707;
  text-transform: uppercase;
  font-family: 'Arimo', sans-serif;
  display: block;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.6);
  font-size: 54px;
  font-weight: bold;
  padding-bottom: 5px;
}
.parallax-block {
    background: url(../images/bg-parallax.png) 100% 100% no-repeat;
    background-size: auto;
    height: 100%;
    z-index: 99;
}
.parallax-block__outer {
    background: url(../images/vines-mid.png) no-repeat;
    background-position: bottom;
    height: 100%;
    background-size: cover;
}
/*-----------------*/
.header {
  color: #fff;
  position: absolute;
  top: 0;
  height: 90px;
  width: 100%;
  background: #fff;
  opacity: 0.85;
}
.box-hero-img .header {
    width: 100%;
    padding-top: 30px;
}
.container, .box-inner {
    position: relative;
    width: 100%;
  //  min-width: 1024px;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;

}
.box-inner {
    height: 65px;
}
.box-inner::before, .box-inner::after {
    display: table;
    content: '';
}
.header .brand, .header .phone {
    position: relative;
    z-index: 5;
    margin-top: 5px;
}
.header .brand {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}
.brand a {
    display: inline-block;
}
.hidden-desktop {
    display: none !important;
}
.brand img {
    display: block;
    margin-bottom: 9px;
    padding: 3px;
}
.brand img:last-child {
    margin-bottom: 0;
}
.primary-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-weight: 300;
}
.header .brand, .header .phone, .header .menu {
    display: inline-block;
    vertical-align: middle;
}
.menu ul {
    display: inline-block;
    padding-top: 20px;
}
.menu ul li {
    display: inline-block;
    margin-left: 27px;
}
.menu ul li:first-child {
    margin-left: 0;
}
.menu ul li a {
    font-size: 17px;
    transition: .3s all;
    color: #ca0707;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
}
.phone {
    display: inline-block;
    font-weight: 700;
}
.header .brand, .header .phone {
    position: relative;
    z-index: 5;
    margin-top: 5px;
}
.header .brand, .header .phone, .header .menu {
    display: inline-block;
    vertical-align: middle;
}
.primary-tel {
  vertical-align: middle;
  display: block;
  width: 20%;
  float: right;
  position: relative;
}
.phone span {
    line-height: 40px;
    font-size: 23px;
    transition: .3s all;
    color: #ca0707;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
}
#search {
    box-sizing: border-box;
    width: 75%;
    height: 100%;
    padding: 3px 95px 3px 17px;
    overflow: hidden;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    border: none;
    outline: #ca0707 solid 2px;
    -webkit-appearance: textfield;
}
.fas.fa-search {
    color: #ca0707;
    position: absolute;
    left: 160px;
    bottom: 5px;
}
.container {
   display: flex;
   align-items: stretch;
   justify-content: space-evenly;
}
.container-first {
  margin-bottom: 40px;
}
.container .item {
//  width: 100%;
}
.container .item:not(:last-child) {
    margin-right: 10px;
}
.container .item h3 {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}
.main__section .container .item img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 4px 4px 13px -4px rgba(0,0,0,.75);
  border: 2px solid #ece6e6;
  &:hover {
        cursor: pointer;
        animation:bounceOut .3s linear;
      }
}
.main__section .item:hover {
 color: #ca0707;
}
@keyframes bounceOut {
        0%{ box-shadow: 0 0 0 4px #ece6e6; opacity:1;}
        25%{ box-shadow: 0 0 0 1px #ece6e6; opacity:1;}
        50%{ box-shadow: 0 0 0 7px #ece6e6; opacity:1; }
        75%{ box-shadow: 0 0 0 4px #ece6e6; opacity:1;}
        100%{ box-shadow: 0 0 0 5px #ece6e6; opacity:1;}
}
.item-first:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 150px;
  transform: translateY(-50%) rotate(-5deg);
  width: 25%;
  height: 21px;
  background-color: rgba(203, 210, 217, 0.5);
  z-index: -9;
}
.item--second:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 350px;
  transform: translateY(-50%) rotate(-5deg);
  width: 25%;
  height: 21px;
  background-color: rgba(203, 210, 217, 0.5);
  z-index: -9;
}
.item--second:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 650px;
  transform: translateY(-50%) rotate(-5deg);
  width: 25%;
  height: 21px;
  background-color: rgba(203, 210, 217, 0.5);
  z-index: -9;
}
.item-first:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 30%;
    left: 450px;
    transform: translateY(-50%) rotate(-5deg);
    width: 25%;
    height: 21px;
    background-color: rgba(203, 210, 217, 0.5);
    z-index: -9;
}
.item-first:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 30%;
    left: 750px;
    transform: translateY(-50%) rotate(-5deg);
    width: 25%;
    height: 21px;
    background-color: rgba(203, 210, 217, 0.5);
    z-index: -9;
}
.section__wrapper {
  padding-top: 60px;
  padding-bottom: 100px;
}
.main__section {
//  background: $ligthsec;
}
.section__wrapper h2 {
  color: $mainColor;
  text-transform: uppercase;
  font-size: 43px;
  font-weight: bold;
  font-family: 'Arimo', sans-serif;
  font-weight: 600;
  text-align: center;
  padding-bottom: 60px;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.6);
}
.section__order {
  background: #adafb1;
}

.section__order .item {
  position: relative;
  padding-bottom: 50px;
}
.section__order .item div {
    position: absolute;
    bottom: 0;
    text-align: center;
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}
.section__order .item span {
  font-size: 20px;
  color: $mainColor;
}
.grid__item--bg {
    background: rgba(202,202,200,1);
    background: -moz-linear-gradient(top, rgba(202,202,200,1) 0%, rgba(223,221,218,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(202,202,200,1)), color-stop(100%, rgba(223,221,218,0)));
    background: -webkit-linear-gradient(top, rgba(202,202,200,1) 0%, rgba(223,221,218,0) 100%);
    background: -o-linear-gradient(top, rgba(202,202,200,1) 0%, rgba(223,221,218,0) 100%);
    background: -ms-linear-gradient(top, rgba(202,202,200,1) 0%, rgba(223,221,218,0) 100%);
    background: linear-gradient(to bottom, rgba(202,202,200,1) 0%, rgba(223,221,218,0) 100%);
    z-index: -1;
    position: absolute;
    width: 1000%;
    height: 100%;
    top: 20px;

}
.right-side .grid__item--bg {
  left: 30%;
}
.left-side .grid__item--bg {
  right: 30%;
}
#js-anchor__wrapper {
    position: absolute;
    bottom: 1%;
    left: 50%;
    margin-left: -19px;
    z-index: 1;
}
svg:not(:root) {
    overflow: hidden;
}
.b-scroll-down .icon {
    fill: #fff;
    width: 38px;
    height: 37px;
}
.b-scroll-down .icon path:first-child {
    -webkit-animation: arrow 1.5s ease infinite;
    animation: arrow 1.5s ease infinite;
}
.b-scroll-down .icon path:last-child {
    -webkit-animation: arrow 1.8s ease infinite;
    animation: arrow 1.8s ease infinite;
}
.section__production {
  //background: #dfddda;
  overflow: hidden;
}

.grid__item {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 430px;
}

.grid__item--text.right-side {
    padding-left: 80px;
}
.grid__item--text.left-side {
    padding-right:  80px;
}
.grid__item--text h3 {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 50px;
  padding-top: 30px;
}
.grid__item--text p {
  font-size: 19px;
  line-height: 30px;
}
.grid__item img {
  box-shadow: 0 1px 4px rgba(0,0,0,.3),-23px 0 20px -23px rgba(0,0,0,.8),23px 0 20px -23px rgba(0,0,0,.8),0 0 40px rgba(0,0,0,.1) inset;
  border: 3px solid #d7d2ca;
  position: absolute;
  left: 0;
}
.left-side {
  text-align: right;
}
.right-side {
  text-align: left;
}
.grid__item-img img:nth-child(2) {
  position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
  -webkit-transition: opacity 0.3s;
			-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.grid__item:hover .grid__item-img img:nth-child(2) {
	opacity: 1;
}


.grid__item-title {
	font-weight: 500;
	font-size: 2rem;
	margin: 1.5rem 0 0 0;
	color: var(--item-title);
	text-shadow: 1px 1px #4c4b4b;
}

.grid__item-title--small {
	font-size: 40px;
	line-height: 1.25;
	margin: 2rem 0;
	font-weight: 400;
	text-transform: uppercase;
}

.grid__item-meta {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.25rem;
	font-size: 1.5rem;
	color: var(--item-meta);
}

.grid__item-subtitle {
	display: block;
	margin: 30px 0 0 0;
	font-weight: 400;
	font-size: 1.5em;
	color: var(--item-subtitle);
}
.grid__item-subtitle a {
	color: #fff;
}
.grid__item-subtitle span {
	display: block;
	font-size: 24px;
}

.grid__item-text {
	font-size: 22px;
	line-height: 1.75;

	color: var(--item-text);
}

.grid__item-link {
	display: inline-block;
	color: currentColor;
	font-weight: 500;
	font-size: 16px;
	position: relative;
	padding: 2rem 0 0.4rem;
	pointer-events: auto;
	color: var(--item-link) !important;
}

.grid__item-link:focus,
.grid__item-link:hover {
	color: var(--item-link-hover);
}

.grid__item-link::before {
  content: '';
  	position: absolute;
  	background: currentColor;
  	width: 80%;
  	height: 1px;
  	bottom: 0;
  	-webkit-transform-origin: 0% 50%;
  	    -ms-transform-origin: 0% 50%;
  	        transform-origin: 0% 50%;
  	-webkit-transform: scale3d(0,1,1);
  	        transform: scale3d(0,1,1);
  	opacity: 0;
  	-webkit-transition: all 0.3s;
  	-o-transition: all 0.3s;
  	transition: all 0.3s;
  	-webkit-transition-property: opacity, -webkit-transform;
  	transition-property: opacity, -webkit-transform;
  	-o-transition-property: opacity, transform;
  	transition-property: opacity, transform;
  	transition-property: opacity, transform, -webkit-transform;
}

.grid__item-link:hover::before {
  opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	        transform: scale3d(1,1,1);
}

.grid__item-link + .grid__item-link {
	margin: 0 0 0 3rem;
}

.grid__item-text + .grid__item-link {
  white-space: nowrap;
	-ms-flex-item-align: start;
	    align-self: flex-start;
	margin-top: auto;
}

.grid__item-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
	display: flex;
}

/* Themes */
.theme-1 {
	--item-bg: transparent;
    --item-link: #145482;
    --item-link-hover: #0d2936;
    --item-meta: #145482;
    --item-title: #145482;
    --item-subtitle: #145482;
    --item-text: rgb(77, 77, 77);
}

.theme-2 {
	--item-bg: rgba(0,0,0,0.2);
	--item-link: #fff;
	--item-link-hover: #fff;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff;
}


@media screen and (min-width: 85em) {
	.grid__item-text {
		width: 80%;
	}
}

@media screen and (min-width: 50em) {
	.grid {
    display: -ms-grid;
     display: grid;
     -ms-grid-columns: 3fr 3fr;
     grid-template-columns: repeat(2,3fr);
	}

	.grid__item-subtitle * {
    opacity: 0;
    		-webkit-transform: translate3d(100px, 0, 0);
    		        transform: translate3d(100px, 0, 0);
    		-webkit-transition: all 0.5s cubic-bezier(0.2, 1, 0.7, 1);
    		-o-transition: all 0.5s cubic-bezier(0.2, 1, 0.7, 1);
    		transition: all 0.5s cubic-bezier(0.2, 1, 0.7, 1);
    		-webkit-transition-property: opacity, -webkit-transform;
    		transition-property: opacity, -webkit-transform;
    		-o-transition-property: transform, opacity;
    		transition-property: transform, opacity;
    		transition-property: transform, opacity, -webkit-transform;
	}
	.grid__item:hover .grid__item-subtitle * {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
	}
	.grid__item:hover .grid__item-subtitle span {
    -webkit-transition-delay: 0.1s;
           -o-transition-delay: 0.1s;
              transition-delay: 0.1s;
	}
	.grid__item:hover .grid__item-subtitle .grid__item-link {
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
	}
	.grid__item-title {
		font-size: 3vw;
	}
	.grid__item-title--small {
		font-size: 35px;
	}
	.grid__item-text {

	}
}
.red-btn {
  display: block;
  width: 70%;
  background: #ca0707;
  color: #fff;
  font-family: 'Arimo', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 15px;
  transition: all .3s ease-in-out;
  box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    border: 2px solid #ca0707;
  margin-top: 50px;
  text-align: left;
}
.red-btn--right {
  float: right;
}
.red-btn--left {
  float: left;
}
.red-btn:hover {
  background: transparent;
  color: #ca0707;
  border: 2px solid #ca0707;
}

.clear_left {
    clear: left;
}
#yt_spotlight6 {
  background: #adafb1;
  padding-top: 65px;
  padding-bottom: 280px;
  position: relative;
}
#yt_spotlight6 .item {
    width: 25%;
    box-sizing: border-box;
}
#yt_spotlight6 .module::before {
    content: "";
    border-left: 1px solid #ddd;
    position: absolute;
    left: -30px;
    height: 190px;
}
#yt_spotlight6 #bottom6 .module::before {
    display: none;
    border: none;
}
#yt_spotlight6 div.logo-footer {
    background: url(../images/logo-footer.png) left center no-repeat;
    height: 50px;
    margin-bottom: 15px;
    margin-top: 8px;
}
#yt_spotlight6 h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #ca0707;
  padding-bottom: 15px;
  text-align: left;
}
#yt_spotlight6 a {
  font-size: 19px;
  color: #63747e;
  line-height: 23px;
  &:hover {
      color: #ca0707;
  }
}
.footer {
  background:  #ca0707;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 70px;
  width: 80%;
  color: #fff;
  font-size: 23px;
  line-height: 40px;
}
.footer-container {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  justify-content: space-between;
  padding-left: 25%;
}
.footer__item {
  padding: 0 30px;
}
.footer--social ul {
  text-align: center;
  margin-left: 20%;
  padding-top: 15px;
}
.footer--social ul li {
  display: inline-block;
}

.footer-btn {
  position: absolute;
  bottom: 6%;
  right: 10%;
  display: block;
  width: auto;
  background: #bebebc;
  border: 2px solid #bebebc;
  color: #ca0707!important;
  font-family: 'Arimo', sans-serif;
  font-size: 30px!important;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: all .3s ease-in-out;
  box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
  &:hover {
    background: #ca0707;
    color: #fff!important;
    border: 2px solid #bebebc;
  }
}

@media (min-width: 1281px) {

}
@media (min-width: 1025px) and (max-width: 1280px) {

}
@media (min-width: 768px) and (max-width: 1024px) {

}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}
@media (min-width: 481px) and (max-width: 767px) {

}
@media (min-width: 320px) and (max-width: 480px) {

}

@media (max-width: 989px){
  .adlabs-tracking-code, .header-top-menu,  .location-select {
    display: none;
  }
}
