$font-stack:    Helvetica, sans-serif;
$primaryMenu: #1F7B67;
$borderWhite: #fff;

$fontArial:   "Arial";
$fontUbuntuM: "Ubuntu Medium";
$fontUbuntuL: "Ubuntu Light";
$fontUbuntuC: "Ubuntu Condensed Regular";
$fontAmesome:  "FontAwesome";
