@font-face {
    font-family: 'montserrat';
    src:  url('../fonts/Montserrat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';


       src:  url('../fonts/Montserrat-Regular.ttf');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-BlackItalic.ttf');

    font-weight: Black;
    font-style: italic;


}

@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Black.ttf');

    font-weight: Black;
    font-style: normal;


}


@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Bold.ttf');

    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-BoldItalic.ttf');

    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Italic.ttf');

    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Italic.ttf');

    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Light.ttf');

    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-LightItalic.ttf');

    font-weight: 100;
    font-style: italic;

}

@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Medium.ttf');

    font-weight: 500; ///?
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-MediumItalic.ttf');

    font-weight: 500;
    font-style: italic;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Regular.ttf');

    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Thin.ttf');

    font-weight: 200;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-ThinItalic.ttf');

    font-weight: 200;
    font-style: italic;

}
