$primaryMenu: #1F7B67;
$borderWhite: #fff;
$fontArial:   "Arial";
$fontRoboto: "Roboto",Helvetica,Arial,"Lucida Grande",sans-serif;
$fontAmesome: "FontAwesome";
$colorGrey: #8a8a8a;
$colorBlue: #248cec;
$colorDack: #161616;
$colorDack1: #222;
$colorYelou: #fedb17;
$colorGreenLite: #4ca340;
$colorGreenDack: #408536;

@font-face {
    font-family: 'montserrat';
    src:  url('../fonts/Montserrat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';


       src:  url('../fonts/Montserrat-Regular.ttf');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-BlackItalic.ttf');

    font-weight: Black;
    font-style: italic;


}

@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Black.ttf');

    font-weight: Black;
    font-style: normal;


}


@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Bold.ttf');

    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-BoldItalic.ttf');

    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Italic.ttf');

    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Italic.ttf');

    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Light.ttf');

    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-LightItalic.ttf');

    font-weight: 100;
    font-style: italic;

}

@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Medium.ttf');

    font-weight: 500; ///?
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-MediumItalic.ttf');

    font-weight: 500;
    font-style: italic;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Regular.ttf');

    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Thin.ttf');

    font-weight: 200;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-ThinItalic.ttf');

    font-weight: 200;
    font-style: italic;

}


html, body, div, span, applet,
object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset,
form, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup,
menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
}
img {
  vertical-align: top;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
svg {
  display: block;
  overflow: visible;
}
pre {
  border:1px solid #000;
  overflow-x:auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}
body {
  color: #000;
  font-size: 100%;
	font-family: Roboto,Arial,sans-serif !important;
}
b,
strong {
    font-weight: bold;
}
a,
a:link,
a:visited,
a:focus {
    color: #fff;
}
p {
  margin: 0;
}
*, *::after, *::before {
  box-sizing: border-box;
}

@import 'bootstrap-custom';
body {
  min-width: 360px;
}
.btn {
  border-radius: 2px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 300;
}
.btn-lg {
  font-size: 2rem;
}
.btn-theme-primary {
    background: #7c93dd none repeat scroll 0 0;
}
.btn-secondary-outline {
    border-color: rgba(228, 153, 21, 0.9);
    box-shadow: none;
    color: rgba(228, 153, 21, 0.9)!important;

		&:hover {
			color: #333!important;
			background: $borderWhite;
			transition: .7s;}
}
/**--------------------------------**/
.back-link {
  a {
  color: $colorGreenLite;
  text-decoration: none;
  border-bottom: 1px $colorGreenLite solid;
    &:hover,
    &:focus {
      color: $colorGreenDack;
      text-decoration: none;
      border-bottom: 1px $colorGreenDack solid;
    }
  }
}
.entry-header .inner {
  text-align: left;
  margin: 0 auto 20px auto;
  width: 800px;
}
.entry-header {
  padding-top: 20px;
  background-color: $borderWhite;
  width:100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999
}
.wrapper-block {
  width: 100%;
  height: 100%;
  border: 1px solid #d6d6d6;
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.58);
  background-color: rgba(213, 217, 221, 0.8);
}

/*--top video-baner---*/
.video-baner {
  position: relative;
  .site-header {
    #header-meta {
      position: fixed;
      background-color: $colorDack;
      color: $borderWhite;
      font-family: $fontRoboto,Helvetica,Arial,"Lucida Grande",sans-serif;
      font-size: 15px;
      line-height: 30px;
      width: 100%;
      min-width: 360px;
      z-index: 150;
      .dropdown-h {
        display: inline-block;
        float: left;
        padding: 5px 0 5px 40px;
        background-image: url("../img/hokkey_1.png")!important;
        background-position: left;
        background-repeat: no-repeat;
        background-size:contain;
        font-family: $fontRoboto;
        color: #c8cacd;
        &:hover,
        &:focus {
          color: #c8cacd;
          text-decoration: none;
          &:after{
            content:' \f106';
            font-family: $fontAmesome;
            padding-right: 5px;
            font-size: 25px;
          }
        }
        &:after {
          content: ' \f107';
          font-family: $fontAmesome;
          padding-right: 5px;
          font-size: 25px;
        }
      }
    }
    .headen-block {
      background-color: #222;
      box-shadow: 0 0 20px 0 rgba(22, 22, 22, 0.5);
      top: 20%;
      transform: translate(0px, -20%);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 200;
      label[for] {
        cursor: pointer;
      }

      input[type="checkbox"] {
        display: none;
      }

      .lightbox,
      .grid {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
      }

      .lightbox {
        z-index: 1;
        min-height: 100%;
        overflow: auto;
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
        -webkit-transition: -webkit-transform .5s ease-out;
                transition: transform .5s ease-out;
      }
      .lightbox img {
        position: fixed;
        top: 50%;
        left: 50%;
        max-width: 96%;
        max-height: 96%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
      }

      input[type="checkbox"]:checked + .lightbox {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
      }

      input[type="checkbox"]:checked ~ .grid {
        opacity: .125;
      }

      .grid {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-align-content: flex-start;
            -ms-flex-line-pack: start;
                align-content: flex-start;
        z-index: 0;
        padding: 5%;
        overflow: auto;
        background-color: #222;
        text-align: center;
        -webkit-transition: opacity .75s;
                transition: opacity .75s;

      }
      .grid .grid-item {
        display: inline-block;
        width: 25%;
        padding: 16px;
        opacity: .75;
        -webkit-transition: opacity .5s;
                transition: opacity .5s;
      }
      .grid .grid-item:hover {
        opacity: 1;
      }
      @media screen and (max-width: 1024px) {
        .grid .grid-item {
          width: 50%;
        }
      }
      @media screen and (max-width: 480px) {
        .grid .grid-item {
          width: 100%;
        }
      }
      .grid img {
        max-width: 100%;
        max-height: 100%;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
      }
    }
  }
  /*---------------------main-menu----------------------------*/
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
    padding-top: 40px;
    z-index: 100;
    .navbar-header {
    }
    .navbar-nav {
      text-transform: uppercase;
      float: right;
      #nav-social {
        display: block;
        float: right;
        font-size: 16px;
        height: 56px;
        line-height: 56px;
        position: relative;
        text-align: left;
        text-indent: 25px;
        text-transform: uppercase;
        width: 90px;
      }
      li > a {
        color: $borderWhite;
        font-family: $fontRoboto;
        font-size: 18px;
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
        &:hover,
        &:focus {
          color: $borderWhite;
          text-decoration: none;
          &:after{
            content:'  \f106';
            font-family: $fontAmesome;
            padding-right: 3px;
            color: $colorBlue;

          }
        }
        &:after {
          content: '  \f107';
          font-family: $fontAmesome;
          padding-right: 3px;
          color: $colorBlue;
        }
      }
    }
  }
}
.networks {
  display: block;
  float: right;
  margin: 5px;
  p {
    float: left;
    padding-right: 15px;
    margin: 0px;
  }

}
.networks__icon {
  float: left;
  padding-left: 20px;
  &:hover {
    content: '';
    text-decoration: none;
  }
}
.networks__icon:before {
  color: $colorBlue;
  font-family: $fontAmesome;
  font-size: 20px;
}
.networks__icon_facebook:before {
  content: "\f09a";
}
.networks__icon_twitter:before {
  content: "\f099";
}
.networks__icon:hover:before {
  color: $colorGrey;
  cursor: pointer;
}

@media (min-width: 1px){
  .video-baner {
    .site-header {
      #header-meta {
        font-size: 1.5rem;
      }
    }
    .slogan {
      h2 {
        font-size: 1.5rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
  .btn-lg {
    font-size: 1rem;
  }
}

@media (min-width: 480px){
  .video-baner {
    .site-header {
      #header-meta {
        font-size: 1.5rem;
      }
    }
    .slogan {
      h2 {
        font-size: 3rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
}

@media (min-width: 640px){
  .video-baner {
    .site-header {
      #header-meta {
        font-size: 1.5rem;
      }
    }
    .slogan {
      h2 {
        font-size: 4rem;
      }
      p {
        font-size: 2rem;
      }
    }
  }
}

@media (min-width: 720px){
  .video-baner {
    .site-header {
      #header-meta {
        font-size: 1.5rem;
      }
    }
    .slogan {
      h2 {
        font-size: 5rem;
      }
      p {
        font-size: 2rem;
      }
    }
  }
  .btn-lg {
    font-size: 2rem;
  }
  .networks__icon {
    display: none;
  }
}
@media (min-width: 890px){
  .video-baner {
    .site-header {
      #header-meta {
        display: block;
        font-size: 1.5rem;
      }
    }
    .slogan {
      h2 {
        font-size: 5rem;
      }
      p {
        font-size: 3rem;
      }
    }
  }
  .btn-lg {
    font-size: 2rem;
  }
  .networks__icon {
    display: none;
  }
}
@media (min-width: 993px){
  .video-baner {
    .site-header {
      #header-meta {
        display: block;
        font-size: 1.5rem;
      }
    }
    .slogan {
      h2 {
        font-size: 6rem;
      }
      p {
        font-size: 4rem;
      }
    }
  }
  .btn-lg {
    font-size: 2rem;
  }
  .networks__icon {
    display: block;
  }
}
