@import 'bootstrap-custom';
.btn {
  border-radius: 2px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-lg {
  font-size: 2rem;
}
.btn-theme-primary {
    background: #7c93dd none repeat scroll 0 0;
}
.btn-secondary-outline {
    border-color: rgba(255, 255, 255, 0.9);
    box-shadow: none;
    color: rgba(255, 255, 255, 0.9);
		&:hover {
			color: #333;
			background: #fff;
			transition: .7s;}
}

.wrapper-block {
  width: 100%;
  height: 100%;
  border: 1px solid #d6d6d6;
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.58);
  background-color: rgba(213, 217, 221, 0.8);
}
/*--top video-baner---*/
.video-baner {
  position: relative;
  .site-header {
    #header-meta {
      position: fixed;
      background-color: $colorDack;
      color: $borderWhite;
      font-family: $fontRoboto,Helvetica,Arial,"Lucida Grande",sans-serif;
      font-size: 15px;
      line-height: 30px;
      width: 100%;
      z-index: 666666;
      .dropdown-h {
        display: inline-block;
        float: left;
        padding: 5px 0 5px 40px;
        background-image: url("../img/hokkey_1.png")!important;
        background-position: left;
        background-repeat: no-repeat;
        background-size:contain;
        &:hover,
        &:focus {
          color: $borderWhite;
          &:after{
            content:' \25b2'
          }
        }
        &:after {
          content: ' \25bc';
        }
      }
      nav {
        ul {
          -webkit-font-smoothing:antialiased;
        	text-shadow:0 1px 0 #FFF;
          list-style: none;
          margin: 0;
          padding: 0;
          width: 100%;
          background-color: $colorDack1;
          background-repeat: no-repeat;
          li {
            float: left;
            margin: 0;
            padding: 0;
            position: relative;
            min-width: 25%;
            &:hover {
              a {
                text-decoration: none;
                color: $borderWhite;
              }
            }
          }
        }
        a {
          -webkit-transition: all .25s ease;
             -moz-transition: all .25s ease;
              -ms-transition: all .25s ease;
               -o-transition: all .25s ease;
                  transition: all .25s ease;
        }
        li ul {
            float: left;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 40px;
            visibility: hidden;
            z-index: 1;
            -webkit-transition: all .25s ease;
               -moz-transition: all .25s ease;
                -ms-transition: all .25s ease;
                 -o-transition: all .25s ease;
                    transition: all .25s ease;
        }
        li:hover ul {
            opacity: 1;
            top: 40px;
            visibility: visible;
        }
        li ul li {
            float: none;
            width: 100%;
        }
        .cf:after,
        .cf:before {
            content:"";
        }
        .cf:after {
            clear:both;
        }
      }
      p {
        display: inline-block;
        float: right;
        padding: 5px;
        margin: 0!important;
        span {
          padding-left: 15px;
        }
      }
    }
    .headen-block {
      background-color: #222;
      box-shadow: 0 0 20px 0 rgba(22, 22, 22, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 253px;
      padding: 40px;
      top: 50px;
      transform: translate(0px, -20%);
      width: 100vw;
      position: absolute;
      z-index: 200;
      label[for] {
        cursor: pointer;
      }

      input[type="checkbox"] {
        display: none;
      }

      .lightbox, .grid {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
      }

      .lightbox {
        z-index: 1;
        min-height: 100%;
        overflow: auto;
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
        -webkit-transition: -webkit-transform .5s ease-out;
                transition: transform .5s ease-out;
      }
      .lightbox img {
        position: fixed;
        top: 50%;
        left: 50%;
        max-width: 96%;
        max-height: 96%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
      }

      input[type="checkbox"]:checked + .lightbox {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
      }

      input[type="checkbox"]:checked ~ .grid {
        opacity: .125;
      }

      .grid {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-align-content: flex-start;
            -ms-flex-line-pack: start;
                align-content: flex-start;
        z-index: 0;
        padding: 16px;
        overflow: auto;
        background-color: #222;
        text-align: center;
        -webkit-transition: opacity .75s;
                transition: opacity .75s;
      }
      .grid .grid-item {
        display: inline-block;
        width: 25%;
        padding: 16px;
        opacity: .75;
        -webkit-transition: opacity .5s;
                transition: opacity .5s;
      }
      .grid .grid-item:hover {
        opacity: 1;
      }
      @media screen and (max-width: 1024px) {
        .grid .grid-item {
          width: 50%;
        }
      }
      @media screen and (max-width: 480px) {
        .grid .grid-item {
          width: 100%;
        }
      }
      .grid img {
        max-width: 100%;
        max-height: 100%;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
      }
    }
  }
  .navbar-default {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 24px;
    border-bottom: 2px solid #ec6913;
    z-index: 100;
    .navbar-header {
      .navbar-brand {
        padding: 0;
        img {
          border: 4px solid #fff;
          max-width: 100%;
          height:auto;
        }
      }
    }
    .navbar-nav {
      text-transform: uppercase;
      float: right;
      #nav-social {
        color: #ec6913;
        display: block;
        float: right;
        font-size: 16px;
        height: 56px;
        line-height: 56px;
        position: relative;
        text-align: left;
        text-indent: 25px;
        text-transform: uppercase;
        width: 90px;
      }
      li > a {
        color: #000;
      }
    }


  }
  .video-background {
    position: relative;;
    z-index: 0;
    width: 100%;
  }
  .slogan {
    position: absolute;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    z-index: 80;
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
    h2 {
      font-size: 8rem;
      letter-spacing: 4px;
      text-align: center;
    }
    p {
      font-size: 4rem;
      font-family: $fontRoboto;
      font-weight: bold;
      letter-spacing: 0.4px;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
      text-transform: uppercase;
      text-align: center;
    }
  }
}
.networks {
  display: block;
  float: right;

}
.networks__icon {
  float: left;
  padding-left: 20px;
}
.networks__icon:before {
  color: $colorGrey;
  font-family: $fontAmesome;
  font-size: 20px;
}
.networks__icon_facebook:before {
  content: "\f09a";
}
.networks__icon_twitter:before {
  content: "\f099";
}
.networks__icon:hover:before {
  color: $colorBlue;
  cursor: pointer;
}
/*--SECTION ALL---*/
.section {
	text-align: center;
  padding: 5rem;
  h2 {
    font-size: 3em;
    padding: 4.375rem 0rem;
    &::before {
      border: 2px solid #4ba0cb;
    }
    &::after {
      background: #4ba0cb;
    }
  }
  p {
    font: 100 18px Roboto,Arial,sans-serif;
    text-align: justify;
  }
  span {
    font-weight: bold;
    color: #ec8200;
  }
}
/*About as*/
#anchor_2 {
  background-image: url("../img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#anchor_3 {
  background-image: url("../img/daf_xf_2015.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.reason_list {
  *[class^="revealator"] {
    display: block;
    height: 200px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .reason_item_num {
    color: #ec8200;
    font: 66px/54px "Multicolore",sans-serif !important;
    text-align: center !important;
    margin-top: 2%;
  }
  .reason_item_des {
    margin: 0 15px;
    text-align: center !important;
  }
}

.revealator1 {
    display: block;
    height: 100%;
    margin: 0 auto 15px;
    width: 100%;
    border: none;
    box-shadow:none;
    background-color: transparent;
}
#anchor_4 {
  background-image: url("../img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .amenities {
    height: 300px;
    .amenities-block {
      overflow: hidden;
      .img-responsive {
        &:hover {
          transform: scale(1.2);
          transition-duration: 0.5s;
        }
      }
      .amenities-item {
        margin: 15px auto;
      }
    }
  }
}
#anchor_5 {
  background-color: #4f535d;
  background-image: url(../img/menu-tab1.png);
  background-repeat: repeat;;
  color: #fff;
  font: 100 18px Roboto,Arial,sans-serif;
  .kontackt {
    padding-left: 5%;
    padding-right: 5%;
    text-align: left !important;
    p {
      font-size: 17px;
    }
    img {
      max-height: 30px;
    }
  }
}
