$primaryMenu: #1F7B67;
$borderWhite: #fff;
$fontArial:   "Arial";
$fontRoboto: "Roboto",Helvetica,Arial,"Lucida Grande",sans-serif;
$fontAmesome: "FontAwesome";
$colorGrey: #8a8a8a;
$colorGreyLitgh:#d6d6d6;
$colorBlue: #248cec;
$colorDack: #161616;
$colorDack1: #222;
$colorYelou: #fedb17;
$colorGreenLite: #4ca340;
$colorGreenDack: #408536;
