$primaryMenu: #1F7B67;
$borderWhite: #fff;
$fontArial:   "Arial";
$fontRoboto: "Roboto";
$fontAmesome:  "FontAwesome";

@font-face {
    font-family: 'montserrat';
    src:  url('../fonts/Montserrat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';


       src:  url('../fonts/Montserrat-Regular.ttf');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-BlackItalic.ttf');

    font-weight: Black;
    font-style: italic;


}

@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Black.ttf');

    font-weight: Black;
    font-style: normal;


}


@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Bold.ttf');

    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-BoldItalic.ttf');

    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Italic.ttf');

    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Italic.ttf');

    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Light.ttf');

    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-LightItalic.ttf');

    font-weight: 100;
    font-style: italic;

}

@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Medium.ttf');

    font-weight: 500; ///?
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-MediumItalic.ttf');

    font-weight: 500;
    font-style: italic;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Regular.ttf');

    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Thin.ttf');

    font-weight: 200;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-ThinItalic.ttf');

    font-weight: 200;
    font-style: italic;

}


html, body, div, span, applet,
object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset,
form, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup,
menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
}
img {
  vertical-align: top;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
svg {
  display: block;
  overflow: visible;
}
pre {
  border:1px solid #000;
  overflow-x:auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}
body {
	font: 14px Roboto,Arial,sans-serif !important;
}
b,
strong {
    font-weight: bold;
}
a,
a:link,
a:visited,
a:focus {
    color: #fff;
}
p {
  margin: 0;
}
*, *::after, *::before {
  box-sizing: border-box;
}

@import 'bootstrap-custom';
.top {
    height: 100vh;
    border-bottom: 1px solid #666;
    overflow: hidden;
}
.wrapper::after {
    content: "";
    display: table;
    clear: both;
}
.wrapper {
    width: 100%;
    position: relative;
}
.background-video {
    position: absolute;
    z-index: 0;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
		left: 50%;
}
.hero-content-style1 {
    text-align: center;
}
.hero__content {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 300;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.hero-content-style1 h2 {
    font-size: 75px;
    letter-spacing: 4px;
}
.hero {
    padding: 15% 0;
    position: relative;
    z-index: 80;
}
.hero-content-style1 p {
    color: #ffffff;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 0.4px;
    margin-bottom: 1.875rem;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
		text-transform: uppercase;
		font-family: $fontRoboto;
}
.hero__content a.btn {
    margin: 0.625rem 0.625rem 1.25rem 0rem;
}
input[type="reset"],
input[type="submit"],
input[type="submit"],
.nav-links a:hover,
.btn-theme-primary,
.btn-theme-primary-outline:hover,
.card-theme-primary,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce button.button.alt {
    background: #7c93dd none repeat scroll 0 0;
}
.btn {
    border-radius: 2px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
		font-weight: bold;
		text-transform: uppercase;
}
.hero__content .btn-secondary-outline {
    border-color: rgba(255, 255, 255, 0.9);
    box-shadow: none;
    color: rgba(255, 255, 255, 0.9);
		&:hover {
			color: #333;
			background: #fff;
			transition: .7s;}
}
.scroll {
	position:relative;
	font-size:1.3em;
	margin-top:6em;
	display:inline-block;

}
.scroll:hover {
	text-decoration:none;
}

.scroll:after {
	content:'';
	width:40px;
	height:40px;
	position:absolute;
	top:40px;
	margin:auto;
	top:50px;
	right:0;
	bottom:0;
	left:0;
	-webkit-animation:3s arrow infinite ease;
	animation:3s arrow infinite ease;
}

.scroll:after {
	border-right:2px solid #FFF;
	border-bottom:2px solid #FFF;
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);

}
.tagline {

	font-size:2.3em;
	letter-spacing:0.02em;
	padding:0;
}
@-webkit-keyframes arrow {
	0%,100% {
		top:50px;
	}
	50% {
		top:80px;
	}
}
@keyframes arrow {
	0%,100% {
		top:50px;
	}
	50% {
		top:80px;
	}
}
@media (max-width:960px) {
	.inner {
		width:100%;

	}
	h1,h2,h3,p,pre,dl {
		margin-left:30px;
		margin-right:30px;
	}
}
.grey-bg {
  p {
    font: 100 20px Roboto,Arial,sans-serif;
    text-align: justify;
  }
  span {
    font-weight: bold;
  }
}
.section2 {
	text-align: center;
  padding: 2rem;
  h2 {
    font-size: 3em;
    padding: 4.375rem 0rem;
  }
}
.caption-label {
  box-sizing: border-box;
  color: #111;
  font-size: 150%;
  height: 2rem;
  margin-bottom: 40px;
  padding: 0.375rem;
	text-align: center;
  span {
    color: #ec8200;
  }
}
.reason_list {
    -moz-box-align: start;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: 15px -15px 15px;
    font: 100 20px Roboto,Arial,sans-serif;
}
*[class^="revealator"] {
    display: inline-block;
    height: 180px;
    margin: 0 auto 15px;
    width: 24%;
    border: 1px solid #d6d6d6;
    box-shadow:0px 0px 8px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.58);
    background-color: rgba(213, 217, 221, 0.8);
}

.reason_item_num {
    color: #ec8200;
    font: 66px/54px "Multicolore",sans-serif;
    width: 100%;
    margin-top: 15px;
}
.reason_item_des {
  line-height: 25px;
  margin: 0 15px;
}
#anchor_2 {
  background-image: url("../img/daf_xf_2015.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.revealator1 {
    display: block;
    height: 100%;
    margin: 0 auto 15px;
    width: 100%;
    border: none;
    box-shadow:none;
    background-color: transparent;
}
