$primaryMenu: #1F7B67;
$borderWhite: #fff;
$fontArial:   "Arial";
$fontRoboto: "Roboto";
$fontAmesome: "FontAwesome";

$colorGrey: #8a8a8a;

$colorBlue: #248cec;

@font-face {
    font-family: 'montserrat';
    src:  url('../fonts/Montserrat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';


       src:  url('../fonts/Montserrat-Regular.ttf');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-BlackItalic.ttf');

    font-weight: Black;
    font-style: italic;


}

@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Black.ttf');

    font-weight: Black;
    font-style: normal;


}


@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Bold.ttf');

    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-BoldItalic.ttf');

    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Italic.ttf');

    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Italic.ttf');

    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Light.ttf');

    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-LightItalic.ttf');

    font-weight: 100;
    font-style: italic;

}

@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Medium.ttf');

    font-weight: 500; ///?
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-MediumItalic.ttf');

    font-weight: 500;
    font-style: italic;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Regular.ttf');

    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-Thin.ttf');

    font-weight: 200;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';


       src:  url('../fonts/Roboto-ThinItalic.ttf');

    font-weight: 200;
    font-style: italic;

}


html, body, div, span, applet,
object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset,
form, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup,
menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
}
img {
  vertical-align: top;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
svg {
  display: block;
  overflow: visible;
}
pre {
  border:1px solid #000;
  overflow-x:auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}
body {
  color: #000;
  font-size: 100%;
	font-family: Roboto,Arial,sans-serif !important;
}
b,
strong {
    font-weight: bold;
}
a,
a:link,
a:visited,
a:focus {
    color: #fff;
}
p {
  margin: 0;
}
*, *::after, *::before {
  box-sizing: border-box;
}

@import 'bootstrap-custom';
.btn {
  border-radius: 2px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-lg {
  font-size: 2rem;
}
.btn-theme-primary {
    background: #7c93dd none repeat scroll 0 0;
}
.btn-secondary-outline {
    border-color: rgba(255, 255, 255, 0.9);
    box-shadow: none;
    color: rgba(255, 255, 255, 0.9);
		&:hover {
			color: #333;
			background: #fff;
			transition: .7s;}
}
.wrapper-block {
  width: 100%;
  height: 100%;
  border: 1px solid #d6d6d6;
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.58);
  background-color: rgba(213, 217, 221, 0.8);
}
/*--top video-baner---*/
.video-baner {
  position: relative;
  .site-header {
    #header-meta {
      position: fixed;
      background-color: #4f535d;
      background-image: url(../img/menu-tab1.png);
      color: #fff;
      text-align: center;
      font-family: $fontRoboto,Helvetica,Arial,"Lucida Grande",sans-serif;
      font-size: 1.4rem;
      height: 24px;
      left: 0;
      letter-spacing: 0.1em;
      line-height: 24px;
      top: 0;
      transform-style: preserve-3d;
      width: 100%;
      padding-left: 2%;
      padding-right: 2%;
      z-index: 666666;
      img {
        max-height: 20px;
      }
    }
  }
  .navbar-default {
    background-image: url("../img/feet.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 24px;
    border-bottom: 2px solid #ec6913;
    z-index: 100;
    .navbar-header {
      .navbar-brand {
        padding: 0;
        img {
          border: 4px solid #fff;
          max-width: 100%;
          height:auto;
        }
      }
    }
    .navbar-nav {
      text-transform: uppercase;
      float: right;
      #nav-social {
        color: #ec6913;
        display: block;
        float: right;
        font-size: 16px;
        height: 56px;
        line-height: 56px;
        position: relative;
        text-align: left;
        text-indent: 25px;
        text-transform: uppercase;
        width: 90px;
      }
      li > a {
        color: #000;
      }
    }

    a {
      &:hover,
      &:focus {
        background-color: #4f535d !important;
        background-image: url("../img/menu-tab1.png");
        background-position: center;
        color: #fff !important;
      }
    }
  }
  .video-background {
    position: relative;;
    z-index: 0;
    width: 100%;
  }
  .slogan {
    position: absolute;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    z-index: 80;
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
    h2 {
      font-size: 8rem;
      letter-spacing: 4px;
      text-align: center;
    }
    p {
      font-size: 4rem;
      font-family: $fontRoboto;
      font-weight: bold;
      letter-spacing: 0.4px;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
      text-transform: uppercase;
      text-align: center;
    }
  }
}
.networks {
  display: block;
  float: right;

}
.networks__icon {
  float: left;
  padding-left: 20px;
}
.networks__icon:before {
  color: $colorGrey;
  font-family: $fontAmesome;
  font-size: 20px;
}
.networks__icon_facebook:before {
  content: "\f09a";
}
.networks__icon_twitter:before {
  content: "\f099";
}
.networks__icon:hover:before {
  color: $colorBlue;
  cursor: pointer;
}
/*--SECTION ALL---*/
.section {
	text-align: center;
  padding: 5rem;
  h2 {
    font-size: 3em;
    padding: 4.375rem 0rem;
    &::before {
      border: 2px solid #4ba0cb;
    }
    &::after {
      background: #4ba0cb;
    }
  }
  p {
    font: 100 18px Roboto,Arial,sans-serif;
    text-align: justify;
  }
  span {
    font-weight: bold;
    color: #ec8200;
  }
}
/*About as*/
#anchor_2 {
  background-image: url("../img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#anchor_3 {
  background-image: url("../img/daf_xf_2015.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.reason_list {
  *[class^="revealator"] {
    display: block;
    height: 200px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .reason_item_num {
    color: #ec8200;
    font: 66px/54px "Multicolore",sans-serif !important;
    text-align: center !important;
    margin-top: 2%;
  }
  .reason_item_des {
    margin: 0 15px;
    text-align: center !important;
  }
}

.revealator1 {
    display: block;
    height: 100%;
    margin: 0 auto 15px;
    width: 100%;
    border: none;
    box-shadow:none;
    background-color: transparent;
}
#anchor_4 {
  background-image: url("../img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .amenities {
    height: 300px;
    .amenities-block {
      overflow: hidden;
      .img-responsive {
        &:hover {
          transform: scale(1.2);
          transition-duration: 0.5s;
        }
      }
      .amenities-item {
        margin: 15px auto;
      }
    }
  }
}
#anchor_5 {
  background-color: #4f535d;
  background-image: url(../img/menu-tab1.png);
  background-repeat: repeat;;
  color: #fff;
  font: 100 18px Roboto,Arial,sans-serif;
  .kontackt {
    padding-left: 5%;
    padding-right: 5%;
    text-align: left !important;
    p {
      font-size: 17px;
    }
    img {
      max-height: 30px;
    }
  }
}

@media (min-width: 285px){
  .video-baner {
    .site-header {
      #header-meta {
        display: none;
        font-size: 0.5rem;
      }
    }
    .slogan {
      h2 {
        font-size: 1.5rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
  .btn-lg {
    font-size: 1rem;
  }
}

@media (min-width: 480px){
  .video-baner {
    .site-header {
      #header-meta {
        display: none;
        font-size: 0.7rem;
      }
    }
    .slogan {
      h2 {
        font-size: 3rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
}

@media (min-width: 640px){
  .video-baner {
    .site-header {
      #header-meta {
        display: none;
        font-size: 1rem;
      }
    }
    .slogan {
      h2 {
        font-size: 4rem;
      }
      p {
        font-size: 2rem;
      }
    }
  }
}

@media (min-width: 720px){
  .video-baner {
    .site-header {
      #header-meta {
        display: none;
        font-size: 1.1rem;
      }
    }
    .slogan {
      h2 {
        font-size: 5rem;
      }
      p {
        font-size: 2rem;
      }
    }
  }
  .btn-lg {
    font-size: 2rem;
  }
  .networks__icon {
    display: none;
  }
}
@media (min-width: 890px){
  .video-baner {
    .site-header {
      #header-meta {
        display: block;
        font-size: 1.2rem;
      }
    }
    .slogan {
      h2 {
        font-size: 5rem;
      }
      p {
        font-size: 3rem;
      }
    }
  }
  .btn-lg {
    font-size: 2rem;
  }
  .networks__icon {
    display: none;
  }
}
@media (min-width: 993px){
  .video-baner {
    .site-header {
      #header-meta {
        display: block;
        font-size: 1.5rem;
      }
    }
    .slogan {
      h2 {
        font-size: 6rem;
      }
      p {
        font-size: 4rem;
      }
    }
  }
  .btn-lg {
    font-size: 2rem;
  }
  .networks__icon {
    display: block;
  }
}
