.wrapper {
    width: 70%;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    height: 385px;
    margin-left: 5%;
    margin-top: 50px;
    max-width: 960px;
    min-width: 375px;
  }
.menu-tab {
  overflow: hidden;
  font-size: 14px;
  margin: 30px 20px;
  zoom: 1;
  position: relative;
}
.menu-tab__item {
  float: left;
  line-height: 2;
  height: 30px;
  border: 1px solid #AAA;
  color: #282D31;
  border-bottom: 0;
  padding: 0 15px;
  position: relative;
  left: 35px;
  margin-right: 3px;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}
.menu-tab__item:hover,
.tab-visited {
  background-color: #eee;
}
.tab-visited {
  z-index: 3;
  cursor: auto;
}
.menu-tab > dd {
  float: right;
  width: 100%;
  margin: 30px 0 0 -100%;
  position: relative;
  z-index: 2;
  display: none;
}
.tab-visited + dd {
  display: block;
}
.tab-content {
  border: 1px solid #AAA;
  border-radius: 3px;
  padding: 10px;
  margin-right: 15px;
  margin-left: 15px;
}
/***************************************/
td {
	height: 40px;
}

input[type="text"] {
	margin-left: 20px;
}

input[type="text"]:focus {
	border: 1px solid blue;
	background: #eeeeee;
}

input[type="button"] {
	margin-top: 10px;
	margin-left: 5%;
	border: 1px solid grey;
	width: 100px;
	height: 30px;
}

input[type="button"]:hover {
	cursor: pointer;
	border: 1px solid blue;
	/*font-weight: bold;*/
}

#tooltips_firstname,
#tooltips_lastname,
#tooltips_address {
	display: none;
	width: 205px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 3px;
	border: 2px solid grey;
	border-radius: 5px;
}

.fields-text {
	margin-top: 40px;
	margin-left: 20px;
}

.box-input {
	margin-left: 5%;
	margin-top: 50px;
	width: 70%;
	min-width: 375px;
	border: 1px solid grey;
	border-radius: 5px;
}
