$fontColor: #313131;
$fontDWhite: #fafafa;
$fontArial:   "Arial";
$fontRoboto: "Roboto",sans-serif;
$fontAmesome: "FontAwesome";

@font-face {
    font-family: 'montserrat';
    src:  url('../fonts/Montserrat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src:  url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-BlackItalic.ttf');
    font-weight: Black;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Black.ttf');
    font-weight: Black;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Light.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-LightItalic.ttf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Medium.ttf');
    font-weight: 500; ///?
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Thin.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-ThinItalic.ttf');
    font-weight: 200;
    font-style: italic;
}


html, body, div, span, applet,
object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset,
form, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup,
menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
}
img {
  vertical-align: top;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
  &:before,
  &:after {
    content: '';
    content: none;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
svg {
  display: block;
  overflow: visible;
}
pre {
  border:1px solid #000;
  overflow-x:auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}
body {
  color: $fontColor;
  font-size: 100%;
	font-family: $fontRoboto;
}
b,
strong {
    font-weight: bold;
}
a,
a:link,
a:visited,
a:focus {
    color: #fff;
}
p {
  margin: 0;
}
*, *::after, *::before {
  box-sizing: border-box;
}

@import 'bootstrap-custom';
.active {
    color: #fff !important;
    background-color: #d1ab66 !important;
    border-color: #d1ab66 !important;
    box-shadow: none !important;
}
button {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  cursor: pointer;
}
.header-main {
  .header-top {
    border-bottom: 2px solid #e2e2e2;
    .lang {
      float: left;
      margin: 0 45px 0 8px;
      a {
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #1286d0;
        text-decoration: none;
        width: 53px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        box-sizing: border-box;
        margin: 0 -4px 0 0;
        border: 1px solid #fff;
        &:hover {
          border: 1px solid #fff;
          box-shadow: 0 0 5px rgba(0,0,0,0.15);
          color: #065896;
        }
      }
      .active {
        background-color: #f0f0f0;
        border: 1px solid #f0f0f0;
        color: #888888;
      }
    }
    .sait-control {
      background-color: $fontDWhite;
      float: left;
      margin: 7px 106px 0 0;
      a {
        background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll 0 0;
        display: inline-block;
        height: 20px;
        margin: 0 23px 0 0;
      }
      .home {
        background-position: 0 0;
        width: 23px;
      }
      .mail {
        background-position: -23px 0;
        width: 19px;
        &:hover {
          background-position: -88px 0;
        }
      }
      .map {
        background-position: -42px 0;
        width: 23px;
        &:hover {
          background-position: -107px 0;
        }
      }
      .home-active {
        background-position: -65px 0 !important;
      }
    }
    .social {
      float: right;
      margin: 6px 2px 0 0;
      a {
        background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll 0 -74px;
        display: inline-block;
        height: 26px;
        margin: 0;
        width: 27px;
      }
      .fb {
        background-position: 0 -74px;
      }
    }
  }
  .header-center {
    margin: auto;
    overflow: hidden;
    .logo {
      float: left;
      line-height: 105px;
      .logo1 {
        margin: 0 38px 0 0;
        .img {
          vertical-align: middle;
        }
      }
      .logo2 {
        margin: 0 20px 0 0;
        display: none;
      }
    }
    .slogan {
      color: rgba(97, 97, 97, 0.8);
      float: left;
      font-size: 17px;
      letter-spacing: 0.9px;
      margin: 16px 0;
      text-transform: uppercase;
      width: 30%;
    }
    .phone-block {
      float: right;
      margin: 7px 0;
      overflow: hidden;
      .phone-left {
        float: left;
        font-family: "Roboto",sans-serif;
        margin: 0;
        padding: 0 38px 0 0;
        position: relative;
        &::after {
          background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll 0 -119px;
          content: "";
          height: 62px;
          position: absolute;
          right: 2px;
          top: 20px;
          width: 23px;
        }
        .line {
          color: #caa157;
          font-size: 16px;
          letter-spacing: -0.4px;
          margin: 0 0 5px;
        }
        .number {
          color: #2d2d2d;
          font-size: 25px;
          font-weight: bold;
          margin: 0 0 6px;
        }
        .info {
          color: #9d9d9d;
          font-size: 15px;
        }
      }
      .phone-right {
        float: right;
        margin: 3px 0 0;
        .filials {
          color: #676767;
          display: inline-block;
          font-family: "Roboto",sans-serif;
          font-size: 15px;
          font-weight: bold;
          margin: 3px 0 0;
          padding: 0 0 0 17px;
          position: relative;
          &::before {
            background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll 0 -104px;
            content: "";
            height: 15px;
            left: 0;
            position: absolute;
            top: 0;
            width: 11px;
          }
        }
        .choise {
          border-bottom: 1px dotted #2c90c4;
          color: #0076b5;
          display: inline-block;
          font-family: "Roboto",sans-serif;
          font-size: 16px;
          font-weight: bold;
          margin: 12px 0 0 5px;
          text-decoration: none;
        }
        .search {
          float: left;
          margin: 12px 0 0 12px;
          position: relative;
          label {
            color: rgba(153, 153, 153, 0.8);
            cursor: text;
            font-family: "Roboto",sans-serif;
            font-size: 17px;
            left: 14px;
            position: absolute;
            top: 10px;
          }
          button {
            background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll 0 -53px;
            height: 21px;
            position: absolute;
            right: 7px;
            top: 8px;
            width: 20px;
            &:hover {
              background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll -20px -53px;
            }
          }
        }
      }
      .search input[type="text"] {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: #e4e4e4;
        border-image: none;
        border-style: solid;
        border-width: 1px 1px 2px;
        box-shadow: 0 3px 0 rgba(50, 50, 50, 0.13) inset;
        box-sizing: border-box;
        height: 36px;
        line-height: 36px;
        padding: 0 30px 0 14px;
        width: 265px;
      }
    }
  }
}
.header-nav {
  .main-menu {
    .collapse {
      ul {
        display: table;
        margin: 13px 0 10px;
        width: 100%;
        .has-sub {
          border-right: 1px solid #dfdfdf;
          display: table-cell;
          position: relative;
          text-align: center;
          transition: all 0.2s ease-in-out 0s;
          vertical-align: middle;
          &::before {
            background-color: #065da1;
            content: "";
            height: 5px;
            left: -1px;
            position: absolute;
            top: -13px;
            transition: all 0.2s ease-in-out 0s;
            width: 102%;
          }
          &:first-of-type {
            border-left: 1px solid #dfdfdf;
          }
          a {
            color: #444444;
            display: block;
            font-family: "Roboto",sans-serif;
            font-size: 17px;
            font-weight: bold;
            line-height: 1.4;
            padding: 2px 10px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.2s ease-in-out 0s;
            &:hover {
              color: #0082c5;
            }
          }
        }
      }
    }
  }
}
.wrap-footer {
  background-color: blue;
}

@media (min-width: 285px){

}

@media (min-width: 480px){

}

@media (min-width: 640px){

}

@media (min-width: 720px){

}
@media (min-width: 890px){

}
@media (min-width: 993px){

}
