@import 'bootstrap-custom';
.active {
    color: #fff !important;
    background-color: #d1ab66 !important;
    border-color: #d1ab66 !important;
    box-shadow: none !important;
}
.header-main {
  .header-top {
    border-bottom: 2px solid #e2e2e2;
    .lang {
      float: left;
      margin: 0 45px 0 8px;
      a {
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #1286d0;
        text-decoration: none;
        width: 53px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        box-sizing: border-box;
        margin: 0 -4px 0 0;
        border: 1px solid #fff;
        &:hover {
          border: 1px solid #fff;
          box-shadow: 0 0 5px rgba(0,0,0,0.15);
          color: #065896;
        }
      }
      .active {
        background-color: #f0f0f0;
        border: 1px solid #f0f0f0;
        color: #888888;
      }
    }
    .sait-control {
      background-color: $fontDWhite;
      float: left;
      margin: 7px 106px 0 0;
      a {
        background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll 0 0;
        display: inline-block;
        height: 20px;
        margin: 0 23px 0 0;
      }
      .home {
        background-position: 0 0;
        width: 23px;
      }
      .mail {
        background-position: -23px 0;
        width: 19px;
        &:hover {
          background-position: -88px 0;
        }
      }
      .map {
        background-position: -42px 0;
        width: 23px;
        &:hover {
          background-position: -107px 0;
        }
      }
      .home-active {
        background-position: -65px 0 !important;
      }
    }
    .social {
      float: right;
      margin: 6px 2px 0 0;
      a {
        background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll 0 -74px;
        display: inline-block;
        height: 26px;
        margin: 0;
        width: 27px;
      }
      .fb {
        background-position: 0 -74px;
      }
    }
  }
  .header-center {
    margin: auto;
    overflow: hidden;
    .logo {
      float: left;
      line-height: 100px;
      .logo1 {
        margin: 0 38px 0 0;
        .img {
          vertical-align: middle;
        }
      }
      .logo2 {
        margin: 0 20px 0 0;
      }
    }
    .slogan {
      color: rgba(97, 97, 97, 0.8);
      float: left;
      font-size: 17px;
      letter-spacing: 0.9px;
      margin: 16px 0;
      text-transform: uppercase;
      width: 30%;
    }
    .phone-block {
      float: right;
      margin: 0;
      overflow: hidden;
      .phone-left {
        float: left;
        font-family: "Roboto",sans-serif;
        margin: 14px 0 0;
        padding: 0 38px 0 0;
        position: relative;
        &::after {
          background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat scroll 0 -119px;
          content: "";
          height: 62px;
          position: absolute;
          right: 2px;
          top: 5px;
          width: 23px;
        }
      }
      .line {
        color: #caa157;
        font-size: 17px;
        letter-spacing: -0.4px;
        margin: 0 0 5px;
      }
      .number {
        color: #2d2d2d;
        font-size: 25px;
        font-weight: bold;
        margin: 0 0 6px;
      }
      .info {
        color: #9d9d9d;
        font-size: 15px;
      }
    }
  }
}
.wrap-footer {
  background-color: blue;
}
