$fontColor: #313131;
$fontDWhite: #fafafa;
$fontBroun:  #d1ab66;
$fontBlue:   #13609f;
$fontFooter: #0a488a;
$fontWhite:  #fff;
$fontArial:   "Arial";
$fontRoboto: "Roboto",sans-serif;
$fontAmesome: "FontAwesome";
