a, a > span {
  position: relative;
  text-decoration: none;
  width: 100%;
  height: 100%;
  max-width: 30ex;
  &:before, &:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
  }
}
.content {
  background: url("../img/bg_girl.jpg") center top no-repeat ;
  background-size: cover;
  min-width: 768px;
  max-width: 1920px;
  height: 100vh;
  position: relative;
  .media-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 86%;
    height: 41%;
    margin: auto;
    background-color: #f0e0e0;
    text-align: center;
    @include tilt-angle(skewX(-12deg));
    .media-block__item {
      position: relative;
      float: left;
      width: 49%;
      height: 100%;
      background-size: cover;
      font: 38px arial,sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      color: #7e7e7e;
      &:hover {
        color: $bg;
      }
    }
    .left {
      background: url("../img/men_inactive.jpg") center center no-repeat;
      &:hover {
        background: url("../img/men_active.jpg") center center no-repeat;
      }
    }
    .right {
      background: url("../img/girl_inactive.jpg") center center no-repeat;
      &:hover {
        background: url("../img/girl_active.jpg") center center no-repeat;
      }
    }
  }
}
.animated-effect {
  display: inline-block;
  overflow: hidden;
  &:before, &:after {
    right: 0;
    bottom: 0;
    background: $hover;
  }
  &:before {
    width: 100%;
    height: 10px;
    transform:  translateX(100%);
  }
  &:after {
    width: 10px;
    height: 100%;
    transform:  translateY(-100%);
  }
  > span {
    display: block;
    &:before,
    &:after {
      left: 0;
      top: 0;
      background: $hover;
    }
    &:before {
      width: 100%;
      height: 10px;
      transform:  translateX(-100%);
    }
    &:after {
      width: 10px;
      height: 100%;
      transform:  translateY(100%);
    }
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &:hover:before,
  &:hover:after,
  &:hover > span:before,
  &:hover > span:after {
    transform:  translate(0, 0);
  }
}
