$fontMain: 'Lato',sans-serif;
$fontTitle: 'Red Rose',sans-serif;

$primary-color-text: #625242;
$primary-color-title: #3b3128;
$primary-color-link: #9b635b;
$primary-color-link-hover: #284a6e;

$color-btn: #73afc3;
$color-btn-hover: #c3cfd5;
$color-white: #fff;
$color-black: #000;


// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: transporent;


$nav-font-color: #27211a;


$color-accent-blue: #56789f;
$color-accent-green: #649ca4;


$slide-background: #f6eeeb;
$slide-backgroundL: #fbf8f5;
