#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: #fff;
    z-index: 9900;
}
#status {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/status.gif);
    background-repeat: no-repeat;
    background-position: center center;
    margin: -50px 0 0 -50px;
}
.wrapper {
  padding: 0 80px;
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}
/*--------------------------------------------------*/
.site-header {
	transition: all ease-in .5s;
	-webkit-transition: all .5s ease;
	-moz-transition: position 10s;
	-ms-transition: position 10s;
	-o-transition: position 10s;
	width: 100%;
	z-index: 1;
  position: relative;
	display: flex;
  flex-wrap: wrap;
	align-items: center;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
.site-header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  animation: smoothScroll  1s forwards;
}
/*-----navigateion---------------*/
.site-nav__main {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
    height: 111px;
}
.site-nav__link a {
  font-size: 24px;
  	@include fluidFontSize(14px, 24px, 360px, 1900px, 1, 24px);
  font-weight: 400;
  color: #fff;
}
/*------------logo--------------------*/
.logo {
    display: flex;
    justify-content: center;
}
/*------------------------------*/
.site-nav--right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*------------search------------*/
.site-nav.site-nav--right li:first-child {
  width: 60%;
}
.search__bar {
  position: relative;
  height: 53px;
  border-radius: 40px;
  background: transparent;
}
.search__bar .icon-search {
    position: absolute;
    z-index: 10;
    left: 25px;
    top: 13px;
    width: 25px;
    height: auto;
}
.search__bar path {
    fill: #000;
}
.search__bar input {
  width: 100%;
  height: 100%;
  border-radius: 40px;
    border: 1px solid #fff;
    background: #fff;
    padding: 5px 5px 5px 50px;
    font-size: 14px;
    color: #000;
}
/*------------- Slider -----------*/
.main__slider {
  position: relative;
  background: #000;
  display: flex;
  justify-content: center;
  margin-top: -111px;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  margin: 0;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    position: relative;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
    width: 100%;
    height: auto;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: flex;
    align-items: flex-end;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.main__slider-descr {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 50%;
  color: #fff;
  left: 12%;
}
.slider-item__title {
  margin-bottom: 15px;
}
.slider-item__title, .slider-item__descr {
  font-size: 64px;
  @include fluidFontSize(20px, 64px, 360px, 1900px, 1, 64px);
}
.slider__button {
  margin-top: 135px;
  background: transparent;
  color: #fff;
  font-size: 36px;
  @include fluidFontSize(20px, 36px, 360px, 1900px, 1, 36px);
  text-transform: uppercase;
  height: 90px;
  padding: 0 127px;
  border: 2px solid #fff;
}

/*-------navigation slider---------------*/
.my-dots {
  position: absolute;
  bottom: 30px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.my-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
	width: 11px;
  height: 9px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
  background-color: #fff;
  border-radius: 50%;
}
.my-dots li button:not([aria-selected="true"]) {
	background: rgba(17, 17, 17, 0.85);
	width: 8px;
  height: 6px;
}
.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}
.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1;
}
.slick-slide,
button {
  outline: none;
}
.eyeglasses_categories ul {
display: flex;
flex-wrap: nowrap;
    width: 100%;
    text-align: center;
    padding: 3%;
    box-sizing: border-box;
		justify-content: space-between;
}
.frame {
  width:  25%;
}
.frame a {
  display: block;
  padding: 0 20px;
}
.frame img {
  width: 100%;
  height: auto;
}
.eyeglasses_categories li a h2 {
    color: #2c2c2c;
    padding-top: 13px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    width: 100%;
    font-weight: 600;
}
.logo img {
  display: block;
  padding: 3px 0;
}
