h1, h2 {
  color: $main;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 300%;
  text-align: center;
}
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 50px;
    right: 1%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url("../images-tmpl/arr.png") no-repeat 0px 0px;
}
#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
.wrapper {
  min-width: 360px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
  box-sizing: border-box;
}
.header {
  background: $main;
  padding: 20px 0;
  color: #fff;
  position: relative;
}
.toggle-hamburger {
  background-color: transparent;
  color: #ccc;
  display: none;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
  border: none;
  border-radius: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.toggle-hamburger:focus {
  outline: none;
}
/* inner span stylings ------------------------------- */
.toggle-hamburger span {
  display: block;
  position: absolute;
  top: 23px;
  left: 6px;
  right: 6px;
  height: 4px;
  background: #28aadc;
}
.toggle-hamburger span::before, .toggle-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  content: "";
  background-color: #28aadc;
}
.toggle-hamburger span::before {
  top: -10px;
}
.toggle-hamburger span::after {
  bottom: -10px;
}

.toggle-hamburger.toggle-hamburger__animx span {
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
}
.toggle-hamburger.toggle-hamburger__animx span::before, .toggle-hamburger.toggle-hamburger__animx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}
.toggle-hamburger.toggle-hamburger__animx span::before {
  -webkit-transition-property: top, transform;
  transition-property: top, transform;
}
.toggle-hamburger.toggle-hamburger__animx span::after {
  -webkit-transition-property: bottom, transform;
  transition-property: bottom, transform;
}

/* when menu open: */
.toggle-hamburger.toggle-hamburger__animx.is-active span {
  background: none;
}
.toggle-hamburger.toggle-hamburger__animx.is-active span::before, .toggle-hamburger.toggle-hamburger__animx.is-active span::after {
  background-color: #28aadc;
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}
.toggle-hamburger.toggle-hamburger__animx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.toggle-hamburger.toggle-hamburger__animx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}


.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  justify-content: space-evenly;
}
.menu__item {
  text-align: center;
  @include transitionL(200ms);
  &:hover {
    color: #ddd;
    background: #4696cd;
  }
}
.item__parent:hover::after {
  opacity: 1;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  bottom: -3px;
  left: 45%;
  transform: scale(0.7) translatex(-50%);
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
  border-bottom: 1.25rem solid #daeaf5;
  transition: opacity 0.5s ease-in-out;
}
.menu__item a {
  color: #fff;
  font-size: 170%;
  display: block;
  padding: 20px 25px;
  position: relative;
}
.item__parent {
  position: relative;
}

.menu__sub {
  display: block;
  position: absolute;
  left: 50%;
  z-index: 999;
  width: 200px;
  max-height: 0;
  background: #daeaf5;
  box-sizing: content-box;
  transform: translateX(-50%);
  padding: 10px;
  pointer-events: auto;
  opacity: 0;
  a {
    color: #535151;
    font-size: 130%;
    padding: 10px;
    text-align: left;
    &:hover {
      color: #4696cd;
    }
  }
  li:not(:last-child) {
    border-bottom: 1px solid #90c0e1;
  }
}
.menu > li:hover > ul {
    @include transitionL(200ms);
    max-height: 550px;
    opacity: 1;
}
.header__block {
  font-size: 180%;
}
.header__block span {
  display: block;
  margin-bottom: 20px;
  position: relative;
  padding-left: 29px;
  &::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    height: 29px;
    width: 28px;
    background: url(../images-tmpl/tel.png);
    z-index: 9999;
  }
}

.button {
  display: inline-block;
  padding: 5px 12px;
  border: 2px solid #fff;
  font-size: 69%;
  color: #fff;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  &:hover {
    background: #fff;
    color: $main;
  }
}
/*---------slider------------*/
.title {
  font-size: 470%;
  padding: 50px 0;
  text-align: left;
}
.slider {
  border-top: 1px solid #6988ff;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(81,116,255,1) 26%, rgba(81,116,255,1) 53%, rgba(81,116,255,1) 76%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(26%, rgba(81,116,255,1)), color-stop(53%, rgba(81,116,255,1)), color-stop(76%, rgba(81,116,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(81,116,255,1) 26%, rgba(81,116,255,1) 53%, rgba(81,116,255,1) 76%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(81,116,255,1) 26%, rgba(81,116,255,1) 53%, rgba(81,116,255,1) 76%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(81,116,255,1) 26%, rgba(81,116,255,1) 53%, rgba(81,116,255,1) 76%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(81,116,255,1) 26%, rgba(81,116,255,1) 53%, rgba(81,116,255,1) 76%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}
.slider img {
  width: 100%;
  height: auto;
}
/*------------section----------------*/
.pageline {
  padding: 60px 0 0;
}
.pageline__title {
  padding-bottom: 40px;
}
.services {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.services__item:nth-child(1) {
  background: url('../images-tmpl/services-1.jpg')  no-repeat;
  background-size: cover;
}
.services__item:nth-child(2) {
  background: url('../images-tmpl/services-2.jpg')  no-repeat;
  background-size: cover;
}
.services__item:nth-child(3) {
  background: url('../images-tmpl/services-3.jpg')  no-repeat;
  background-size: cover;
}
.services__item:nth-child(4) {
  background: url('../images-tmpl/services-4.jpg')  no-repeat;
  background-size: cover;
}
.services__item:nth-child(5) {
  background: url('../images-tmpl/services-5.jpg')  no-repeat;
  background-size: cover;
}
.services__item:nth-child(6) {
  background: url('../images-tmpl/services-6.jpg')  no-repeat;
  background-size: cover;
}
.services__item:nth-child(7) {
  background: url('../images-tmpl/services-7.jpg')  no-repeat;
  background-size: cover;
}
.services__item {
  height: 315px;
  flex-basis: calc(100% / 7);
  position: relative;
}
.services__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  }
}
.bg-blue {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: -webkit-linear-gradient(to bottom,rgba(0,8,113,0.1) 0,rgba(0,8,113,1) 75%);
  background: linear-gradient(to bottom,rgba(0,8,113,0.1) 0,rgba(0,8,113,1) 75%);
}
.services__item:hover .bg-blue {
  background: -webkit-linear-gradient(to bottom,rgba(255,255,255,0) 30%,rgba(75,112,255,1) 75%);
  background: linear-gradient(to bottom,rgba(255,255,255,0) 30%,rgba(75,112,255,1) 75%);
}
.services__title {
  text-align: left;
  color: #fff;
  position: absolute;
  top: 150px;
  left: 50%;
  width: 70%;
  z-index:10;
  transform: translateX(-50%);
  padding: 5px 10px;
  font-family: Arial narrow;
  font-size: 150%;
}
.button--orang {
  background: #f4931f;
  color: #fff;
  font-size: 130%;
  padding: 5px 10px;
  border: 2px solid #fff;
  &:hover {
    background: #fff;
    color: #f4931f;
  }
}
.services__button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
  width: 60%;
  z-index: 9;
  text-align: center;
  border-radius: 5px;
  @include transitionL(200ms);
  -webkit-box-shadow: 4px 12px 22px 0px rgba(15,73,174,0.61);
  -moz-box-shadow: 4px 12px 22px 0px rgba(15,73,174,0.61);
  box-shadow: 4px 12px 22px 0px rgba(15,73,174,0.61);
}
/*------------advantages----------------*/
.pageline--advantages {
  background: url('../images-tmpl/sectionbg.png') top left;
  background-size: cover;
  padding-bottom: 100px;
}
.grid {
    overflow: hidden;
}
.grid__item {
    position: relative;
    padding-top: 65px;
    padding-bottom: 50px;
    height: 386px;
}

.grid__item--bg {
    background: #001c95;
    background: -moz-linear-gradient(top, #001c95 0%, rgba(255, 255, 255, 0) 60%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #001c95), color-stop(60%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, #001c95 0%, rgba(255, 255, 255, 0) 60%);
    background: -o-linear-gradient(top, #001c95 0%, rgba(255, 255, 255, 0) 60%);
    background: -ms-linear-gradient(top, #001c95 0%, rgba(255, 255, 255, 0) 60%);
    background: linear-gradient(to bottom, #001c95 0%, rgba(255, 255, 255, 0) 60%);
    z-index: 1;
    position: absolute;
    width: 1000%;
    height: 100%;
    top: 20px;
}
.grid__item--bg {
    left: 30%;
}
.grid__item .item__link {
  position: relative;
  width: 100%;
  display: block;
  height: 100%;
}
.grid__item img {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    border: 4px solid #000d7b;
    position: absolute;
    left: 0;
    z-index: 10;
    @include transitionL(200ms);
    width: 100%;
    max-width: 530px;
    height: auto;
    box-sizing: border-box;
}
.grid__item a:hover img {
  border-color: #051490;
}
.grid__item--text {
    position: relative;
}
.item__inner {
  position: absolute;
  z-index: 99;
  width: 85%;
  left: 70px;
}
.grid__item--text h3, .grid__item--text p {
  font-family: $fontAdditional;
}
.grid__item--text h3 {
  font-size: 240%;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  padding-bottom: 50px;
}
.grid__item--text .title__link {
  @include transitionL(200ms);
}
.grid__item--text .title__link:hover h3 {
  color: #bab6b6;
}
.grid__item--text p {
    font-size: 130%;
    line-height: 30px;
    color: #2a2a2b;
}
/*--------------------------footer------------------*/
.footer {
  background: $main;
  color: #fff;
}
.wrapper__footer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  padding-bottom: 20px;
}
.footer__item {
  flex-basis: 25%;
}
.footer__title {
  font-size: 140%;
  text-transform: uppercase;
  position: relative;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.footer__title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 34px;
    z-index: 9999;
}
.title--tel::before {
  background: url(../images-tmpl/tel2.png) no-repeat center center;
}
.title--email::before {
    background: url(../images-tmpl/email.png) no-repeat center center;
}
.title--adr::before {
    background: url(../images-tmpl/letter.png) no-repeat center center;
}
.footer__item {
  p,a {
    font-size: 110%;
    line-height: 25px;
    padding-left: 20px;
    color: #fff;
  }
  a:hover {
      color: #bab6b6;
  }
}
.poscenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 60px;
}
.socialbt a {
    color: #fff;
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    padding: 2px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.socialbt a:hover {
  color: #bab6b6;
  border: 2px solid #bab6b6;
}
.socialbt .fab, .socialbt .fa {
  font-size: 180%;
}
.footer-bar {
  border-top: 2px solid #fff;
  text-align: right;
  padding-top: 30px;
  padding-bottom: 20px;
  width: 100%;
  margin-top: 30px;
  font-size: 110%;
}
/*modal*/
.overlay{
	/*display:none;*/
	position:fixed;
	top:0;
	left: -9999px;
	z-index:0;
	opacity: 0;
	filter:alpha(opacity=80);
	background:#000;
	transition: opacity .5s;
}
.overlay.open {
    right:0;
	bottom:0;
    opacity: .8;
    z-index: 999;
}
.modal{
  position: fixed;
	top:50%;
	left:-9999px;
	background: #072ca4;
	color:#fff;
	width:100%;
	z-index: 9999;
	max-height:95vh;
  max-width:500px;
  box-sizing: border-box;
  text-align:center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.21);
	transform: translate(-50%, -50%);
  overflow: auto;
  font-size:14px;
  padding:60px 0 20px 0;
  opacity: 0;
  transition: transform .3s ease-out, opacity .3s;
}
.modal.open {
    left: 50%;
    z-index: 1000;
    opacity: 1;
    transform: translate(-50%, -50%);
}

.modal  .block-form{
	float:none;
	display: inline-block;
    max-width: 335px;
}
.modal  .form-title{
	font-size:47px;
	line-height: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
    margin-bottom: 5px;
}
.modal  .form-title span{
	font-size:27px;
	color:#fff;
}

.modal  .checkbox{
	padding-left:70px;
	text-align:left;
  display: inline-block;
}
.modal  .form-row textarea {
    height: 100px;
}
.form-modal p {
  text-align: center;
  line-height: 20px;
  margin-bottom: 20px;
}

/* close */
.close{
	position: absolute;
	top:15px;
	right:15px;
	width:20px;
	height:20px;
	box-sizing: border-box;
}
.close:hover {
	opacity: 1;
}
.close:before, .close:after {
	position: absolute;
	right: 50%;
	top:50%;
	content: ' ';
	height: 20px;
	width: 3px;
	background-color: #fff;
    margin: -10px 0 0 0px;
    border-radius: 5px
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}
.form-row{
	float:left;
	width:100%;
	margin-bottom:10px;
    margin-bottom: 16px;
}

.form-row input{
	background: #00285b;
	padding:14px 20px 14px 60px;
	border:none;
	border-radius:0 5px 5px 0;
	float:left;
	width:100%;
	box-sizing: border-box;
	color:#fff;
	border-left:2px solid #00aef7;
}
.form-row textarea{
	background: #00285b;
	padding:15px 20px 15px 60px;
	border:none;
	border-radius:0 5px 5px 0;
	float:left;
	width:100%;
	box-sizing: border-box;
	font-size:14px;
  	font-family: 'Panton-Regular';
	border-left:2px solid #00aef7;
	resize: none;
	height:143px;
	color: #fff;
}
.form-row .input-user{
	background:#00285b url("../images-tmpl/icon-user-blue.png") no-repeat 15px 7px;
}
.form-row .input-phone{
	background:#00285b url("../images-tmpl/icon-phone-blue.png") no-repeat 15px 7px;
}
.form-row .input-text{
	background:#00285b url("../images-tmpl/icon-pencil-blue.png") no-repeat 15px 7px;
}
.form-row input::-webkit-input-placeholder {color:#fff;}
.form-row input::-moz-placeholder          {color:#fff;}
.form-row input:-moz-placeholder           {color:#fff;}
.form-row input:-ms-input-placeholder      {color:#fff;}

.form-row textarea::-webkit-input-placeholder {color:#fff;}
.form-row textarea::-moz-placeholder          {color:#fff;}
.form-row textarea:-moz-placeholder           {color:#fff;}
.form-row textarea:-ms-input-placeholder      {color:#fff;}

.form-row input[type="submit"]{
	width:auto;
  padding: 13px 60px;
  float:none;
  cursor: pointer;
  background: #f4931f;
  color: #fff;
  font-size: 130%;
  border: 2px solid #fff;
  border-radius: 5px;
}
.form-row input[type="submit"]:hover{
	background: #f4931f;
	color:#fff;
}


input[type="checkbox"]{
	display: none;
}

.checkbox{
	width:100%;
    padding-left: 33px;
	margin-bottom:10px;
    min-height: 15px;
    box-sizing: border-box;
    margin-top: 10px;
}
.checkbox label {
    color: #fff;
    font-size: 14px;
    position: relative;
    font-style: normal;
    display: inline-block;
}
.checkbox label:before {
    content: '';
    width: 19px;
    height: 19px;
    line-height: 20px;
    float: left;
    margin-right: 10px;
    box-sizing: border-box;
    margin: 0px 10px 0 0;
    position: absolute;
    top: 0px;
    left: -33px;
    border-radius: 5px;
    font-size: 10px;
    background: #00285b
}
.checkbox input[type=checkbox]:checked + label:before {
	background:#00285b url("../images-tmpl/icon-check.png") no-repeat center right;
}
