#slide-1 > video {
  top: 0;
  left: 0;
  width:auto;
  height: 100vh;
}
.theme-2 .grid__item-content {
  background: rgba(0,0,0,0.2);
}

.theme-1 .grid__item-content, #newsline {
  background-image: url(../images/triangles-bg-big.png);
 background-position: 63% 40px,10% 55%,90% 55%;

}
.theme-2 .grid__item-meta {
  color: #fff;
}
.theme-2 .grid__item-title {
  color: #fff;
}
.theme-1 .grid__item-content {
    margin: auto;
    padding: 3vw;
}
