@font-face {
    font-family: 'montserrat';
    src:  url('../fonts/Montserrat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src:  url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-BlackItalic.ttf');
    font-weight: Black;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Black.ttf');
    font-weight: Black;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Light.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-LightItalic.ttf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Medium.ttf');
    font-weight: 500; ///?
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Thin.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-ThinItalic.ttf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'si';
    src: url('../fonts/socicon.eot');
    src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon.woff') format('woff'),
         url('../fonts/socicon.ttf') format('truetype'),
         url('../fonts/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../fonts/socicon.svg) format(svg);
    }
}

/* font-family: "GothamProRegular"; */
@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBold"; */
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBlack"; */
@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothamProBlack/GothamProBlack.eot");
    src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
    url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProItalic"; */
@font-face {
    font-family: "GothamProItalic";
    src: url("../fonts/GothamProItalic/GothamProItalic.eot");
    src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
    url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProMedium"; */
@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProLight"; */
@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProMediumItalic"; */
@font-face {
    font-family: "GothamProMediumItalic";
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProLightItalic"; */
@font-face {
    font-family: "GothamProLightItalic";
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBoldItalic"; */
@font-face {
    font-family: "GothamProBoldItalic";
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBlackItalic"; */
@font-face {
    font-family: "GothamProBlackItalic";
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'material-design';
    src:  url('../fonts/materialdesignicons-webfont.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Marck Script';
    src: local('Marck Script'), local('MarckScript-Regular'), url('../fonts/marckscript.woff2') format('woff2'), url('../fonts/marckscript.woff') format('woff'), url('../fonts/marckscript.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
