@import 'bootstrap-custom';
body {
  min-width: 320px;
}
/*-----------------------social button---------------*/
.glyphicon {
  top: 4px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.soc {
  overflow:hidden;
  margin:0 auto;
  list-style:none;

  li {
    display:inline-block;
    *display:inline;
    zoom:1;

    a {
      font-family:si!important;
      font-style:normal;
      font-weight:400;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
      -o-box-sizing:border-box;
      box-sizing:border-box;

      -o-transition:.1s;
      -ms-transition:.1s;
      -moz-transition:.1s;
      -webkit-transition:.1s;
      transition:.1s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);

      overflow:hidden;
      text-decoration:none;
      text-align:center;
      display:block;
      position: relative;
      z-index: 1;
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: 18px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-right: 15px;
      color: $White!important;
      background-color: #a6a6a6;
      padding: 0!important;

      &:hover {
        z-index: 2;
        background-color:#929292 !important;
      }
    }
  }

  .soc-icon-last{
    margin:0 !important;
  }

  .soc-facebook {
    background-color: #3e5b98;

    &:before {
      content:'\e041';
    }
  }

  .soc-twitter {
    background-color: #4da7de;

    &:before {
      content:'\e040';
    }
  }

  .soc-googleplus {
      background-color: #dd4b39;

    &:before {
      content:'\e042';
    }
  }

  .soc-instagram {
    background-color: #e12da8;

    &:before {
      content:'\e057';
    }
  }
}

/*----------------button---------------------------------*/

.button {
  background: $Cian none repeat scroll 0 0;
  border: 2px solid $Cian;
  border-radius: 2px;
  color: $White!important;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  height: 39px;
  line-height: 17px;
  padding: 9px 10px;
  transition: all 300ms ease 0s;
  text-transform: uppercase;

  &:hover {
    background-color: transparent;
    border: 2px solid $Cian;
    color: $Cian!important;
    text-decoration: none;
  }
}

/*-----------header--------------*/
.logo-miny,
.logo-miny-header {
  position: absolute;
  left: 40px;
  display: none;
}

.logo-miny {
  top: 0;
}

.logo-miny-header {
  top: 20px;
}

.page-header {
  margin: 0 auto;
  font-family: $MyriadPro;
  font-size: 14px;
  position: relative;
  border-bottom: none;
  padding-bottom: 0;

  .online-services {
    text-align: right;

    .call-back {
      padding-right: 6%;

      &::before {

        font-size: 20px;
        content: "\F3fb";
        display: inline-block;
        font-family: "material-design";
      }
    }

    .online-booking,
    .online-booking--headen {
      color: $DBlue;
      font-weight: bold;

      &::before {
        color: $DBlue;
        font-size: 20px;
        content: "\F678";
        display: inline-block;
        font-family: "material-design";
      }
    }
  }

  .headen-menu {
    li {
      a {
        padding-top: 0;
        padding-bottom: 0;
        color: #fff;
        background: transparent;

        &:hover {
          color: $LGrey;
        }
      }

      .top-dropdown {
        display: none;
      }
    }
  }

  .page-header__line {
    background: $DGray none repeat scroll 0 0;
    padding: 5px 0;

    .navbar-toggle {
      background-color: $Blue;

      .icon-bar {
        background-color: $LBlue;
      }
    }

    .sait-control {

    }
    .nav-headen {
      font-size: 16px;
      background-color: $DGray;

      li {
        padding: 5px;

        a {
          text-decoration: none;
          color: $White;
          padding: 5px;

          &:hover {
            background-color: $DGray;
          }
        }

        ul {

          li {
            text-align: center;
            border-bottom: 1px solid $Blue;
          }
        }
      }
    }
  }


  .central-block {
    padding: 20px 0 0px 0;

    .logo {
      display: block;
      text-align: center;

      img {
        max-width: 100%;
        transition: all 0s ease 0s, all 0.8s ease 0s, all 0s ease-in-out 0s;
        margin: 10px 0;
      }
    }

    .central-unit {
      color: #555;
      font-family: $MyriadPro;
      position: relative;

      .search-block {
        width: 100%;

        .input-group__modif {
          margin: 15px auto 15px;
          width: 80%;

          .form-control_modif,
          .btn-lg_modif {
            border-radius: 0px;
            color: $Blue;
          }

          .form-control_modif,
          .btn-lg_modif {
            border-radius: 0px;
            color: $Blue;
          }
        }

        .listunstyled {
          font-size: 27px;
          font-weight: bold;
          font-family: "Marck Script";

          .line {
              font-size: 20px;
          }
        }
      }

      .searchform {
          margin: 10px 20% 10px;
          position: relative;

        .keyword-search {
            border: 1px solid #bdbdbd;
            border-radius: 0;
            width: 100%;
        }

        .submit-search {
          background: $Cian none repeat scroll 0 0;
          border: 0 none;
          color: #fff;
          font-size: 17px;
          height: 34px;
          position: absolute;
          right: 0;
          top: 0;
          width: 34px;
        }

        &::before {
          background: rgba(0, 0, 0, 0) url("..img/search_gc.png") no-repeat scroll left 12px;
          content: "";
          display: block;
          height: 34px;
          position: absolute;
          right: 34px;
          top: 0;
          width: 5px;
          z-index: 3;
        }
      }
    }

    .left-block {

      .header-minicart {
        position: relative;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        font-size: 16px;
      }

      .basket {
          color: $Magento;
      }
      .basket:hover, .basket u {
          text-decoration: none;
      }
      .basket b {
          background: rgba(0, 0, 0, 0) url("../img/basket_ico.png") no-repeat scroll 70px center;
          display: block;
          font-size: 18px;
          font-weight: 300;
          height: 44px;
          line-height: 18px;
          margin-bottom: 7px;
          padding: 14px 0 0 60px;
          text-decoration: underline;
          width: 100%;
      }
      .basket span {
          color: #000;
          font-size: 13px;
      }
      .social {
        margin: 20px auto 10px;
      }
    }
  }
  /*---всплывающий блок-------*/
  .headen-block {
    background-color: #dcf0f7;
    border-top: 2px solid #006485;
    border-bottom: 2px solid #006485;
    border-radius: 0;
    color: #006485;
    font-family: "Roboto",Helvetica,Arial,"Lucida Grande",sans-serif;

    .headen-block__body {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  /*-------------------------main-menu-----------------------------*/
  .fixed {
    position:fixed!important;
    top:-2px;
    left:0;
    width:100%;
    margin-top: 0;
    z-index: 9999;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .main-menu {
    background-color: #297CA3;
      ul {
        list-style-type:none;
        margin:0;
        padding:0 0 0 20px;

        li {
          display:inline-block;
          position:relative;

          ul {
            background-color:#297CA3;
            position:absolute;
            left:0;
            top:40px;
            width:200px;
          }

          li {
            position:relative;
            margin:0;
            display:block;

          a {
            border-bottom:solid 1px #0aa8f9;
            margin:0 10px;
            padding:0;
          }

            &:last-child a {
            border-bottom:none;
            }
          }
        }
      }


  .sub-menu {
    background-color: #297CA3;
    transition: all 0.7s;
    z-index: 9999;
    display: none;
  }

  .sub-menu-animated {
    background-color: #0093DA;
  }

  a {
    line-height:40px;
    padding:0 12px;
    margin:0 12px;
    text-transform: uppercase;
    font-family: $MyriadPro;
    color: #fff!important;
    display:block;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: #fff!important;
    }


  }

  .dropdown   {
    background-color: inherit;
    transition: all 0.7s;

  }

  .dropdown-animated  {
    background-color: $Cian;
  }

  .dropdown__linck {
    background-image:url('../img/arrow-down.png');
    background-position:right 20px;
    background-repeat:no-repeat;
  }

  /*------------------------------*/
  }
}

/*----------------slider-----------------------*/
.button_descr {
  color: $DGray;
  font-style: $fontGothamPro;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: none;
}
.bg-blue {
  background-color: $DWhite;
  font-size: 12px;
}
.siteslider {
  position: relative;
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        background-position: center;
        background-size: cover;
        height: 500px;
        .position {
          top: 50%;
          left: 15%;
          position: absolute;
          transform: translate(-15%, -50%);
          background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
          padding: 30px;
          .title {
            font-size: 45px;
            font-weight: bold;
            color: $White;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
            font-family: $fontGothamPro;
          }
          .subtitle {
            font-size: 25px;
            color: $White;
            text-transform: uppercase;
            font-family: $fontGothamPro;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
            font-weight: bold;
            margin-top: 35px;
            margin-bottom: 35px;
          }
          .text {
            font-size: 14px;
            max-width: 400px;
            line-height: 1.3;
            color: $White;
            font-family: $fontGothamPro;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
            a {
              text-transform: uppercase;
            }
          }
        }
      }
      .swiper-slide_left {
        background-image: url(../img/banner_2.jpg);
      }
      .swiper-slide_center {
        background-image: url(../img/banner_3.jpg);
      }
      .swiper-slide_center1 {
        background-image: url(../img/banner_51.jpg);
      }
      .swiper-slide_right {
        background-image: url(../img/banner_4.jpg);
      }
    }
    .swiper-pagination {
      .swiper-pagination-bullet {
        border-radius: 0;
        width: 72px;
        height: 3px;
        background-color: $DWhite;
        border-color: $DWhite;
        margin: 3px;
      }
    }
  }
}
.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.about-product {
  background-color: $DWhite;
  padding: 50px 0;
  .text-center {
    h3 {
      text-transform: uppercase;
      color: $DWhite;
      font-family: $fontGothamPro;
      font-size: 22px;
      margin-bottom: 30px;
    }
  }
  .jcarousel-wrapper {
    .jcarousel {
      ul {
        li {
          margin-right: 20px;
          .video-wrapper {
            background-image: url(../img/bgslaider.png);
            background-repeat: repeat;
            position: relative;
            .video-box {
              color: $DWhite;
              font-family: $fontGothamPro;
              font-size: 12px;
              width: 60%;
              &:hover {
                text-decoration: none;
              }
              .logo-box {
                img {
                  cursor: pointer;
                }
                .fa-play {
                  font-size: 2em;
                  left: 50%;
                  margin-left: -11px;
                  margin-top: -11px;
                  position: absolute;
                  top: 50%;
                }
              }
            }
          }
          .desc {
            .video-box {
              h3 {
                color: $DWhite;
                font-family: $fontGothamPro;
                font-size: 18px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

/*-------------------------------------*/
.header-block {
  font-size: 25px;
  font-weight: bold;
  color: $Cian;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 25px;

  &::after {
    content: "";
    left: 50%;
    position: absolute;
    transform: translate(-50%);
  }
  &::after {
    background-image: url("../img/divider.png");
    height: 6px;
    bottom: -15px;
    width: 334px;
  }
}

.header-block--orange {
  color: $White;
  font-size: 30px;
  line-height: 45px;
}

.section-padding {
  padding: 30px 0;
}
/*---------------hot deal--------------------*/
#scoll1 {
    margin: 0;
    padding: 0 0 50px 0;
    background-color: $DWhite;
}
.sppb-section {
  position: relative;
  padding-bottom: 20px;

  .sppb-addon-title {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px 0 0 3px;
    border-top: 2px solid #d7087a;
    color: #fff;
    font-size: 16px;
    margin: 0 0 30px;
    overflow: hidden;
  }
  .sppb-addon-title > span {
      background: #d7087a none repeat scroll 0 0;
      display: inline-block;
      font-weight: bold;
      padding: 10px 15px;
  }

  .sppb-addon-title span::before {
    background-image: url("../img/icon1.png");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 14px;
    width: 30px;
  }

  .sppb-addon-title span::before {
    background-position: 2px center;
  }
}

.si-extraslider-dev .sj-extraslider {
    margin: 0;
}

.si-extraslider-dev .sj-extraslider .extraslider-control.button-type2 {
    position: absolute;
    right: 10px;
    top: 8px;
}

.si-extraslider-dev .sj-extraslider .extraslider-control.button-type2 .button-prev, .si-extraslider-dev .sj-extraslider .extraslider-control.button-type2 .button-next {
    background: $Magento none repeat scroll 0 0;
    border-radius: 20px;
    color: #fff;
    height: 20px;
    line-height: 20px;
    margin: 0 2px;
    text-align: center;
    width: 20px;
    float: left;
}
.sj-extraslider .extraslider-inner {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.sj-extraslider .item {
    display: block;
    float: left;
    position: relative;
    transition: left 0.6s ease-in-out 0s;
    width: 100%;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line {
    border: medium none;
    margin: 0;
    padding: 0;
}
.sj-extraslider .item .line {
    float: left;
    overflow: hidden;
    width: 100%;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap {
    border-radius: 3px;
    overflow: hidden;
}
.sj-extraslider.preset02-3 .extraslider-inner .item-wrap {
    float: left;
    margin-right: 2%;
    width: 31%;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-image {
    overflow: hidden;
    position: relative;
}
.sj-extraslider .extraslider-inner .item-wrap .item-image {
    overflow: hidden;
    width: 100%;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-image .img::before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
    width: 100%;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-image .addtocart {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 135px;
  text-align: center;
  background: $Magento;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-image .addtocart:hover {
  background: #7b0445;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-image .sale,
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-image .product_label {
  height: 45px;
  width: 45px;
  line-height: 45px;
  border-radius: 45px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: #63c54c;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-image .sale:before,
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-image .product_label:before {
  border-bottom: 17px solid #63c54c;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  content: "";
  position: absolute;
  right: -6px;
  top: -6px;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap:hover .item-image .img:before {
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap:hover .item-image .addtocart {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap:hover .item-info h3.item-title a {
  color: $Magento;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-info {
  background: #fff;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-info h3.item-title {
  padding: 20px 0;
  margin: 0 0 20px;
  border-bottom: 1px solid #e1e1d8;
  line-height: 16px;
  font-weight: bold;
  font-family: $Roboto;
  font-size: 15px;
  text-decoration: none;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-info h3.item-title a {
  color: #222;
  font-weight: 500;
  font-size: 14px;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-info .item-content {
  margin: 10px 0;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-info .item-content .item-description {
  color: #666;
  font-size: 12px;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-info .main-price {
  display: block;
  overflow: hidden;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-info .main-price .item-price {
  display: inline-block;
  float: left;
  line-height: 16px;
  padding: 0;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-info .main-price .item-price .price {
  display: block;
  color: $Magento;
  font-size: 16px;
  font-weight: bold;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-info .main-price .item-price .old-price {
  display: block;
  color: #ccc;
  text-decoration: line-through;
  font-size: 12px;
  font-weight: normal;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-info .main-price .price-sale {
  background: $Magento;
  border-radius: 4px;
  display: inline-block;
  float: right;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  padding: 5px 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-info .main-price .price-sale:before {
  content: "";
  border-color: transparent $Magento transparent transparent;
  border-style: solid;
  border-width: 7px 7px 7px 0;
  top: 50%;
  height: 0;
  left: -6px;
  position: absolute;
  width: 0;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-info .main-price .price-sale >span {
  display: block;
  color: #fff;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-info .main-price .price-sale >span.text {
  font-weight: normal;
}
.si-extraslider-dev .sj-extraslider .extraslider-inner .item .line .item-wrap .item-info h3.item-title {
  padding: 15px 0 20px;
  line-height: 14px;
}
.si-extraslider-dev .sj-extraslider .nav-page {
  padding: 0;
  margin-top: 20px;
}
.si-extraslider-dev .sj-extraslider .nav-page .page .button-page {
  height: 5px;
  width: 40px;
  border-radius: 10px;
  padding: 0;
  background: #222;
  margin: 0 5px;
}
.si-extraslider-dev .sj-extraslider .nav-page .page .button-page.sel {
  background: $Magento;
}
.si-extraslider-dev .sj-extraslider .extraslider-control.button-type2 {
  position: absolute;
  top: 8px;
  right: 10px;
}
.si-extraslider-dev .sj-extraslider .extraslider-control.button-type2 .button-prev,
.si-extraslider-dev .sj-extraslider .extraslider-control.button-type2 .button-next {
  height: 20px;
  width: 20px;
  background: $Magento;
  border-radius: 20px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  margin: 0 2px;
}
.si-extraslider-dev .sj-extraslider .extraslider-control.button-type2 .button-prev:hover,
.si-extraslider-dev .sj-extraslider .extraslider-control.button-type2 .button-next:hover {
  background: #000;
}
.sj-extraslider .nav-page.nav-under .page {
    display: inline-block;
}
.sj-extraslider .nav-page.nav-under {
    list-style: outside none none;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}
.sj-extraslider .nav-page.nav-under .button-page {
    display: inline-block;
    height: 10px;
    padding-left: 3px;
    width: 7px;
}
.banner-mod a {
    background: #000 none repeat scroll 0 0;
    display: block;
    overflow: hidden;
    padding: 0;
}
.banner-mod a img {
    transition: all 0.5s ease-in-out 0s;
}
.banner-mod a:hover img {
    opacity: 0.6;
    transition: all 0.5s ease-in-out 0s;
}
.banner-mod.columns-2 {
    margin: 10px -5px;
}
.banner-mod.columns-2 .item {
    float: left;
    padding: 0 5px;
    width: 50%;
}
.banner-mod.columns-2.padding-0 {
    margin: 0;
}
.banner-mod.columns-2.padding-0 .item {
    padding: 0;
}
/*----------------------------*/
.listing-tab-dev.color1 h3.sppb-addon-title {
    border-top: 2px solid #e9597e;
}
.listing-tab-dev {
    position: relative;
}
.listing-tab-dev.color1 h3.sppb-addon-title > span {
    background: #e9597e none repeat scroll 0 0;
}
.listing-tab-dev.color1 h3.sppb-addon-title > span::before {
    background-image: url("../img/icon2.png");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 14px;
    width: 30px;
}
.sj-responsive-listing {
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
}
.sj-responsive-listing .respl-wrap {
    margin: 15px 0;
    padding: 0;
    width: 100%;
}
.listing-tab-dev .sj-responsive-listing .respl-wrap {
    margin: 0;
}
.sj-responsive-listing .respl-wrap .respl-header {
    margin: 0px 10px 20px 10px;
    padding: 0;
    display: block;
}
.listing-tab-dev .sj-responsive-listing .respl-wrap .respl-header {
    display: inline-block;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.listing-tab-dev .sj-responsive-listing .respl-wrap .respl-header .respl-sort-view {
    max-width: none;
    padding: 0;
}
.listing-tab-dev .sj-responsive-listing .respl-wrap .respl-header .respl-sort-view .respl-sort .sort-wrap .respl-option {
    margin: 0;
    padding: 0 10px;
}
.listing-tab-dev .sj-responsive-listing .respl-wrap .respl-header .respl-sort-view .respl-sort .sort-wrap .respl-option > li {
    display: inline-block;
    float: left;
    padding: 8px 10px;
    position: relative;
    text-decoration: none;
}
.listing-tab-dev .sj-responsive-listing .respl-wrap .respl-header .respl-sort-view .respl-sort .sort-wrap .respl-option >li.sel:before {
    border-color: #ff5722 transparent transparent;
    border-style: solid;
    border-width: 4px 5px 5px;
    content: "";
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    position: absolute;
    top: 2px;
    width: 0;
}
.listing-tab-dev.color1 .sj-responsive-listing .respl-wrap .respl-header .respl-sort-view .respl-sort .sort-wrap .respl-option > li.sel:before {
    border-color: #e9597e transparent transparent;
}
.listing-tab-dev.color2 .sj-responsive-listing .respl-wrap .respl-header .respl-sort-view .respl-sort .sort-wrap .respl-option > li.sel:before {
    border-color: #03a7fa transparent transparent;
}
.listing-tab-dev .sj-responsive-listing .respl-items {
    margin: 0 -15px;
    width: auto;
    padding: 0;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item {
    margin-bottom: 25px;
    padding: 0 10px;
}
.sj-responsive-listing .respl-wrap .respl-items .respl-item {
    float: left;
}
.sj-responsive-listing .respl01-4 .respl-item {
    width: 24%;
}
.isotope .isotope-item {
    transition-property: transform, opacity;
}
.isotope, .isotope .isotope-item {
    transition-duration: 0.8s;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    margin: 0;
    overflow: hidden;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-image {
    overflow: hidden;
    position: relative;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-image {
    border: medium none;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-image .img {
    background: #fff none repeat scroll 0 0;
    display: block;
    overflow: hidden;
    position: relative;
}
.sj-responsive-listing .respl-item .item-inner .item-more .more-image img, .sj-responsive-listing .respl-wrap .respl-items .respl-item .item-image img {
    border: medium none;
    float: left;
    max-width: 100%;
    width: 100%;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-image .addtocart {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 135px;
  text-align: center;
  background: #e5007d;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-image .addtocart:hover {
  background: #7b0445;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-image .sale,
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-image .product_label {
  height: 45px;
  width: 45px;
  line-height: 45px;
  border-radius: 45px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: #63c54c;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-image .sale:before,
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-image .product_label:before {
  border-bottom: 17px solid #63c54c;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  content: "";
  position: absolute;
  right: -6px;
  top: -6px;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
}

.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner {
  margin: 0;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-image {
  position: relative;
  overflow: hidden;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-image .img {
  display: block;
  overflow: hidden;
  position: relative;
  background: #fff;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-image .img:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner:hover .item-image .img:before {
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner:hover .item-image .addtocart {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner:hover .item-info h3.item-title a {
  color: #e5007d;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-image {
  border: none;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-info {
  background: #fff;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 17px;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-info h3.item-title {
  padding: 20px 0;
  margin: 0 0 20px;
  border-bottom: 1px solid #e1e1d8;
  line-height: 16px;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-info h3.item-title a {
  color: #222;
  font-weight: bold;
  font-size: 14px;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-info .item-content {
  margin: 10px 0;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-info .item-content .item-description {
  color: #666;
  font-size: 12px;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-info .main-price {
  display: block;
  overflow: hidden;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-info .main-price .item-price {
  display: inline-block;
  float: left;
  line-height: 16px;
  padding: 0;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-info .main-price .item-price .price {
  display: block;
  color: #e5007d;
  font-size: 16px;
  font-weight: bold;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-info .main-price .item-price .old-price {
  display: block;
  color: #ccc;
  text-decoration: line-through;
  font-size: 12px;
  font-weight: normal;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-info .main-price .price-sale {
  background: #e5007d;
  border-radius: 4px;
  display: inline-block;
  float: right;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  padding: 5px 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-info .main-price .price-sale:before {
  content: "";
  border-color: transparent #e5007d transparent transparent;
  border-style: solid;
  border-width: 7px 7px 7px 0;
  top: 50%;
  height: 0;
  left: -6px;
  position: absolute;
  width: 0;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-info .main-price .price-sale >span {
  display: block;
  color: #fff;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-info .main-price .price-sale >span.text {
  font-weight: normal;
}
.listing-tab-dev .sj-responsive-listing .respl-items .respl-item .item-inner .item-info h3.item-title {
  margin: 0 0 15px;
}
.listing-tab-dev.color2 h3.sppb-addon-title {
    border-top: 2px solid #03a7fa;
}
.listing-tab-dev.color2 h3.sppb-addon-title > span::before {
    background-image: url("../img/icon3.png");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 14px;
    width: 30px;
}
.listing-tab-dev.color2 h3.sppb-addon-title > span {
    background: #03a7fa none repeat scroll 0 0;
}
.listing-tab-dev.color4 h3.sppb-addon-title > span::before {
    background-image: url("../img/icon4.png");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 14px;
    width: 30px;
}
.listing-tab-dev.color4 h3.sppb-addon-title {
    border-top: 2px solid #bbbfc4;
}
.listing-tab-dev.color4 h3.sppb-addon-title > span {
    background: #bbbfc4 none repeat scroll 0 0;
}
.listing-tab-dev.color4 .sj-responsive-listing .respl-wrap .respl-header .respl-sort-view .respl-sort .sort-wrap .respl-option > li.sel::before {
    border-color: #bbbfc4 transparent transparent;
}
/*--------------*/
/*------Special offers-----*/
.exp-advice {
  background-color: $DWhite;
 .sppb-row {

   .sppb-addon-content {

     .sppb-addon-title {
       font-size: 20px;
       font-weight: 700;
       line-height: 20px;
       color: #000;
       font-family: $Roboto;
     }

     .sppb-addon-text {
       text-align: left;
     }
   }
 }
}
/*--------------------------*/
.banners {
  padding: 40px 0;

  div {
    margin-bottom: 10px;

    a {
      display: block;
      overflow: hidden;
      position: relative;

      img {
        max-width: 100%;
      }

      .s-desc {
        color: #fff;
        height: 100%;
        padding-top: 6%;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 53.44%;
        z-index: 3;

        h3 {
          color: #fff;
          font-size: 24px;
          margin-bottom: 5px;
          text-transform: none;
        }

        h2 {
          color: #fff;
          font-size: 45px;
          font-weight: 400;
          margin: 0;
          text-transform: none;
        }

        h1 {
          color: #fff;
          font-size: 56px;
          margin: 0 0 18px;
        }

        span {
          color: #fff;
          display: inline-block;
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
        }

      }
    }
  }
}
/*-------------------------------------------*/
.footer {
  background: #232323 none repeat scroll 0 0;
  color: $White;
  font-size: 16px;
  font-family: $Roboto;

  .footer__item {
    padding-top: 20px;
    padding-bottom: 20px;

    .footer-box {
      padding: 20px;

      .f-box-title {
        text-transform: uppercase;
        font-size: 16px;
        padding-bottom: 10px;
      }

      .f-box-desc {
        padding: 10px 0;
      }

      .button--footer {
        color: $White;
        width: 100%;
        text-align: center;

        &:hover {
          color: $DWhite!important;
        }

        p {

          &::before {
            font-size: 16px;
            content: "\F3fb";
            display: inline-block;
            font-family: "material-design";
          }

        }
      }

      .button--online {
        border: 1px solid $LBlue;
        color: $White;
        width: 100%;
        text-align: center;

        &:hover {
          background-color: $LBlue;
          color: $DWhite!important;
        }
        p {

          &::before {

            font-size: 16px;
            content: "\F678";
            display: inline-block;
            font-family: "material-design";
          }
        }
      }
    }
  }

  .footer--bottom {
    padding-top: 30px;

    p {
      float: left;
    }
  }
}
