@import 'bootstrap-custom';
body {
  min-width: 320px;
}
/*-----------------------social button---------------*/

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.soc {
  overflow:hidden;
  margin:0 auto;
  list-style:none;

  li {
    display:inline-block;
    *display:inline;
    zoom:1;

    a {
      font-family:si!important;
      font-style:normal;
      font-weight:400;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
      -o-box-sizing:border-box;
      box-sizing:border-box;

      -o-transition:.1s;
      -ms-transition:.1s;
      -moz-transition:.1s;
      -webkit-transition:.1s;
      transition:.1s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);

      overflow:hidden;
      text-decoration:none;
      text-align:center;
      display:block;
      position: relative;
      z-index: 1;
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: 18px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-right: 15px;
      color: $White!important;
      background-color: #a6a6a6;
      padding: 0!important;

      &:hover {
        z-index: 2;
        background-color:#929292 !important;
      }
    }
  }

  .soc-icon-last{
    margin:0 !important;
  }

  .soc-facebook {
    background-color: #3e5b98;

    &:before {
      content:'\e041';
    }
  }

  .soc-twitter {
    background-color: #4da7de;

    &:before {
      content:'\e040';
    }
  }

  .soc-googleplus {
      background-color: #dd4b39;

    &:before {
      content:'\e042';
    }
  }

  .soc-instagram {
    background-color: #e12da8;

    &:before {
      content:'\e057';
    }
  }
}

/*----------------button---------------------------------*/

.button {
  background: $DBlue none repeat scroll 0 0;
  border: 2px solid $DBlue;
  border-radius: 2px;
  color: $White!important;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  height: 39px;
  line-height: 17px;
  padding: 9px 10px;
  transition: all 300ms ease 0s;
  text-transform: uppercase;

  &:hover {
    background-color: transparent;
    border: 2px solid $DBlue;
    color: $DBlue!important;
    text-decoration: none;
  }
}

/*-----------header--------------*/
.logo-miny,
.logo-miny-header {
  position: absolute;
  left: 40px;
  display: none;
}

.logo-miny {
  top: 0;
}

.logo-miny-header {
  top: 20px;
}

.page-header {
  margin: 0 auto;
  font-family: $MyriadPro;
  font-size: 14px;
  position: relative;
  border-bottom: none;
  padding-bottom: 0;

  .online-services {
    text-align: right;

    .call-back {
      padding-right: 6%;

      &::before {

        font-size: 20px;
        content: "\F3fb";
        display: inline-block;
        font-family: "material-design";
      }
    }

    .online-booking,
    .online-booking--headen {
      color: $DBlue;
      font-weight: bold;

      &::before {
        color: $DBlue;
        font-size: 20px;
        content: "\F678";
        display: inline-block;
        font-family: "material-design";
      }
    }
  }

  .headen-menu {
    li {
      a {
        padding-top: 0;
        padding-bottom: 0;
        color: #fff;
        background: transparent;

        &:hover {
          color: $LGrey;
        }
      }

      .top-dropdown {
        display: none;
      }
    }
  }

  .page-header__line {
    background: $DGray none repeat scroll 0 0;
    padding: 5px 0;

    .navbar-toggle {
      background-color: $Blue;

      .icon-bar {
        background-color: $LBlue;
      }
    }

    .sait-control {

    }
    .nav-headen {
      font-size: 16px;
      background-color: $DGray;

      li {
        padding: 5px;

        a {
          text-decoration: none;
          color: $White;
          padding: 5px;

          &:hover {
            background-color: $DGray;
          }
        }

        ul {

          li {
            text-align: center;
            border-bottom: 1px solid $Blue;
          }
        }
      }
    }
  }


  .central-block {
    padding: 20px 0 0px 0;

    .logo {
      display: block;
      min-height: 44px;
      min-width: 100px;
      text-align: center;

      img {
        max-width: 100%;
        transition: all 0s ease 0s, all 0.8s ease 0s, all 0s ease-in-out 0s;
        margin: 0 auto;
      }
    }

    .central-unit {
      color: #555;
      font-family: $MyriadPro;
      position: relative;

      .search-block {
        width: 100%;

        .input-group__modif {
          margin: 15px auto 15px;
          width: 80%;

          .form-control_modif,
          .btn-lg_modif {
            border-radius: 0px;
            color: $Blue;
          }

          .form-control_modif,
          .btn-lg_modif {
            border-radius: 0px;
            color: $Blue;
          }
        }

        .listunstyled {
          font-size: 27px;
          font-weight: bold;
          font-family: "Marck Script";

          .line {
              font-size: 20px;
          }
        }
      }

      .searchform {
          margin: 10px 20% 10px;
          position: relative;

        .keyword-search {
            border: 1px solid #bdbdbd;
            border-radius: 0;
            width: 100%;
        }

        .submit-search {
          background: #bdbdbd none repeat scroll 0 0;
          border: 0 none;
          color: #fff;
          font-size: 17px;
          height: 34px;
          position: absolute;
          right: 0;
          top: 0;
          width: 34px;
        }

        &::before {
          background: rgba(0, 0, 0, 0) url("..img/search_gc.png") no-repeat scroll left 12px;
          content: "";
          display: block;
          height: 34px;
          position: absolute;
          right: 34px;
          top: 0;
          width: 5px;
          z-index: 3;
        }
      }
    }

    .left-block {
      bottom: 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0px);
      width: 90%;

      .header-minicart {
        padding: 10px;
        position: relative;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        font-size: 16px;
        color: $DBlue;;
      }

      .social {
        margin: 20px auto 10px;
      }
    }
  }
  /*---всплывающий блок-------*/
  .headen-block {
    background-color: #dcf0f7;
    border-top: 2px solid #006485;
    border-bottom: 2px solid #006485;
    border-radius: 0;
    color: #006485;
    font-family: "Roboto",Helvetica,Arial,"Lucida Grande",sans-serif;

    .headen-block__body {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  /*-------------------------main-menu-----------------------------*/
  .fixed {
    position:fixed!important;
    top:-2px;
    left:0;
    width:100%;
    margin-top: 0;
    z-index: 9999;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .main-menu {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 3px solid $dcian;

      ul {
        list-style-type:none;
        margin:0;
        padding:0 0 0 20px;

        li {
          display:inline-block;
          position:relative;

          ul {
            background-color:$Blue;
            position:absolute;
            left:0;
            top:40px;
            width:200px;
          }

          li {
            position:relative;
            margin:0;
            display:block;

          a {
            border-bottom:solid 1px $LBlue;
            margin:0 10px;
            padding:0;
          }

            &:last-child a {
            border-bottom:none;
            }
          }
        }
      }


  .sub-menu {
    background-color: $DBlue;
    transition: all 0.7s;
    z-index: 9999;
    display: none;
  }

  .sub-menu-animated {
    background-color: $Blue;
  }

  a {
    line-height:40px;
    padding:0 12px;
    margin:0 12px;
    text-transform: uppercase;
    font-family: $MyriadPro;
    color: #000!important;
    display:block;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: $dcian!important;
    }


  }

  .dropdown   {
    background-color: inherit;
    transition: all 0.7s;

  }

  .dropdown-animated  {
    background-color: $Blue;
  }

  .dropdown__linck {
    background-image:url('../img/arrow-down.png');
    background-position:right 20px;
    background-repeat:no-repeat;
  }

  /*------------------------------*/
  }
}

/*----------------slider-----------------------*/
.button_descr {
  color: $DGray;
  font-style: $fontGothamPro;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: none;
}
.bg-blue {
  background-color: $DWhite;
  font-size: 12px;
}
.siteslider {
  position: relative;
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        background-position: center;
        background-size: cover;
        height: 500px;
        .position {
          top: 50%;
          left: 15%;
          position: absolute;
          transform: translate(-15%, -50%);
          .title {
            font-size: 45px;
            font-weight: bold;
            color: $White;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
            font-family: $fontGothamPro;
          }
          .subtitle {
            font-size: 25px;
            color: $White;
            text-transform: uppercase;
            font-family: $fontGothamPro;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
            font-weight: bold;
            margin-top: 35px;
            margin-bottom: 35px;
          }
          .text {
            font-size: 14px;
            max-width: 400px;
            line-height: 1.3;
            color: $White;
            font-family: $fontGothamPro;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
            a {
              text-transform: uppercase;
            }
          }
        }
      }
      .swiper-slide_left {
        background-image: url(../img/banner_2.jpg);
      }
      .swiper-slide_center {
        background-image: url(../img/banner_3.jpg);
      }
      .swiper-slide_center1 {
        background-image: url(../img/banner_51.jpg);
      }
      .swiper-slide_right {
        background-image: url(../img/banner_4.jpg);
      }
    }
    .swiper-pagination {
      .swiper-pagination-bullet {
        border-radius: 0;
        width: 72px;
        height: 3px;
        background-color: $DWhite;
        border-color: $DWhite;
        margin: 3px;
      }
    }
  }
}
.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.about-product {
  background-color: $DWhite;
  padding: 50px 0;
  .text-center {
    h3 {
      text-transform: uppercase;
      color: $DWhite;
      font-family: $fontGothamPro;
      font-size: 22px;
      margin-bottom: 30px;
    }
  }
  .jcarousel-wrapper {
    .jcarousel {
      ul {
        li {
          margin-right: 20px;
          .video-wrapper {
            background-image: url(../img/bgslaider.png);
            background-repeat: repeat;
            position: relative;
            .video-box {
              color: $DWhite;
              font-family: $fontGothamPro;
              font-size: 12px;
              width: 60%;
              &:hover {
                text-decoration: none;
              }
              .logo-box {
                img {
                  cursor: pointer;
                }
                .fa-play {
                  font-size: 2em;
                  left: 50%;
                  margin-left: -11px;
                  margin-top: -11px;
                  position: absolute;
                  top: 50%;
                }
              }
            }
          }
          .desc {
            .video-box {
              h3 {
                color: $DWhite;
                font-family: $fontGothamPro;
                font-size: 18px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

/*-------------------------------------*/
.header-block {
  font-size: 25px;
  font-weight: bold;
  color: $Orange;
  text-align: center;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: "";
    left: 50%;
    position: absolute;
    transform: translate(-50%);
  }
  &::after {
    background-image: url("../img/divider.png");
    height: 6px;
    bottom: -15px;
    width: 334px;
  }
}

.header-block--orange {
  color: $White;
  font-size: 30px;
  line-height: 45px;
}

.section-padding {
  padding: 30px 0;
  border-bottom: 1px solid $LGrey;
}
/*----------hotel info-------------------------*/
.hotel-info {
  background-color: $DWhite;
  font-family: $Roboto;
  font-size: 18px;
  color: $DGray;

  .hotel-info__block-img {
    padding: 40px 0;

    .picture {
      box-shadow: 0 25px 37px -25px rgba(0, 0, 0, 0.75);
      cursor: pointer;
      height: auto;

      overflow: hidden;
      position: relative;
      width: 100%;

      &:hover {

        span {
            opacity: 0;
        }
      }

      img {
        transition: all 1s ease-out 0s;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
        &:hover {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);

        }
      }

      span {
        background-color: white;
        bottom: 0;
        color: $Orange;
        display: block;
        font-family: $Roboto;
        font-size: 18px;
        font-weight: 500;
        height: 48px;
        left: 0;
        line-height: 48px;
        margin: 0 auto;
        max-width: 642px;
        opacity: 1;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        transition: all 0.6s ease 0s;
        width: 100%;

      }
    }
  }
}
/*---------------hotel-rooms--------------------*/
.hotel-rooms {
  position: relative;

  .services-box__hover-bg {
    background-color: $Orange;
    max-width: 500px;
    margin: 10px auto;

    a {
      box-shadow: 0 25px 37px -25px rgba(0, 0, 0, 0.75);
    }
  }

  .services-box__v-line {
    color: $White;
    display: none;
    position: absolute;
    z-index: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    h2 {
      font-family: $MyriadPro;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: normal;
    }

    ul {

      li {
        list-style-type: disc;
        text-align: left;
      }
    }
  }
}

.banners {
  padding: 40px 0;

  div {
    margin-bottom: 10px;

    a {
      display: block;
      overflow: hidden;
      position: relative;

      img {
        max-width: 100%;
      }

      .s-desc {
        color: #fff;
        height: 100%;
        padding-top: 6%;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 53.44%;
        z-index: 3;

        h3 {
          color: #fff;
          font-size: 24px;
          margin-bottom: 5px;
          text-transform: none;
        }

        h2 {
          color: #fff;
          font-size: 45px;
          font-weight: 400;
          margin: 0;
          text-transform: none;
        }

        h1 {
          color: #fff;
          font-size: 56px;
          margin: 0 0 18px;
        }

        span {
          color: #fff;
          display: inline-block;
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
        }

      }
    }
  }
}
/*------masonry-----------------------*/
#container {
    margin: 0 auto;
    max-width: 1170px;

    .header-block {
      text-align: center;
      margin: 0 0 50px
    }

    input[type="checkbox"] {
     display: none;
    }

    .lightbox,
    .grid {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
    }

    .lightbox {
      z-index: 1;
      min-height: 100%;
      overflow: auto;
      -webkit-transform: scale(0);
         -ms-transform: scale(0);
             transform: scale(0);
      -webkit-transition: -webkit-transform .5s ease-out;
             transition: transform .5s ease-out;

      img {
       position: fixed;
       top: 50%;
       left: 50%;
       max-width: 96%;
       max-height: 96%;
       -webkit-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
       transform: translate(-50%, -50%);
       box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
      }
    }

    input[type="checkbox"]:checked + .lightbox {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
    }

    input[type="checkbox"]:checked ~ .grid {
      opacity: .125;
    }

    .elements-gride {
      margin-bottom: 30px;
    }

    .element-item {
      padding: 2px;
      overflow: hidden;
    }

    .persent-size {
      width: 25%;

      img {
        transition: all 1s ease-out 0s;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
        &:hover {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);

        }
      }
    }

    .persent-size_50 {
      width: 50%;

      img {
        transition: all 1s ease-out 0s;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
        &:hover {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -o-transform: scale(1.2);

        }
      }
    }
}

/*-------------gallery-block---------------------------*/
.gallery-block {
  background-color: $LLBlue;
}
/*-----------------official-site--------------*/
.official-site {
  position: relative;

  #bgvid {
    position: relative;;
    z-index: 0;
    width: 100%;
    background: url(../img/SEA.jpg) no-repeat;
    background-size: cover;
    background-repeat: repeat;
  }

  .slogan {
    position: absolute;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    z-index: 80;
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);

    h2 {
      text-align: center;
      font-size: 35px;
    }
    p {
      font-size: 30px;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
      text-align: center;
      color: $DWhite;
      padding: 40px 0;
    }
  }
}
/*-------------------------faq--------------*/
.faq {

  .faq-inner {
    margin: 30px 0;

    .faq-item {
      padding: 20px;


      &::before {
        font-size: 60px;
        color: $Orange;
        content: "\f186";
        display: inline-block;
        font-family: "material-design";
      }

      p {
        font-size: 18px;
        font-family: $Roboto;
        font-weight: bold;
      }

      .faq--button {
        font-size: 15px;
        text-transform: none;
      }
    }
  }
}
/*--------------------map--------------------*/
.maps {
  height: 400px;
  background-image: url(../img/maps.jpg);
  background-repeat: repeat;
  position: relative;
}
/*-------------------------------------------*/
.footer {
  background-color: $DBlue;
  color: $White;
  font-size: 18px;
  font-family: $Roboto;

  .footer__item {
    padding-top: 20px;
    padding-bottom: 20px;

    .footer-box {
      border: 1px solid $LBlue;
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
      padding: 20px;

      .f-box-title {
        border-bottom: 1px solid $LBlue;
        text-transform: uppercase;
        font-size: 20px;
        padding-bottom: 10px;
      }

      .f-box-desc {
        padding: 10px 0;
      }

      .button--footer {
        border: 1px solid $LBlue;
        color: $White;
        width: 100%;
        text-align: center;

        &:hover {
          background-color: $LBlue;
          color: $DWhite!important;
        }

        p {

          &::before {
            font-size: 20px;
            content: "\F3fb";
            display: inline-block;
            font-family: "material-design";
          }

        }
      }

      .button--online {
        border: 1px solid $LBlue;
        color: $White;
        width: 100%;
        text-align: center;

        &:hover {
          background-color: $LBlue;
          color: $DWhite!important;
        }
        p {

          &::before {

            font-size: 20px;
            content: "\F678";
            display: inline-block;
            font-family: "material-design";
          }
        }
      }
    }
  }

  .footer--bottom {
    padding-top: 30px;

    p {
      float: left;
    }
  }
}
/*----------modal windows-------*/
.modal-dialog {
  width: 700px;
  margin: 70px auto;
}
.modal-content {
    background-color: $LLBlue;
    border: 2px solid $DBlue;
    border-radius: 0;
    color: $DBlue;
    font-family: $Roboto;

    .fa {
      color:$btnSoc;
      font-size:9px;
      vertical-align:top;
    }

    .modal-header {
      text-transform: uppercase;
      font-weight: bold;
      border-bottom: 1px solid $DBlue;
    }

    .modal-footer {
      border-top: 1px solid $DBlue;
      text-align: center;
    }

    .form-group {
      float: left;
      margin-bottom: 15px;
      margin-right: 15px;

      .form-control {
        border-radius: 0;
        border: 1px solid $DBlue;
      }
    }
}
