$White: #fff;
$DWhite: #f0f2f6;
$Golg: #f4b60d;
$LLBlue: #dcf0f7;
$Blue: #00ffff;
$LBlue: #08e8dd;
$DBlue: #00c6bc;
$DDBlue: #009db5;
$DGray: #676767;
$DGray: #232323;
$LGrey: #cbc9ca;
$Orange: #f49156;
$DOrange: #e35f10;
$LOrange: #EAAB69;
$btnSoc:#ff0000;
$Magento: #e5007d;
$dmagento: #cc397b;
$Cian: #008bd2;
$dcian: #01c3c3;
/*-------fonts---------*/
$fontGothamPro: "GothamProRegular",sans-serif;
$Arial:   "Arial";
$Roboto: "Roboto",Helvetica,Arial,"Lucida Grande",sans-serif;
$MyriadPro: "MyriadProRegular", Helvetica,Arial,"Lucida Grande",sans-serif;
$Amesome: "FontAwesome";
