@import 'bootstrap-custom';
.main-menu {
  .navbar_modify {
    background-color: #fff;
    border-color: #fff;
    .navbar-header_modif {

      .navbar-brand_modif {
        padding: 0;
        height: 100%;
      }
    }
  }
}
