$fontColor: #313131;
$fontDWhite: #f7f8fa;
$fontBroun:  #d1ab66;
$fontBlue:   #13609f;
$fontFooter: #0a488a;
$fontWhite:  #fff;
$fontGrey: #a6a6a6;
$fontGreyD: #707473;
$fontGreyB: #4c4b4b;
$fontGreyDD: #2c2b2b;
$btnRed: #7d0000;
$fontArial:   "Arial";
$fontRoboto: "Roboto",sans-serif;
$fontAmesome: "FontAwesome";
$fontGothamPro: "GothamProRegular",sans-serif;
