@import 'bootstrap-custom';
body {
  min-width: 360px;
}
/*------------gradient-------------------------------------*/
.gradient-green {
  background: #26be5c; /* Old browsers */
  background: -moz-linear-gradient(left, #26be5c 0%, #26be5c 44%, #e5f09d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #26be5c 0%,#26be5c 44%,#e5f09d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #26be5c 0%,#26be5c 44%,#e5f09d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14b04b', endColorstr='#e5f09d',GradientType=1 ); /* IE6-9 */
}
.box-shadow {
  box-shadow: 0 25px 37px -25px rgba(0, 0, 0, 0.75);
}
/*----------------button---------------------------------*/
.button {
  background: $btnRed none repeat scroll 0 0;
  border: 2px solid $btnRed;
  border-radius: 2px;
  color: $White;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  height: 39px;
  line-height: 17px;
  padding: 9px 10px;
  transition: all 300ms ease 0s;
  &:hover {
    background-color: transparent;
    border: 2px solid $btnRed;
    color: $btnRed;
    text-decoration: none;
  }
}
/*-----------------------social button---------------*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(PATH_TO/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 8px;
    color: #ffffff;
    background-color: none;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'\e041';
}
.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'\e040';
}
.soc-googleplus {
    background-color: #dd4b39;
}
.soc-googleplus:before {
    content:'\e042';
}
.soc-instagram {
    background-color: #405de6;
}
.soc-instagram:before {
    content:'\e057';
}
/*-----------------------header-------------------------------*/
.page-header {
    margin: 0 auto;
    font-family: $MyriadPro;
    font-size: 16px;
    position: relative;
    border-bottom: none;
    padding-bottom: 0;
    background-image: url("../img/backaist1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.central-block {
    padding-bottom: 30px;
}

.header-row-background {
    background: transparent none repeat scroll 0 0;
    margin-bottom: 20px;
    border-bottom: none;

    .header-row {
      margin-left: auto;
      margin-right: auto;
      max-width: 1170px;

      a {
        color: #fff!important;
        font-family: $MyriadPro;

        &:hover {

        }
      }

      .headen-menu {
        display: inline-block;
      }

      .headen-menu--main {
        margin-left: 10%;
        margin-right: 10%;
      }
    }
}

.label {
  border-radius: 0;
  vertical-align: baseline;
  color: #fff;
  display: inline;
  font-size: 1em;
  font-weight: normal;
  line-height: inherit;
  padding-right: 5px;
  text-align: left;
  text-transform: none;
  white-space: normal;
}

.currency-block {
  float: left;
  font-family: "MyriadProRegular",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 16px;
}

.current {
  color: #006C32;

  &::after {
    color: #fff;
    content: " \f140";
    display: inline-block;
    font-size: 23px;
    line-height: 14px;
    text-rendering: auto;
    transform: translate(0px, 0px);
    vertical-align: middle;
    font-family: "material-design";
  }
}

.logo-mini {
  display: none;
  float: left;
  padding-right: 20px;
}

.logo {
  display: block;
  min-height: 44px;
  min-width: 100px;
  text-align: center;

  img {
    max-width: 100%;
    transition: all 0s ease 0s, all 0.8s ease 0s, all 0s ease-in-out 0s;
    margin: 0 auto;
  }
}

.central-unit {
  color: #006C32;
  font-family: $MyriadPro;
  position: relative;
}

.input-group__modif {
  margin: 20px auto 10px;
  width: 80%;
}

.search-block {
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0px);
  width: 100%;
}

.left-block {
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
  width: 90%;
}

.listunstyled {
  font-size: 22px;
  font-weight: bold;
}

.form-control_modif,
.btn-lg_modif {
  border-radius: 0px;
  color: #00bbd3;
}

.header-minicart {
  padding: 0 10px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 100%;

}

.social {
  margin: 20px auto 10px;
}
/*--------------skip-cart------------------------*/
.skip-cart {
    color: #034d92;
    text-transform: uppercase;


    .label {
      color: #333;
      display: none;
      font-size: 18px;
      font-weight: 500;
      padding-right: 7px;
      text-transform: uppercase;
      vertical-align: middle;
    }

    .count {
      color: #888;
      font-size: 16px;
      line-height: 48px;
      position: relative;
      text-align: center;
      vertical-align: top;
      z-index: 3;
    }

    .icon {

      &::before {
        color: #034d92;
        font-size: 26px;
        content: "\F110";
        display: inline-block;
        font-family: "material-design";
      }
    }
}
/*-------------------------main-menu-----------------------------*/
.fixed {
  position:fixed!important;
  top:-2px;
  left:0;
  width:100%;

  margin-top: 0;

}

.transbg {
  background-image:  url("../img/fon.png")!important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
}

.sel-lang {
  padding: 10px 5px!important;
}

.main-menu {
  z-index: 9999;
  border-top: 2px solid #fff;
  position: absolute;
  background-image:  url("../img/fon.png")!important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
  padding:10px 0;
  background-color: transparent;
  border-bottom: none;
  border-left: none;
  border-right: none;

  .first-logo {
    display: none;
  }
}



.grid-full {
  width: 100%;
  display: inline-flex;

  li {
    text-align: center;
    vertical-align: bottom;
    width: 16%;
    margin: 0 3px;


    a {
      padding: 0;
      text-transform: uppercase;
      font-family: $MyriadPro;
      color: #fff!important;

      &:hover,
      &:focus {
        background: #035796!important;
        color: #dfe564!important;
      }

      span {
        cursor: pointer;
        padding: 8px;
        position: relative;

        white-space: normal;
        z-index: 2;
        display: block;
      }

      .dropdown {

        &::after {
          border-radius: 20px;
          color: #fff;
          content: "\f140";
          display: inline-block;
          font-family: "material-design";
          font-size: 28px;
          line-height: 20px;
          text-rendering: auto;
          transform: translate(0px, 0px);
          vertical-align: -4px;
        }
      }
    }
  }
}

/*----------------------------slider---------------------------------*/
.top-container {
    margin: 0 auto;
    border-bottom: 2px solid #2b8e1c;

    .swiper-container {

      .swiper-wrapper {

        .swiper-slide {
          background-position: center;
          background-size: cover;
          height: 600px;

          .position {
            top: 50%;
            left: 15%;
            position: absolute;
            transform: translate(-15%, -50%);

            .title {
              font-size: 70px;
              font-weight: 300;
              color:  #035796;
              font-family: $Roboto;
            }

            .subtitle {
              font-size: 41px;
              color: #035796;
              text-transform: uppercase;
              font-family: $Roboto;
              margin-top: 35px;
              margin-bottom: 35px;
            }

            .text {
              font-size: 24px;
              max-width: 400px;
              line-height: 1.3;
              color: #00bbd3;
              font-family: $Roboto;

              a {
                text-transform: uppercase;
              }
            }
          }
        }

        .swiper-slide_left {
          background-image: url(../img/banner_2.jpg);
        }

        .swiper-slide_center {
          background-image: url(../img/banner_3.jpg);
        }

        .swiper-slide_right {
          background-image: url(../img/banner_4.jpg);
        }
      }

      .swiper-pagination {

        .swiper-pagination-bullet {
          border-radius: 0;
          width: 72px;
          height: 5px;
          background-color:#0a679d;
          border-color: #0a679d;
          margin: 3px;
        }
      }
    }
}
/*---------------Production--------------------*/
.header-block {
  color: $colorWhite;
  text-transform: uppercase;
  font-family: $MyriadPro;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
}
.Production {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;

  .services-box__hover-bg {
    background-color: $colorBlue;
  }

  .services-box__hover-bg--green {
    background-color: #4bae4f;
  }

  .services-box__hover-bg--red {
    background-color: #f34235;
  }

  .services-box__v-line {
    color: $colorWhite;
    display: none;
    position: absolute;
    z-index: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    h2 {
      font-family: $MyriadPro;
      font-size: 25px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: normal;
    }
  }
}

.banners {
  margin: 25px 0;
}
.banners > div a {
  display: block;
  overflow: hidden;
  position: relative;
  border: 7px solid #d9d6d6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.banners > div a img {
    max-width: 100%;
}
.banners > div a .s-desc {
    color: #fff;
    height: 100%;
    padding-top: 6%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 53.44%;
    z-index: 3;
}
.banners > div a .s-desc > span {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.banners > div a .s-desc h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 5px;
    text-transform: none;
}
.banners > div a .s-desc h2 {
    color: #fff;
    font-size: 45px;
    font-weight: 400;
    margin: 0;
    text-transform: none;
}
.banners > div a .s-desc h1 {
    color: #fff;
    font-size: 56px;
    margin: 0 0 18px;
}
.banners > div {
    margin-bottom: 10px;
    padding: 0 5px;
}

/*-----------------parallax effect--------------*/
.parallax{
  width: 100%;
  min-height: 600px;
  height: 100%;
  position: relative;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #4bae4f;

  .parallax__inner {
    height: auto;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
}
.fon {
  background-image: url("../img/backgroung-3.png");
  height: 370px;
  background-size: contain;
  background-repeat: no-repeat;
}

/*--------------------new item----------------------------------------*/
.inform-unit {
  font-family: $MyriadPro;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: normal;
  text-decoration: none;
  font-family: "MyriadProRegular",Helvetica,Arial,"Lucida Grande",sans-serif;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 3px solid #fff;
}

.jcarousel__link a {
	text-transform: uppercase;
  text-decoration: none;
}
.jcarousel__link p {
	padding: 10px 0 10px 0;
}
.jcarousel__info {
	text-transform: none;
	color: #474948;
  font-weight: normal;
}

.link__wrapper {
  margin: 10% 5%;
  border: 1px solid #d9d6d6;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.blog {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../img/bg.jpg");
}

.footer-main {
  background-color: #272727;
  color: #fff;
  font-family: $MyriadPro;
  font-size: 15px;
  margin-top: 10px;
  padding-top: 30px;
}
