$Arial:   "Arial";
$Roboto: "Roboto",Helvetica,Arial,"Lucida Grande",sans-serif;
$MyriadPro: "MyriadProRegular", Helvetica,Arial,"Lucida Grande",sans-serif;
$Amesome: "FontAwesome";
$shWhite: #f4f4f4;
$White: #fff;
$lightGray:  #888;
$btnRed: #f34235;

$colorBlue: #00bbd3;

$colorGolg: #f4b60d;

$colorWhite: #ffffff;
