html {
  font-size: 16px;
}
h1, h2, h3, h5 {
  color: $primary-color-title;
}
.col-1 {
  width: 10%;
}
.col-2 {
  width: 20%;
}
.col-3{
  width: 30%;
}
.col-4 {
  width: 40%;
}
.col-5 {
  width: 50%;
}
.col-6 {
  width: 60%;
}
.col-7 {
  width: 70%;
}
.col-8 {
  width: 80%;
}
.col-9 {
  width: 90%;
}
.col-88 {
  width: 82%;
}
.col-22 {
  width: 18%;
}
.col-10 {
  width: 100%;
}
.wrapper {
  padding-left: 2.6042vw;
  padding-right: 2.6042vw;
}
#toTop {
	position: fixed;
	bottom: 2.6042vw;
	right: 1%;
	display: none;
	color: #FFFFFF;
	width: 40px;
	text-align: center;
	height:40px;
	border-radius: 4px;
	cursor: pointer;
	-webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;
	-o-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
	background: #61CE70;
  font-size: 2rem;
	padding-top: 1px;
	box-shadow: 1px 5px 9px -1px rgba(0, 0, 0, 0.75);
	z-index: 9999;
}

#toTop .fa.fa-angle-up {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 900;
}

#toTopHover {
	width: 1.6667vw;
	height: 1.6667vw;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
.menu {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.box-heade__center .col-1 {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
}
.box-heade__center .col-2 {
    display: flex;
    justify-content: flex-end;
}
.ms-informer-link {
    max-width: 10.4167vw;
    display: block;
}
/*------------header----------------------*/
.box-header {
  position: relative;
  background: #fff;
  border-bottom: solid 1px #bed3db;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
}
.box-heade__top, .box-heade__center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.top-menu li a {
  padding: 7px 8px 6px;
  -webkit-transition: background 0.6s ease;
  transition: background 0.6s ease;
  font-size: 14px;
}
.box-heade__top .col-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.box-header .col-7, .box-header .col-7 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-heade__top .col-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.box-heade__bottom {
  border-top: 1px solid #ebebeb;
  padding: 0 3.125vw;
  border-bottom: 4px double #000;
}
.header-menu {
  padding: 5px 0 4px;
}
.box-heade__center img {
  max-width: 100%;
}
.desktop-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  background-color: #fff;
  border: 0;
  padding: 8px 9px 9px;
}
.btnm {
  border-radius: 3px;
  cursor: pointer;
  background-color: $color-btn;
  border: 1px solid $color-btn;
  color: #fff;
  font-size: 14px;
  -webkit-letter-spacing: 0.05em;
  -moz-letter-spacing: 0.05em;
  -ms-letter-spacing: 0.05em;
  letter-spacing: 0.05em;
  padding: 3px 0.52083vw;
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  &:hover {
    border: 1px solid $color-btn-hover;
    background-color: $color-btn-hover;
    color: #fff;
  }
}
.subscribe-button {
  margin-right: 7px;
}
.red {
  background-color: #FFD4D4;
}
.blue-light {
  background-color: #CFFDFF;
}
.grey {
  background-color: #E9E9E9;
}
.hover-size {
   transition: 0.5s;
   &:hover {
      transform: scale(1.025);
      z-index: 15;
      border: 1px solid #eee;
      box-shadow: 0px 0.52083vw 20px -0.52083vw rgba(0, 0, 0, 0.33);
   }
}
/*------------end header------------------*/
/*--------banner-------------------------*/
.wrp-banner {
   display: flex;
   align-items: stretch;
   justify-content: space-between;
   padding: 1.5625vw 0;
}
.banneritem {
   min-height: 3.125vw;
   width: 100%;
   border-radius: 5px;
   background: #fff;
   border: 1px solid #f0f0f0;
   box-shadow: 0 2px 4px 0 rgba(205, 205, 205, 0.25);
   padding: 0.5208vw 0.5208vw 3.0208vw;
   position: relative;
}
.banneritem:not(:last-child) {
    margin-right: 0.5208vw;
}
.banneritem--img {
   height: 13.02083vw;
   img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
   }
}
.item-cont {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   h3 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 0.52083vw rgba(0, 0, 0, 0.58);
   }
   span {
      display: flex;
      color: #fff;
      text-shadow: 0px 0px 0.52083vw rgba(0, 0, 0, 0.58);
      font-size: 1.2rem;
      line-height: 1.2;
   }
}
.btn-grupp {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   width: 100%;
   justify-content: space-between;
   height: 2.7083vw;
   align-items: center;
}
.btnb {
   background: #fff;
   box-shadow: inset -10px -10px 20px rgba(0, 0, 0, 0.25), inset 10px 10px 20px rgba(0, 0, 0, 0.25);
   font-size: 0.9375rem;
   line-height: 1.1;
   padding: 5px;
   color: #333;
   font-weight: bold;
   width: 49.5%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100%;
   &:hover {
      background-color: #e1e1e1;
      color: #000;
   }
}
.btn-grupp-center {
   justify-content: center;
}
.banneritem--tmp {
   background: #F6F5F5;
}
.banneritem--firstimg {
   background: url('../images-tmpl/gazeta.jpg');
}
.banneritem--twoimg {
   background: url('../images-tmpl/reklama.jpg');
}
.item-cont--dack {
   h3 {
      color: #000;
      text-shadow: none;
   }
   span {
      color: #000;
      text-shadow: none;
      text-align: center;
      justify-content: center;
      font-size: 1.5625rem;
   }
   i {
     color: #29A53A;
     font-size: 1.3125rem;
     padding-right: 5px;
   }
   ul li {
      font-size: 1rem;
      line-height: 1.5;
   }
}
/*--------end banner-----------------------*/
/*-----------box content------------------*/
.box-content {
   position: relative;
   padding-top: 4.1666vw;
   padding-bottom: 1.5625vw;
}
.box-content__title {
   position: absolute;
   display: flex;
   padding: 0.52083vw 0 3.125vw;
   width: 100%;
   top: 0;
   left: 0;
   z-index: -1;
   a {
      position: relative;
      font-size: 1.5625rem;
      display: flex;
      align-items: center;
   }
}
.Category__go-to-subcat {
    font-size: 1rem !important;
    margin-left: 0.52083vw;
    padding-top: 6px;
}
.box-content__inner {
   display: flex;
   align-items: center;
   width: 100%;
}
.green {
   background-color: #EBFFD7;
}
.ml-xs {
    display: flex;
    align-items: center;
    margin-left: 0.52083vw;
}

.box-card, .box-card__wrp {
    display: flex;
}

.box-advertising {
  padding: 0.52083vw;
  img {
    width: 100%;
    display: block;
  }
}
.box-advertising__inner {
  padding: 0.52083vw;
  background: #fff;
  border: 1px solid #eee;
}
.card_item {
   width: calc(100%/5);
   height: 100%;
   padding: 0.52083vw;
   overflow: hidden;
}
.card {
    position: relative;
    border: 1px solid #eee;
    padding: 0.52083vw 0.52083vw 2.0833vw;
    background: #fff;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
    }
    h2 {
      text-align: left;
      height: 2.34375vw;
      display: block;
      margin-bottom: 0.52083rem;
    }
    a {
     line-height: 1.2;
     display: block;
     font-size: 1.125rem;
   }
   span {
    font-size: 1rem;
    line-height: 1.2;
    display: block;
    padding-bottom: 1.071vw;
}
}
.card--left {
  margin-right: 0;
  margin-left: 1.04166vw;
  &:after {
    right: auto;
    left: -0.52083vw;
  }
}

.post_meta {
    padding-bottom: 0.52083vw;
    font-size: 1rem;
    position: absolute;
    bottom: 0
}
.post_date {
  display: inline-block;
}
.box-price {
   position: absolute;
   bottom: 2.34375vw;
  font-size: 1rem;
}
.eloy {
  background-color: #FFE0A4;
  /*background-image: linear-gradient(90deg,#FFE0A4 0%,#FFFFFF 52%);*/
}
.blue {
  background-color: #CFDCFF;
  /*background-image: linear-gradient(90deg,#CFDCFF 0%,#FFFFFF 52%);*/
}
.yelow {
   background-color: #FFFFCC;
}
.fuksiy {
   background-color: #CCCCFF;
}
/*------------footer----------------------*/
.box-footer {
    background: #212226;
    padding-top: 2.6041vw;
    padding-bottom: 2.6041vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.footer__title {
    padding-left: 1.5625vw;
    font-size: 1.5625rem;
    color: #fff;
}
.footer__list {
    padding: 1.5625vw;
}
.footer__item ul li {
  margin-bottom: 5px;
}
.footer__item ul li a {
  color: #8b8c8c;
  font-size: 0.9375rem;
  transition: color .3s ease;
  will-change: color;
  font-weight: 400;
  display: block;
  line-height: 1.5;
}
.footer-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  border-top: 2px solid #fff;
  text-align: right;
  padding-top: 1.5625vw;
  padding-bottom: 1.04167vw;
  width: 100%;
  margin-top: 1.5625vw;
  font-size: 1rem;
}
.social {
    justify-content: space-evenly;
    display: flex;
}
.social li {
    padding: 0 10px;
}
.footer ul li {
    position: relative;
    line-height: 1.5;
}
.social li a {
    color: #fff;
    display: block;
    width: 1.5625vw;
    height: 1.5625vw;
    padding: 2px;
    line-height: 2.0833vw;
    text-align: center;
}
.social li i {
    font-size: 1.25rem;
}
.menusitemap a {
    color: #fff;
    font-size: 1rem;
}
.menusitemap a::before {
    padding-right: 0.52083vw;
    font-size: 1.25rem;
}
.copirite {
  color: #fff;
}
/*----------end footer---------------------*/
