@import 'bootstrap-custom';
body {
  min-width: 360px;
}
/*---------------skroll down----------------------*/
.scroll {
	position:relative;
	font-size:15px;
	margin-top:40px;
	display:inline-block;

  &:hover {
    text-decoration:none;
  }

  &:after {
    content:'';
    width:40px;
    height:40px;
    position:absolute;
    top:40px;
    margin:auto;
    top:50px;
    right:0;
    bottom:0;
    left:0;
    -webkit-animation:3s arrow infinite ease;
    animation:3s arrow infinite ease;
    border-right:2px solid #fff;
    border-bottom:2px solid #fff;
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
  }
}

.inner {
  margin: 0 auto;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 13%;
  left: 50%;
  z-index: 9999999;
  transform: translate(-50%, 0);

  a {
    color: #fff;
    font-family: $fontMain;
    text-decoration: none;
  }
}

pre {
	background:rgba(0,0,0,0.2);
	padding:2em 0 2em 0;
	font-size:2.1em;
	margin-top:0.7em;
}
@-webkit-keyframes arrow {
	0%,100% {
		top:50px;
	}
	50% {
		top:80px;
	}
}
@keyframes arrow {
	0%,100% {
		top:50px;
	}
	50% {
		top:80px;
	}
}
/*--------network icons----------------*/
.networks {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

  .networks__icon {
    display: block;
    float: right;
    padding-left: 20px;

    &:hover {
      content: '';
      text-decoration: none;

      &:before {
        color: $colorGrey;
        cursor: pointer;
      }
    }

    &:before {
      color: $colorBlue;
      font-family: $fontAmesome;
      font-size: 20px;
    }
  }

  .networks__icon--facebook {

    &:before {
      content: "\f09a";
    }
  }

  .networks__icon--twitter {

    &:before {
      content: "\f099";
    }
  }

  .networks__icon--instagram {

    &:before {
      content: "\f16d";
    }
  }
}
/*------------main menu----------------------*/
.fusion-header-wrapper {
  position: fixed;
  width: 100%;
  color: #183f8c;
  z-index: 10010;

  .fusion-header {
    z-index: 999999;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    width: 100%;
    overflow: visible !important;
    background-color: rgba(255,255,255,.8) !important;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: background-color .25s ease-in-out;

    .fusion-row {
      position: relative;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      max-width: 1300px;
      margin: 0 auto;

      .fusion-header-content {
        z-index: 99999;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-align-items: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .fusion-logo {
          z-index: 99999;
          margin-top: 22px;
          margin-right: 0;
          margin-bottom: 22px;
          margin-left: 0;
          display: block;
          float: left;
          max-width: 100%;
          zoom: 1;

          a {
            display: block;
            max-width: 100%;
          }
        }

        .fusion-flyout-menu-icons {
          font-size: 20px;
          margin: 0 -22.5px;
          margin-right: 0 !important;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -ms-align-items: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          z-index: 99999;

          .fusion-flyout-menu-toggle {
            padding: 0 23px;
            cursor: pointer;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            box-sizing: content-box;
            line-height: 1;
            height: 18px;
            width: 30px;
            display: none !important;

            .fusion-toggle-icon-line {

              &::nth-child(1) {
                webkit-transform-origin: left top;
                -ms-transform-origin: left top;
                transform-origin: left top;
                opacity: 1;
                -webkit-transform: rotate(0);
                -ms-transform: rotate(0);
                transform: rotate(0);
                transition: .25s ease-in-out;
                height: 2px;
                width: 30px;
                background-color: #123479;
              }
            }
          }
        }
      }
    }
  }
}
.menu-header-menu-container {
  margin-left: auto;
  padding-right: 124px;
  margin-top: 53px;
  right: -73px;
  position: relative;
  width: 70%;

  #menu-header-menu {
   list-style: none;
   margin: 13px 0;
   float: right;
   padding-left: 0;
   margin-top: 10px;

   li  {
    display: inline-block;
    margin: 0 25px;
   }
  }

  a {
    color: #123479;
    font-size: 20px;
  }
}
.fullscreen-menu-button {
    cursor: pointer;
    opacity: 1;
    transition: all 1s ease-In-Out;
    margin-top: 40px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.upper-info {
    position: absolute;
    right: 0;
    top: 22px;
    font-weight: bold;
    z-index: 100000;
    width: 82%;
    text-align: right;
    padding-bottom: 5px;
    font-size: 20px;
    border-bottom: solid 1px #183f8c;

    a {
      color: #123479;
      transition: all ease .2s;
    }
    .contacts {
      text-transform: uppercase;
    }
}
#fullscreen-button-icon {
    width: 20px;
    height: 16px;
    position: relative;
    display: inline-block;
    margin-left: 5px;
}
#fullscreen-button-icon span:nth-of-type(1) {
    top: 1px;
}
#fullscreen-button-icon span {
    height: 3px;
    width: 100%;
    background-color: #17397a;
    display: block;
    position: absolute;
    border-radius: 2px;
    transition: background-color ease .2s;
}
#fullscreen-button-icon span:nth-of-type(2), #fullscreen-button-icon span:nth-of-type(3) {
    top: 7px;
}
#fullscreen-button-icon span:nth-of-type(3) {
    background-color: #17397a;
}
#fullscreen-button-icon span:nth-of-type(4) {
    top: 13px;
}
/*--------------------------------------*/
.siteslider {
  position: relative;
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        background-position: center;
        background-size: cover;
        height: 800px;
        .position {
          top: 50%;
          left: 15%;
          position: absolute;
          transform: translate(-15%, -50%);
          .title {
            font-size: 41px;
            font-weight: 300;
            color: $fontWhite;
          }
          .subtitle {
            font-size: 21px;
            color: $fontWhite;
            text-transform: uppercase;
            margin-top: 35px;
            margin-bottom: 35px;
          }
          .text {
            font-size: 14px;
            max-width: 400px;
            line-height: 1.3;
            color: $fontWhite;
            a {
              text-transform: uppercase;
            }
          }
        }
      }
      .swiper-slide_left {
        background-image: url(../img/Home3.jpg);
      }
      .swiper-slide_center {
        background-image: url(../img/Home4.jpg);
      }
      .swiper-slide_right {
        background-image: url(../img/Home7.jpg);
      }
    }
  }
  .tagline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    z-index: 80;
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
    text-align: center;

    h2 {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 3em;
      font-weight: bold;
      color: white;
      text-shadow: 0 2px 12px #26324b, 0 0 4px rgba(37,49,74,.6);
      margin-bottom: 35px;
    }
  }
}
/*----------------button---------------------------------*/
.fusion-button {
  border: 1px solid #fff;
  width: auto;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 1em 3em !important;
  text-transform: none !important;
  background: rgba(17,36,75,.3) !important;
  transition: all ease .5s !important;


  .fusion-button-text {
    color: #fff;
    font-size: 18px !important;
    letter-spacing: 1.5px !important;
    text-shadow: 0 1px 3px rgba(17,36,75,.6);
    font-weight: bold;
    transition: all .2s;
  }

  &:hover {
    transition: all ease .3s !important;
    background: rgba(17,36,75,.9) !important;
    margin-top: -3px;
    margin-bottom: 3px;
    box-shadow: 0 2px 5px rgba(17,36,75,.5);
    text-decoration: none;
  }
}
.fusion-button--blue {
  border-color: #123479 !important;
  background: rgba(255,255,255,.5) !important;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);

  .fusion-button-text {
    text-shadow: 0 1px 3px rgba(255,255,255,.1) !important;
    color: #123479 !important;
    text-align: center;
    text-decoration: none;
  }

  &:hover {
    transition: all ease .3s !important;
    background: rgba(255,255,255,.5) !important;
    margin-top: -3px;
    margin-bottom: 3px;
    box-shadow: 0 2px 5px rgba(17,36,75,.5);
    text-decoration: none;
  }
}
.fusion-button--blog {
  border-color: #123479 !important;
  background: rgba(255,255,255,.5) !important;
  padding: 7px!important;

  .fusion-button-text {
    text-shadow: 0 1px 3px rgba(255,255,255,.1) !important;
    color: #123479 !important;
    text-align: center;
    text-decoration: none;
    font-size: 13px!important;
    padding: 5px!important;
  }

  &:hover {
    transition: all ease .3s !important;
    background: rgba(255,255,255,.5) !important;
    margin-top: -3px;
    margin-bottom: 3px;
    box-shadow: 0 2px 5px rgba(17,36,75,.5);
    text-decoration: none;
  }
}
.fusion-button-wrapper {
  margin-top: 15px;
}
/*----------------------------*/
.fusion-separator  {
  border-top: 1px solid #123479;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 20px;
}
.fusion-separator--white {
    border-top: 1px solid #fff;
}
.slide {
  color: #123479;
  font-size: 16px;

  h3 {
    font-size: 48px;
  }
}
.transparent-block {
  background-color: rgba(255,255,255,0.8);
  width: 100%;
  padding: 100px 0;
  position: relative;
}
.box-wrapper {
  padding: 0 5%;
}
#slide-1 {
  background-image: url(../img/Home1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: none;
}
/*-------------slader 2-------------------*/
.sl-producs {
  padding: 0;
  position: relative;

  a {
    display: block;
    overflow: hidden;
    position: relative;
    background: #fff;

    &::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      opacity: 0;
      background: rgba(18,52,121,0.4);
      background: -moz-linear-gradient(top,rgba(18,52,121,0.4) 0,rgba(18,52,121,1) 100%);
      background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(18,52,121,0.4)),color-stop(100%,rgba(18,52,121,1)));
      background: -webkit-linear-gradient(top,rgba(18,52,121,0.4) 0,rgba(18,52,121,1) 100%);
      background: -o-linear-gradient(top,rgba(18,52,121,0.4) 0,rgba(18,52,121,1) 100%);
      background: -ms-linear-gradient(top,rgba(18,52,121,0.4) 0,rgba(18,52,121,1) 100%);
      background: linear-gradient(to bottom,rgba(18,52,121,0.4) 0,rgba(18,52,121,1) 100%);
    }
  }

  &:hover {

    a {

      &::before {
        opacity: 0.5;
        transition: all 0.5s ease-in-out;
      }
    }
  }
  .sl-producs__title {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999999;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

    h2 {
      color: #fff;
      text-align: center;
      font-size: 50px;
      text-shadow: 0px 1px 3px rgba(39, 39, 39, 0.5);
      line-height: 96px;

      &:hover {
        color: #fff;
      }
    }
  }
}
#slide-3 {
  background-image: url(../img/Home1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: none;

  .sl-blog__inner {
    position: relative;

    h4 {
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}
#slide-4 {

}
/*-----------------parallax effect--------------*/
.bg {
  background-image: url("../img/order-header.jpg");
  position: fixed;
  background-repeat: no-repeat;
 width: 100%;
 height: 400%;
 top:0;
 left:0;
 z-index: -1;
  }
  .bg-inner {
    color: #fff;
    font-family: arial;
    width: 500px;
    height: 350px;
    margin: auto;
    line-height: 20px;
    font-size: 16px;
    position: relative;
  }
  .bg-inner img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
.textwidget {
  text-align: center;
  font-size: 1.6em;
}
.fusion-footer {
  background-image: url(../img/bg_footer.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: none;
  padding: 50px 0 50px 0;
  color: #75868f;

  .footer-logo {
    padding-bottom: 30px;

    a {

      img {
        margin: 0 auto;
      }
    }
  }

  .fusion-column {
    a {
      color: #75868f;

      &:hover {
        color: #10234a;
        text-decoration: none;
        background-color: rgba(78,145,211,.2);
        transition: all ease .5s;
      }
    }
  }
}
