/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	overflow-y: scroll; /* всегда показываем вертикальную полосу прокрутки  */
}
html, body {
	height: 100%; /* чтобы подвал книзу можно было прижать */
}
body {
	line-height: 1;
	background: #f9f9f9;
	color: #2c2c2c;
	text-align: left;
	font: 13px Open Sans, Arial, sans-serif; /* используем безопасные шрифтовые CSS стеки */
}
/* --------------- /базовые настройки ---------*/